html {
    overflow-x: hidden;
}
body {
    font-size: 14px;
    line-height: 1;
    color: #7c7c7c;
    font-family: sans-serif;
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 12px 0;
}

header h1 {
    color: #000;
    font-size: calc(20px + 12 * (100vw / 1300));
    line-height: 32px;
    font-family: "Roboto Condensed", sans-serif;
}

header h1 span {
    color: #f42828;
}

header h1 span.header_taxi {
    color: #000;
    font-weight: 400;
}

header button {
    background: transparent;
    padding: 10px 24px;
    color: #000;
    font-weight: bold;
    border: 1px solid #7c7c7c;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
header button:hover {
    background: #02b45b;
    color: #fff;
    border: 1px solid #02b45b;
}
.menu-toggle {
    display: flex;
    justify-content: space-between;
}
header .menu-toggle ul {
    display: flex;
    list-style: none;
    padding-top: 10px;
}

header .menu-toggle ul li {
    margin: 0 9px;
}
header .menu-toggle ul li a {
    font-size: 16px;
    color: #7c7c7c;
}

header .menu-toggle ul li.active a {
    color: #000;
}

header .menu-toggle ul li.active a:hover {
    color: #000;
}

header .menu-toggle ul li a:hover {
    color: #f42828;
}
.js-hamburger {
    display: none;
}
.menu {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    background: #eee;
    transition: left 0.5s ease;
}

body.menu-opened .menu {
    right: 0;
}

button {
    position: relative;
    z-index: 1;
}

body.menu-opened button {
    border: 1px solid #000;
}

.menu {
    padding: 70px 40px;
    z-index: 12;
}
.menu ul {
    list-style: none;
    margin-bottom: 20px;
}

.menu ul li a {
    font-size: 16px;
    line-height: 2;
    color: #7c7c7c;
}

@media (max-width: 900px) {
    .menu-toggle {
        display: none;
    }
    .js-hamburger {
        display: block;
    }
}
/* map */
#map {
    background: url("../img/map.jpg") center no-repeat;
    background-size: cover;
    padding: 100px 0 10px;
    min-height: 90vh;
}

#map form {
    background: #fff;
    padding: 24px;
}

#map form .form-input {
    display: flex;
    justify-content: center;
}
#map form .form-input input[type="text"] {
    border: 1px solid #ccc;
    outline: none;
    color: #000;
    max-width: 280px;
    width: 100%;
    height: 45px;
    padding: 10px;
    font-size: 18px;
}
#map form .form-input button {
    width: 45px;
    height: 45px;
    border: 1px solid #ccc;
    color: #000;
}
/* ac_results */
.ac_results {
    padding: 10px 0;
    border: 1px solid #ccc;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results iframe {
    display: none;
    display/**/: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: mask();
}

.ac_results li {
    position: relative;
    margin: 0px;
    padding: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 18px;
    overflow: hidden;
}
/* form link */
.form-link1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 12px 0;
}
.form-link1 a {
    color: #3b84ce;
    margin-left: 4px;
}
.form-link1 a:hover {
    color: #000;
}
/* form-tab */
.form-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 17px 0;
}
/* select */
.select {
    position: relative;
    display: block;
    max-width: 270px;
    width: 100%;
}

.select__head {
    padding: 9px;
    font-size: 14px;
    color: rgba(66, 67, 72, 0.8);
    cursor: pointer;
    border: 1px solid #ccc;
}

.select__head::after {
    width: 10px;
    height: 6px;
    background: #fff url(../img/arrow.png) no-repeat center / cover;
    position: absolute;
    right: 20px;
    bottom: 50%;
    transform: translateY(50%);
    content: "";
    display: block;
    transition: 0.2s ease-in;
}

.select__head.open::after {
    transform: translateY(50%) rotate(180deg);
}

.select__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #000;
}

.select__list .select__item {
    position: relative;
    padding: 10px 15px;
    cursor: pointer;
    list-style-type: none;
}
.select__list .select__item:hover {
    content: "";
    background: #f3e34d url("../img/gal.png") no-repeat left;
}
/* form-tab2 */
.form-tab2 {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.form-control {
    outline: none;
    background: #ccc;
    border: 1px solid #ccc;
    padding: 7px;
}
.form-tab2-img {
    background: #ccc;
    color: #000;
    padding: 10px 0 9px 2px;
}
.form-tab2 option {
    background: #000;
    color: #fff;
    position: relative;
    width: 100%;
}
/* form-tab3 */
.form-tab3 input[type="tel"] {
    border: none;
    background: #ccc;
    padding: 10px;
    color: #fff;
}
/* form-link2 */
.form-link2 {
    display: flex;
}
.form-link2 a {
    color: #ccc;
    margin-right: 25px;
}
.form-link2 a:hover {
    color: #f50f0f;
}
.comments {
    display: flex;
    flex-direction: column;
}
.comments textarea {
    max-width: 400px;
    width: 100%;
    height: 40px;
}

#hider {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
#hider:checked + .content {
    display: block;
}
#clickme {
    color: #ccc;
    cursor: pointer;
}
.content {
    margin-top: 10px;
    display: none;
}
/* form-rate */
.form-rate {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
}
.form-rate .btn {
    color: #fff;
    background: #fcac45;
    max-width: 140px;
    width: 100%;
    height: 34px;
    border: none;
}

.form-rate .btn:hover {
    color: #fff;
    background: rgba(239, 147, 9);
}
p.form-info {
    margin-top: 24px;
}
/* footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 120px;
}
footer ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}
footer ul li a {
    margin-left: 14px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
footer ul li a:hover {
    color: #f31b1b;
}
footer p {
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
/* Modal Header */
.modal-header h2 {
    font-size: 34px;
    color: #000;
}
/* Modal Body */
.modal-body form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 0;
}
.modal-body form input[type="text"],
.modal-body form input[type="password"] {
    height: 30px;
    max-width: 200px;
    width: 100%;
    border: 2px solid #02b45b;
    padding: 4px;
    color: #000;
}
.modal-body form input[type="submit"] {
    height: 30px;
    max-width: 200px;
    width: 100%;
    padding: 4px;
    background: #02b45b;
    border: 2px solid #02b45b;
    margin-top: 12px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.modal-body form input[type="submit"]:hover {
    background: #137443;
    border: 2px solid #137443;
}
.modal-body ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.modal-body ul li img {
    max-width: 60px;
    width: 100%;
    height: 60px;
}
.modal-body ul li img:hover {
    opacity: 0.8;
}
/* Modal Footer */
.modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.modal-footer button {
    padding: 15px;
    background: transparent;
    border: 1px solid #02b45b;
    margin-top: 20px;
}
.modal-footer button:hover {
    background: #02b45b;
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fff;
    margin: 140px auto;
    padding: 20px;
    border: 1px solid #fff;
    animation-name: animatetop;
    animation-duration: 0.4s;
    clip-path: polygon(50% 0, 100% 27%, 100% 100%, 0 100%, 0 26%);
    background-size: cover;
    min-height: 400px;
    max-width: 450px;
    width: 100%;
    text-align: center;
}

/* The Close Button */
.close {
    color: #000;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
}
/**** АДАПТИВ ****/

@media (max-width: 768px) {
    footer ul {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .form-rate .btn {
        margin-top: 10px;
    }
}
