html { overflow-x: hidden; }
a{
	text-decoration:none;
	color:#41403f;
}
a:hover{
	text-decoration:none;
	color:#fcac45;
}
ul{
	list-style:none;
}
body{
	font-size:14px;
	line-height:1.5;
	color:#fff;
	font-family:Times New Roman;
}
/********************** #top-block *********/
#top-block{
  background:url(img/gogo.png) ;
  height:990px;
}
#top-block h4{
	font-size:25px;
	font-style:italic;
	font-weight:bold;
	margin-top:40px;
}
#top-block h4:hover{
	color:#f1c40f;
}
#top-block h1{
	font-size:55px;
	font-weight:normal;
	margin-top:238px;
}
#top-block p{
	font-size:16px;
	margin-top:20px;
}
#top-block p:hover{
	color:#f1c40f;
}
#top-block button{
	font-size:14px;
	font-weight:bold;
	background:#49b9e6;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border:2px solid #49b9e6;
	padding:10px 25px;
	margin-top:40px;
}
#top-block button:hover{
	color:#49b9e6;
	background:#fff;
}
#top-block h5{
	font-size:13px;
	margin-top:290px;
}
.mobile img{
	margin-top:100px;
}
/**************  #content      *********************/
#content{
	background:#0084b8;
}
#content img{
	margin-top:110px;
	height:144px;
}
#content h3{
	font-size:55px;
	font-weight:bold;
}
#content p{
	font-size:18px;
	margin-bottom:110px;
}
#content p:hover{
	color:#f1c40f;
}
#content h3:hover{
	color:#000;
}
/***************  ginger    *************************/
.ginger {
	padding-top:90px;
}
.ginger h2{
	font-size:55px;
	font-weight:bold;
	color:#000;
}
.ginger h5{
	font-size:18px;
	color:#000;
	margin-top:30px;
	line-height:1.9;
}
.ginger p{
	font-size:18px;
	color:#abaeaf;
	background:#ecf0f1;
	padding:20px;
	width:500px;
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
}
.ginger  h4{
	font-size:17px;
	color:#49b9e6;
	margin-left:30px;
}
.ginger  button{
	font-size:18px;
	color:#fff;
	background:#49b9e6;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border:2px solid #49b9e6;
	padding:10px 20px;
}
.ginger button:hover{
	color:#49b9e6;
	background:#fff;
}
.ginger img{
	padding-top:40px;
}
.man img{
	margin-top:-160px;
	margin-left:410px;
}
.power img{
	margin-left:-150px;
}
/*******************  #info  ********************/
#info{
	background:#ecf0f1;
	padding:130px 0;
}
#info h3{
	font-size:35px;
	color:#000;
	font-weight:bold;
}
#info h4{
	font-size:25px;
	color:#5e6060;
	font-style:italic;
}
#info p{
	font-size:18px;
	color:#5e6060;
}
#info p:hover{
	color:#f1c40f;
}
#info h5{
	font-size:18px;
	color:#1fade6;
}
#info h5:hover{
	text-decoration:underline;
}
/*******************  #footer_top    ************************/
#footer_top{
	background:#f1c40f;
	padding:60px 0;
}
#footer_top p{
	font-size:30px;
	font-weight:bold;
}
#footer_top p:hover{
	color:#000;
}
/*******************  #footer_bottom    ************************/
#footer_bottom{
	background:#d8af0c;
	padding:60px 0;
}
#footer_bottom p{
	font-size:20px;
}
#footer_bottom p:hover{
	color:#000;
}


/**************** АДАПТИВ *********************/


/****************   Смартфон 3.5*****************************/
@media(min-width:0px) and (max-width:320px){
	/********************** #top-block *********/
#top-block{
  height:700px;
}
#top-block h1{
	font-size:34px;
	margin-top:50px;
}
#top-block h5{
	margin-top:40px;
}
.mobile img{
	margin-top:10px;
	height:190px;
}
/**************  #content      *********************/
#content img{
	margin-top:30px;
	height:120px;
}
#content h3{
	font-size:35px;
}
#content p{
	margin-bottom:20px;
}
/***************  ginger    *************************/
.ginger {
	padding-top:20px;
}
.ginger img{
	height:240px;
}
.ginger h2{
	font-size:30px;
}
.ginger h5{
	font-size:16px;
	margin-top:5px;
	line-height:1.5;
}
.ginger p{
	padding:10px;
	width:270px;
}
.power img{
	margin-left:0px;
}
.man img{
	margin-top:-100px;
	margin-left:160px;
	height:140px;
}
/*******************  #info  ********************/
#info{
	padding:50px 0;
}

}
/****************   Смартфон 5.5*****************************/
@media(min-width:321px) and (max-width:480px){
	/********************** #top-block *********/
#top-block{
  height:700px;
}
#top-block h1{
	font-size:34px;
	margin-top:50px;
}
#top-block h5{
	margin-top:40px;
}
.mobile img{
	margin-top:10px;
	height:190px;
}
/**************  #content      *********************/
#content img{
	margin-top:30px;
	height:120px;
}
#content h3{
	font-size:35px;
}
#content p{
	margin-bottom:20px;
}
/***************  ginger    *************************/
.ginger {
	padding-top:20px;
}
.ginger img{
	height:240px;
}
.ginger h2{
	font-size:30px;
}
.ginger h5{
	font-size:16px;
	margin-top:5px;
	line-height:1.5;
}
.ginger p{
	padding:10px;
	width:270px;
}
.power img{
	margin-left:0px;
}
.man img{
	margin-top:-100px;
	margin-left:160px;
	height:140px;
}
/*******************  #info  ********************/
#info{
	padding:50px 0;
}
}
/****************   Планшет  *****************************/
@media(min-width:481px) and (max-width:768px){
	/********************** #top-block *********/
#top-block{
  height:500px;
}
#top-block h1{
	font-size:44px;
	margin-top:50px;
}
#top-block h5{
	margin-top:40px;
}
.mobile img{
	margin:-500px 0 0 400px;
	height:300px;
}
/**************  #content      *********************/
#content img{
	margin-top:30px;
	height:200px;
}
#content h3{
	font-size:35px;
}
#content p{
	margin-bottom:20px;
}
/***************  ginger    *************************/
.ginger {
	padding-top:20px;
}
.ginger img{
	height:240px;
}
.ginger h2{
	font-size:30px;
}
.ginger h5{
	font-size:16px;
	margin-top:5px;
	line-height:1.5;
}
.ginger p{
	padding:10px;
	width:600px;
}
.power img{
	margin-left:300px;
	margin-top:-200px;
}
.man img{
	margin-top:-100px;
	margin-left:470px;
	height:140px;
}
/*******************  #info  ********************/
#info{
	padding:50px 0;
}
}
/****************   Ноутбук  *****************************/
@media(min-width:769px) and (max-width:992px){
	/********************** #top-block *********/
#top-block{
  height:500px;
}
#top-block h1{
	font-size:44px;
	margin-top:50px;
}
#top-block h5{
	margin-top:40px;
}
.mobile img{
	height:400px;
}
/**************  #content      *********************/
#content img{
	margin-top:30px;
	height:200px;
}
#content h3{
	font-size:35px;
}
#content p{
	margin-bottom:20px;
}
/***************  ginger    *************************/
.ginger {
	padding-top:20px;
}
.ginger img{
	height:240px;
}
.ginger h2{
	font-size:30px;
}
.ginger h5{
	font-size:16px;
	margin-top:5px;
	line-height:1.5;
}
.ginger p{
	padding:10px;
	width:600px;
}
.power img{
	margin-left:260px;
	margin-top:-200px;
}
.man img{
	margin-top:-100px;
	margin-left:470px;
	height:140px;
}
/*******************  #info  ********************/
#info{
	padding:50px 0;
}
}