html {
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #41403f;
	cursor: pointer;
}

ul {
	list-style: none;
}

body {
	font-size: 14px;
	line-height: 1.5;
	color: #fff;
	font-family: Times New Roman;
}

/*** #top-block ***/
#top-block {
	background: url(img/gogo.png) no-repeat center;
	padding: 30px 0;
	background-size: cover;
}

#top-block h4 {
	font-size: 25px;
	font-style: italic;
	font-weight: bold;
}

#top-block h1 {
	font-size: calc(30px + 25 * (100vw / 1300));
	margin-top: 138px;
}

#top-block p {
	font-size: 16px;
	margin-top: 20px;
}

#top-block button {
	font-size: 14px;
	font-weight: bold;
	background: #49b9e6;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 2px solid #49b9e6;
	padding: 10px 25px;
	margin-top: 40px;
}

#top-block button:hover {
	color: #49b9e6;
	background: #fff;
}

.social-icons {
	margin-top: 100px;
}

.mobile img {
	max-width: 371px;
	width: 100%;
	margin: 0 auto;
}

/***  #content  *****/
#content {
	background: #0084b8;
	padding: 30px 0;
}

#content img {
	max-width: 140px;
	width: 100%;
	margin: 0 auto;
}

#content h3 {
	font-size: calc(30px + 25 * (100vw / 1300));
	font-weight: bold;
}

#content p {
	font-size: 18px;
}

/***  ginger *****/
.ginger {
	padding: 30px 0;
}

.ginger h2 {
	font-size: 55px;
	font-weight: bold;
	color: #000;
}

.ginger h5 {
	font-size: 18px;
	color: #000;
	margin-top: 30px;
	line-height: 1.9;
}

.ginger p {
	font-size: 18px;
	color: #abaeaf;
	background: #ecf0f1;
	padding: 20px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}

.ginger h4 {
	font-size: 17px;
	color: #49b9e6;
	margin-left: 30px;
}

.ginger button {
	font-size: 18px;
	color: #fff;
	background: #49b9e6;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 2px solid #49b9e6;
	padding: 10px 20px;
}

.ginger button:hover {
	color: #49b9e6;
	background: #fff;
}

.ginger .cont {
	position: relative;
}

.ginger .man {
	position: absolute;
	right: 1px;
	bottom: -80px;
	max-width: 106px;
	width: 100%;
}

.ginger img {
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
}

/****  #info  *****/
#info {
	background: #ecf0f1;
	padding: 130px 0;
}

#info h3 {
	font-size: calc(20px + 15 * (100vw / 1300));
	color: #000;
	font-weight: bold;
}

#info h4 {
	font-size: 25px;
	color: #5e6060;
	font-style: italic;
}

.more {
	font-size: 18px;
	color: #5e6060;
}

.more a {
	font-size: 18px;
	color: #1fade6;
	background: transparent;
	border: none;
}

/***  #footer_top  *****/
#footer_top {
	background: #f1c40f;
	padding: 40px 0;
}

#footer_top p {
	font-size: 30px;
	font-weight: bold;
}


/**** #footer_bottom  *****/
#footer_bottom {
	background: #d8af0c;
	padding: 40px 0;
}

#footer_bottom a {
	font-size: 20px;
	font-style: none;
	color: #fff;
}



/*** АДАПТИВ ***/

/** Смартфон 3.5 ***/
@media (min-width: 0px) and (max-width: 320px) {
	.mobile-block {
		width: 100%;
	}
}

@media (max-width: 600px) {
	.ginger .ginger-img {
		width: 100%;
	}

}

/*****   Планшет  *********/
@media (min-width: 481px) and (max-width: 768px) {}

/******   Ноутбук  *********/
@media (min-width: 769px) and (max-width: 992px) {}