html {
	overflow-x: hidden;
}
body {
	font-size: 15px;
	line-height: 1.2;
	color: #aaaaaa;
	font-family: "Lato", sans-serif;
	background-color: #fff;
}
.container {
	max-width: 1266px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

/* header */
header {
	background-color: #000;
}
header img {
	max-width: 1348px;
	width: 100%;
	min-height: 370px;
}
.slider__item {
	position: relative;
	text-align: center;
}
.header-info {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
header h2 {
	font-size: calc(34px + 26 * (100vw / 1266));
	color: #fff;
	text-transform: uppercase;
}
header h2.the {
	font-family: "Dancing Script", cursive;
}
header p {
	color: #fff;
	font-size: 18px;
}
header button {
	padding: 14px;
	border: 1px solid #fff;
	color: #fff;
	background-color: transparent;
	margin-top: 37px;
	border-radius: 22px;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	-ms-border-radius: 22px;
	-o-border-radius: 22px;
}
header button:hover {
	border: 1px solid #f8b83c;
	color: #f8b83c;
}
/* slider-header */
.slick-list {
	overflow: hidden;
}
.slick-track {
	display: flex;
}
.slider-header {
	position: relative;
}

/* about */
.about {
	background-color: #cfcdcd;
	padding: 70px 0 40px;
}
.about h4 {
	color: #000;
	font-size: 30px;
	font-family: "Dancing Script", cursive;
}
.about h3 {
	color: #000;
	font-size: 30px;
	margin: 14px 0;
}
.about p {
	color: #969696;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 30px;
}
/* img */
.about-img {
	position: relative;
	height: 468px;
	max-width: 312px;
	width: 100%;
	border: 3px solid #969696;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.about-img-poster {
	position: absolute;
	transform: translate(5%, -10%);
	max-width: 312px;
	width: 100%;
	height: 468px;
	z-index: 10;
	-webkit-transform: translate(5%, -10%);
	-moz-transform: translate(5%, -10%);
	-ms-transform: translate(5%, -10%);
	-o-transform: translate(5%, -10%);
}
/* end img*/
.select {
	position: relative;
	display: block;
	width: 100%;
	max-width: 200px;
	margin-bottom: 70px;
}
.select__head {
	width: 100%;
	max-width: 100%;
	border: 3px solid #0e66da;
	padding: 14px;
	font-size: 14px;
	font-weight: bold;
	color: #0e66da;
	cursor: pointer;
	background: #fff;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}
.select__head:hover {
	border: 3px solid #f8b83c;
	color: #f8b83c;
}
.select__head::after {
	width: 26px;
	height: 26px;
	background: url("../img/about-button.png") no-repeat center / cover;
	position: absolute;
	right: 20px;
	bottom: 50%;
	transform: translateY(50%);
	content: "";
	display: block;
	transition: 0.2s ease-in;
}
.select__head.open::after {
	transform: translateY(50%) rotate(180deg);
}
.select__list {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: #fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	margin-top: 5px;
	max-height: 205px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 100;
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #424348;
	scrollbar-color: dark;
	scrollbar-width: thin;
	overscroll-behavior: contain;
}
.select__list::-webkit-scrollbar {
	width: 7px;
	background-color: #f8f9fa;
	padding: 5px;
}
.select__list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #d9d9d9;
}
.select__list .select__item {
	position: relative;
	border-top: 1px solid rgba(224, 229, 231, 0.5);
	padding: 10px 15px;
	cursor: pointer;
	list-style-type: none;
}
.select__list .select__item:hover {
	background-color: rgba(224, 229, 231, 0.5);
}

/* portfolio */
.portfolio {
	margin: 70px 0;
}
.portfolio h5 {
	font-size: 30px;
	color: #000;
	margin-bottom: 20px;
}
.portfolio p {
	margin-bottom: 20px;
	text-align: left;
	padding-left: 17px;
}
.portfolio img {
	max-width: 370px;
	width: 100%;
	margin: 0 auto;
}
.grid1 {
	display: grid;
	grid-gap: 10px;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
		"a b c"
		"d e f"
		"k l m";
}
.shop_1_row {
	grid-area: a;
}
.shop_2_row {
	grid-area: b;
}
.shop_3_row {
	grid-area: c;
	align-self: center;
}
.shop_4_row {
	grid-area: d;
}
.shop_5_row {
	grid-area: e;
}
.shop_6_row {
	grid-area: f;
}
.shop_7_row {
	grid-area: k;
}
.shop_8_row {
	grid-area: l;
}
.shop_9_row {
	grid-area: m;
}
.shop_6_row img {
	filter: blur(8px);
	-webkit-filter: blur(8px);
}
.portfolio_item {
	position: relative;
	text-align: center;
	opacity: 1;
	transition: 0.5s ease;
}
.portfolio_item:hover .image {
	opacity: 0.3;
}
.portfolio_item:hover .middle {
	opacity: 1;
}
.bg-text {
	color: #0e66da;
	border: 3px solid #000;
	width: 80%;
	padding: 5px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
.middle {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.text {
	background-color: #4caf50;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
}
/* slider */
.slider {
	background: url("../img/slider-bg.png") center no-repeat;
	padding: 50px 30px;
	color: #fff;
}
@media (max-width: 850px) {
	.slider {
		padding: 20px 10px;
	}
	.slider p.comments {
		font-size: 13px;
	}
	.slider p.author {
		font-size: 20px;
	}
}
.slider p.comments {
	font-size: 16px;
	line-height: 1.4;
}
.slider p.author {
	font-size: 24px;
	text-transform: uppercase;
	margin: 30px 0 10px;
}
/* slider-carusel */
/* Slideshow container */
.slideshow-container {
	position: relative;
}
/* Slides */
.mySlides:first-child {
	display: block;
	text-align: center;
}
.mySlides {
	display: none;
	text-align: center;
}
/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 10px;
	color: #888;
	font-weight: bold;
	font-size: 20px;
	border-radius: 3px;
	user-select: none;
}
/* Position the "next button" to the right */
.next {
	position: absolute;
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}
/* The dot/bullet/indicator container */
.dot-container {
	text-align: center;
	background: transparent;
	padding-top: 30px;
}
/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 4px;
	width: 26px;
	border-radius: 2px;
	background-color: #000;
	display: inline-block;
	transition: background-color 0.6s ease;
}
/* Add a background color to the active dot/circle */
.active,
.dot:hover {
	background-color: #fff;
}
/* my_work */
.my_work {
	margin: 22px 0;
	text-align: center;
}
.my_work h4 {
	font-size: 32px;
	color: #000;
	margin-bottom: 30px;
}
/* my_work img hover */
figure.snip1321 {
	position: relative;
	overflow: hidden;
	color: #000000;
	text-align: center;
	-webkit-perspective: 50em;
	perspective: 50em;
	max-width: 368px;
	width: 100%;
	margin: 10px auto;
}
figure.snip1321 * {
	-webkit-box-sizing: padding-box;
	box-sizing: padding-box;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
figure.snip1321 img {
	max-width: 100%;
	vertical-align: top;
}
figure.snip1321 figcaption {
	top: 50%;
	left: 20px;
	right: 20px;
	position: absolute;
	opacity: 0;
	z-index: 1;
}
figure.snip1321 h2,
figure.snip1321 h4 {
	font-weight: 400;
	text-transform: uppercase;
}
figure.snip1321:after {
	background-color: #ffffff;
	position: absolute;
	content: "";
	display: block;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	-webkit-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	opacity: 0;
}
figure.snip1321:hover figcaption,
figure.snip1321.hover figcaption {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
figure.snip1321:hover:after,
figure.snip1321.hover:after {
	-webkit-transform: rotateX(0);
	transform: rotateX(0);
	opacity: 0.9;
}

/* filter my_work */
.column {
	float: left;
	display: none;
}

.show {
	display: block;
}
.btn {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: white;
	cursor: pointer;
	margin-bottom: 30px;
	color: #000;
	font-size: 18px;
	font-weight: bold;
}
.btn.active {
	background-color: #666;
	color: white;
}
.btn:hover {
	background-color: #ddd;
}
/* result */
.result {
	margin: 24px 0;
	padding: 20px 0;
	background-color: #ffe342;
	text-align: center;
	color: #000;
}
.result-block {
	display: flex;
	flex-direction: column;
	padding: 15px 0;
}
.result img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 77px;
	height: 80px;
}
.result span {
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	margin: 12px 0;
}
.result p {
	font-size: 20px;
	font-weight: bold;
}
/* slider2 */
.slider2 img {
	max-width: 300px;
	width: 100%;
}
.slick-list {
	overflow: hidden;
}
.slick-track {
	display: flex;
}
.slider-slider2 {
	position: relative;
}
/* contacts */
.contacts {
	margin: 70px 0;
}
.contacts h5 {
	font-size: 30px;
	color: #000;
	margin-bottom: 20px;
}
.contacts p {
	max-width: 470px;
	width: 100%;
	margin-bottom: 40px;
}
.search_form {
	display: flex;
	flex-direction: column;
}
.search-form_info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.search-form_field {
	max-width: 300px;
	width: 100%;
	background: transparent;
	border: 0;
	border-bottom: 2px solid #bfc0c5;
	padding-bottom: 12px;
	font-size: 18px;
	color: #000;
}
.search-form_textarea {
	max-width: 600px;
	width: 100%;
	height: 140px;
	background: transparent;
	border: 0;
	border-bottom: 2px solid #bfc0c5;
	font-size: 18px;
	color: #000;
}
.search-form_submit {
	padding: 15px;
	font-size: 24px;
	color: #000;
	background-color: transparent;
	border: 2px solid #000;
	margin-top: 30px;
	max-width: 200px;
	width: 100%;
}
.search-form_submit:hover,
.search-form_submit:focus,
.search-form_submit:active {
	background: #0e66da;
}
/* footer */
footer {
	margin-bottom: 25px;
}
footer p {
	margin-top: 20px;
}
footer ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 20px;
}
/**** АДАПТИВ ****/
@media (max-width: 600px) {
	.grid1 {
		grid-template-columns: 1fr;
		grid-template-areas:
			" a "
			" b "
			" c "
			" d "
			" e "
			" f "
			" k "
			" l "
			" m ";
	}
}
