* {
	box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
	font-size: 20px;
	line-height: 20px;
	color: #282828;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 400;
	background-color: #fff;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 30px;
}

/* header */
header .header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
header .header__navigation .hamburger-menu {
	margin-top: -40px;
}
/* menu__toggle */
header .header__navigation .hamburger-menu #menu__toggle {
	opacity: 0;
}
header .header__navigation .hamburger-menu #menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
}
header .header__navigation .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
}
header .header__navigation .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
header .header__navigation .hamburger-menu #menu__toggle:checked ~ .menu__box {
	visibility: visible;
	left: 0;
}
header .header__navigation .hamburger-menu .menu__btn {
	display: flex;
	align-items: center;
	position: absolute;
	width: 21px;
	height: 21px;
	cursor: pointer;
	z-index: 201;
}
header .header__navigation .hamburger-menu .menu__btn > span,
header .header__navigation .hamburger-menu .menu__btn > span::before,
header .header__navigation .hamburger-menu .menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #282828;
	transition-duration: .25s;
}
header .header__navigation .hamburger-menu .menu__btn > span::before {
	content: '';
	top: -8px;
}
header .header__navigation .hamburger-menu .menu__btn > span::after {
	content: '';
	top: 8px;
}
header .header__navigation .hamburger-menu .menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: -100%;
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	background-color: #f1f1f1;
	transition-duration: .25s;
	z-index: 100;
}
header .header__navigation .hamburger-menu .menu__box .menu__item {
	display: block;
	padding: 12px 24px;
	color: #282828;
	font-size: 20px;
	text-decoration: none;
	transition-duration: .25s;
}
header .header__navigation .hamburger-menu .menu__box .menu__item:hover {
	background-color: #CFD8DC;
}
/* header__logo */
header .header__navigation .header__logo h3 {
	font-size: 40px;
	font-weight: 700;
}
/* header__right-menu */
header .header__navigation .right-menu a.user {
    margin: 0 62px 0 58px;
}
header .header__navigation .right-menu .shopping-cart {
    position: relative;
	margin-right: 7px;
}
header .header__navigation .right-menu .num-cart-product {
	font-size: 13px;
    position: absolute;
    top: -7px;
    right: -7px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #282828;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* login */
header .form {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 102;
}
header .login-form,
header .sign-up-form {
    width: 420px;
    padding: 20px 10px;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
}
header .login-form form,
header .sign-up-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
header .login-form strong,
header .sign-up-form strong {
    color: #272727;
    font-size: 2rem;
    margin: 2px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
}
header .login-form input,
header .sign-up-form input {
    width: 90%;
    height: 45px;
    margin: 6px 0;
    padding: 0 10px;
    border: 1px solid rgba(0,0,0,0.5);
    outline: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
header .login-form input::placeholder,
header .sign-up-form input::placeholder {
    color: rgba(0,0,0,0.5);
}
header .login-form [type='submit'],
header .sign-up-form [type='submit'] {
    background: #282828;
    color: #fff;
    border: none;
    outline: none;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.5);
}
header .form-btns {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
header .form-btns a {
    color: #4d4d4d;
    font-size: 0.9rem;
}
header .sign-up-btn {
    border-bottom: 1px solid #868686;
    line-height: 16px;
}
header .form-cancel {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #868686;
}
header .login-form,
header .sign-up-form,
header .form {
    display: none;
}
header .login-active,
header .login-active .login-form {
    display: flex;
    animation: fade 0.3s;
    -webkit-animation: fade 0.3s;
}
header .sign-up-active,
header .sign-up-active .sign-up-form {
    display: flex;
    animation: fade 0.3s;
    -webkit-animation: fade 0.3s;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* slider-block */
.slider-block {
	margin-top: 20px;
}
.slider-block .wrapper {
	padding: 0 10px;
}
.slider-block .slick-list {
	overflow: hidden;
}
.slider-block .slick-track {
	display: flex;
}
.slider-block .slider {
	position: relative;
}
.slider-block .slider__item {
	position: relative;
	background: url(../img/slider.jpeg) no-repeat right;
	background-size: countain;
	height: 577px;
}
.slider-block .slider__item .slider__item-text {
	top: 84px;
	left: 40px;
	width: 442px;
	z-index: 100;
	position: absolute;
}
.slider-block .slider__item .slider__item-text h1 {
	font-size: calc(40px + 30 * (100vw / 1429));
	line-height: 70px;
	font-weight: 700;
}
.slider-block .slider__item .slider__item-text button {
	color: #000;
	margin-top: 48px;
	padding: 16px 56px 16px 32px;
	font-size: 18px;
	background: transparent;
	border: 2px solid #282828;
}
.slider-block .slider .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	height: 15px;
	width: 15px;
	border: none;
}
.slider-block .slider .slick-arrow.slick-prev {
	left: 10px;
	background: url('../img/arrow-left.png') 0 0  no-repeat;
}
.slider-block .slider .slick-arrow.slick-next {
	right: -20px;
	background: url('../img/arrow-right.png') 0 0 no-repeat;
}
.slider-block .slider__item .slider__item-image img {
	max-width: 730px;
	width: 100%;
	min-height: 340px;
}

/* categories */
.categories {
	margin: 200px 0 110px;
	background: #f1f1f1;
	padding-bottom: 96px;
}
.categories .categories-items {
	display: flex;
	justify-content: space-between;
}
.categories .categories-items .categories-item {
	position: relative;
	flex-basis: 33%;
	margin-top: -50px;
}
.categories .categories-items .categories-item img {
	max-width: 350px;
	width: 100%;
	margin: 0 auto;
}
.categories .categories-items .categories-item .categories-text {
	position: absolute;
	bottom: 40px;
	left: 24px;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

/* pay-attention */
.pay-attention {
	margin: 172px 0 10px;
}
.pay-attention .grid {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"a a e e"
		"a a b b"
		"c c b b"
		"c c d d"
		". . d d";
}
.pay-attention .grid .item1 {
	grid-area: a;
	display: flex;
}
.pay-attention .grid .item1 .pay-attention__img img {
	width: 255px;
	height: 451px;
}
.pay-attention .grid .item1 .pay-attention__text {
	padding: 70px 0 0 28px;
}
.pay-attention .grid .item1 .pay-attention__text h3 {
	padding-top: 24px;
}
.pay-attention .grid .item1 .pay-attention__text p {
	width: 180px;
}
.pay-attention .grid .pay-attention__text a {
	font-size: 13px;
	line-height: 20px;
	background: #e6e6e6;
	padding: 2px 10px;
}
.pay-attention .grid .pay-attention__text h3 {
	font-size: 20px;
	line-height: 20px;
	font-weight: 700;
}
.pay-attention .grid .pay-attention__text p {
	font-size: 14px;
	line-height: 20px;
	padding: 4px 0;
}
.pay-attention .grid .pay-attention__text p.sale {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
}
.pay-attention .grid .pay-attention__text p.sale-2 {
	font-size: 14px;
	line-height: 20px;
	color:#5c5353;
	font-weight: 700;
	text-decoration: line-through;
	padding-left: 10px;
}
.pay-attention .grid .item2 .pay-attention__text,
.pay-attention .grid .item3 .pay-attention__text,
.pay-attention .grid .item4 .pay-attention__text {
	display: flex;
}
.pay-attention .grid .item2 .pay-attention__text-block,
.pay-attention .grid .item3 .pay-attention__text-block,
.pay-attention .grid .item4 .pay-attention__text-block {
	margin-left: 20px;
}
.pay-attention .grid .item1-2 {
	grid-area: e;
}
.pay-attention .grid .item1-2 h2 {
	font-size: 50px;
	line-height: 50px;
	color: #d4d4d4;
	margin-bottom: 75px;
	font-weight: 700;
}
.pay-attention .grid .item2 {
	grid-area: b;
}
.pay-attention .grid .item2 .pay-attention__img img {
	max-width: 540px;
	width: 100%;
	margin: 0 auto;
}
.pay-attention .grid .item3 {
	grid-area: c;
}
.pay-attention .grid .item3 .sale-block {
	display: flex;
}
.pay-attention .grid .item3 .pay-attention__img img,
.pay-attention .grid .item4 .pay-attention__img img {
	max-width: 440px;
	width: 100%;
	margin: 0 auto;
}
.pay-attention .grid .item4 {
	grid-area: d;
}

/* new-publications */
.new-publications {
	margin: 104px 0;
}
.new-publications  .new-publications__items {
	display: flex;
	justify-content: space-between;
}
.new-publications .new-publications__items .new-publications__item {
	flex-basis: 50%;
	padding: 0 10px;
}
.new-publications .new-publications__items .new-publications__item  .publication {
	display: flex;
	margin-bottom: 60px;
}
.new-publications .new-publications__items .new-publications__item  .publication h3 {
	font-size: 30px;
	font-weight: 700;
	margin-right: 60px;
}
.new-publications .new-publications__items .new-publications__item  .publication a {
	font-size: 13px;
	color: #717171;
}
.new-publications .new-publications__items .new-publications__item p {
	margin: 10px 0;
	font-size: 15px;
	line-height: 20px;
	max-width: 460px;
}
.new-publications .new-publications__items .new-publications__item  img.new-publications-1 {
	max-width: 446px;
	width: 100%;
	margin: 0 auto;
}
.new-publications .new-publications__items .new-publications__item  img.new-publications-2 {
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	height: 540px;
}
.new-publications-arrow,
.slider-btn-arrow {
	padding-left: 8px;
}

/* video */
.video {
	margin: 50px 0;
	text-align: center;
}
.video__title {
	font-size: 30px;
}
.video__description {
	margin: 20px 0;
}
.video__content {
	position: relative;
}

/* you-viewed */
.you-viewed {
	padding: 108px 0 116px;
	background: #f1f1f1;
}
.you-viewed h2 {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 64px;
}
.you-viewed .you-viewed__item {
	display: flex;
	justify-content: space-between;
}
.you-viewed .you-viewed__item .you-viewed__items {
	flex-basis: 23%;
}
.you-viewed .you-viewed__item .you-viewed__items img {
	max-width: 255px;
	width: 100%;
	margin: 0 auto;
}
.you-viewed .you-viewed__item .you-viewed__items h3 {
	font-size: 20px;
	font-weight: 700;
	margin-top: 20px;
}
.you-viewed .you-viewed__item .you-viewed__items p {
	font-size: 13px;
	margin: 14px 0;
}
.you-viewed .you-viewed__item .you-viewed__items h4 {
	font-size: 16px;
	font-weight: 700;
}

/* footer */
footer {
	padding: 44px 0 32px;
}
footer .footer__item {
	display: flex;
	justify-content: space-between;
}
footer .footer__item .footer__items {
	flex-basis: 23%;
}
footer .footer__item .footer__items ul li.title {
	padding-bottom: 20px;
}
footer .footer__item .footer__items ul li.title a {
	font-size: 14px;
	color: #282828;
	font-weight: 700;
}
footer .footer__item .footer__items ul li {
	margin-bottom: 18px;
}
footer .footer__item .footer__items ul li a {
	font-size: 13px;
	color: #717171;
}
footer .footer__info {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}
footer .footer__info .footer__info-logo {
	display: flex;
	align-items: center;
}
footer .footer__info .footer__info-logo h3 {
	font-size: 17px;
}
footer .footer__info .footer__info-logo p {
	margin-left: 10px;
	color: #717171;
	font-size: 13px;
	line-height: 30px;
}
footer .footer__info .footer__info-politics p {
	color: #717171;
	font-size: 13px;
	line-height: 30px;
}

/* @media */
@media (max-width: 1110px) {
	.pay-attention .grid .item1-2 h2 {
		font-size: 46px;
		line-height: 70px;
		margin-bottom: 75px;
	}
}

@media(max-width:940px) {
	header .header__navigation {
		padding: 15px 0;
	}
	header .header__navigation .right-menu a.right-menu-tel {
		display: none;
	}
	.pay-attention {
		margin: 90px auto 10px;
	}
	.categories {
		margin: 70px 0;
		background: #f1f1f1;
		padding-bottom: 96px;
	}
}

@media(max-width:840px) {
	.slider-block .wrapper {
		padding: 0 10px;
	}
	.slider-block .slider__item .slider__item-text {
		padding: 0 10px;
	}
	.slider-block .slider__item {
		background-size: cover;
		height: 500px;
	}
	.slider-block .slider .slick-arrow {
		top: 70%;
	}
	.slider-block .slider .slick-arrow.slick-next {
		right: 0;
	}
	.pay-attention .grid {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"e e"
			"a a"
			"c d"
			"b b";
	}
	.pay-attention .grid .item2 .pay-attention__text,
	.pay-attention .grid .item3 .pay-attention__text,
	.pay-attention .grid .item4 .pay-attention__text {
		flex-direction: column;
	}
	.pay-attention .grid .item2 .pay-attention__text-block,
	.pay-attention .grid .item3 .pay-attention__text-block,
	.pay-attention .grid .item4 .pay-attention__text-block {
		margin-left: 0px;
	}
	.pay-attention .grid .item3 .pay-attention__img img {
		max-width: 240px;
		width: 100%;
		margin: 0 auto;
	}
	.new-publications {
		margin: 90px 0;
	}
	.new-publications  .new-publications__items {
		display: flex;
		flex-direction: column;
	}
	.new-publications .new-publications__items .new-publications__item {
		flex-basis: 100%;
		margin: 20px auto;
	}
}

@media(max-width:550px) {
	.pay-attention .grid .item1 {
		flex-direction: column;
	}
	.pay-attention .grid .item1 .pay-attention__text {
		padding: 20px 0 0 18px;
	}
	.pay-attention .grid .item1 .pay-attention__text h3 {
		padding-top: 14px;
	}
	.new-publications .new-publications__items .new-publications__item  .publication {
		flex-direction: column;
		margin-bottom: 20px;
	}
	.new-publications .new-publications__items .new-publications__item  .publication h3 {
		margin-bottom: 10px;
	}
	.categories .categories-items {
		flex-direction: column;
	}
	.categories .categories-items .categories-item {
		flex-basis: 100%;
		margin: 0 auto;
	}
	.categories .categories-items .categories-item img {
		margin: 40px auto;
	}
	.categories .categories-items .categories-item .categories-text {
		bottom: 80px;
	}
	.you-viewed {
		padding: 70px 0;
		background: #f1f1f1;
	}
	.you-viewed h2 {
		font-size: 24px;
		margin-bottom: 34px;
	}
	.you-viewed .you-viewed__item {
		flex-direction: column;
	}
	.you-viewed .you-viewed__item .you-viewed__items {
		flex-basis: 100%;
		margin: 0 auto;
	}
	.you-viewed .you-viewed__item .you-viewed__items img {
		max-width: 255px;
		width: 100%;
		margin: 0 auto;
	}
	footer .footer__item {
		flex-direction: column;
	}
	footer .footer__item .footer__items {
		flex-basis: 50%;
	}
	footer .footer__item .footer__items ul li.title {
		padding-bottom: 10px;
		text-transform: uppercase;
	}
	footer .footer__info {
		flex-direction: column;
	}
	footer .footer__info .footer__info-logo {
		flex-direction: column;
		align-items:flex-start;
	}
	footer .footer__info .footer__info-logo p {
		margin-left: 0px;
		color: #717171;
		font-size: 13px;
		line-height: 30px;
		margin-top: 12px;
	}
}

@media(max-width:500px) {
	header .header__navigation .right-menu a.user {
		margin: 0 10px;
	}
	.slider-block .slider__item .slider__item-text h1 {
		font-size: 28px;
		line-height: 30px;
		margin-top: 70px;
	}
	.video video {
		width: 300px;
	}
}





