body {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;
	color: #000;
	font-family: "Roboto", Arial, serif;
}
ul {
	list-style: none;
}

/* grid */
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:'a a a a b b'
						'c c d d e e'
						'c c d d f f'
						'g h h h f f'
						'g h h h i i'
						'k k k l m m'
						'n n o o o o'
						'p p r r r r'
						's s t t t t'
						'u u u w w w'
}

/* grid-item-logo */
.grid-item-logo {
	grid-area: a;
	padding: 48px 10px 10px 120px;
	background: url(../img/logo-bg.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.logo__info p {
	font-weight: 700;
	line-height: 1.5;
}
.logo__info ul {
	display: flex;
	align-items: center;
	margin: 40px 0 55px;
}
.logo__info ul li + li{
	padding-left: 10px;
	cursor: pointer;
}

/* grid-item-blue */
.grid-item-blue {
	grid-area: b;
	background: #3d56e7;
	padding: 10px 50px;
}
.blue__text {
	text-align: right;
	margin-top: 140px;
}
.grid-item-blue p {
	font-size: 16px;
	line-height: 1.5;
	color: #fff;
}
.grid-item-blue span {
	font-weight: 700;
}

/* grid-item-projects */
.grid-item-projects {
	grid-area: c;
	background: #ebb625f3;
}
.projects__text {
	padding: 40px;
}
.projects__text li {
	font-size: 17px;
	color: #fff;
}
.projects__text li.active {
	color: #000;
	font-weight: 700;
}
.grid-item-projects h3 {
	font-size: 24px;
	text-transform: uppercase;
	text-align: right;
	margin-top: 330px;
	padding-right: 10px;
}

/* grid-item-fondue */
.grid-item-fondue {
	grid-area: d;
	background: url(../img/fondue.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.fondue__text {
	padding: 80px 40px;
}
.fondue__text h3,
.potter__text h3,
.tabano__text h3,
.louis__text h3,
.p22__text h3,
.fiji__text h3,
.sesann__text h3,
.alessi__text h3 {
	font-size: 24px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.fondue__text p,
.potter__text p,
.tabano__text p,
.louis__text p,
.p22__text p,
.fiji__text p,
.sesann__text p,
.alessi__text p {
	font-size: 14px;
	letter-spacing: 0.05cm;
}
.fondue__text span,
.potter__text span,
.tabano__text span,
.louis__text span,
.p22__text span,
.fiji__text span,
.sesann__text span,
.alessi__text span {
	font-weight: 700;
	text-transform: uppercase;
}
.fondue__text h2,
.potter__text h2,
.tabano__text h2,
.louis__text h2,
.p22__text h2,
.fiji__text h2,
.sesann__text h2,
.alessi__text h2 {
	text-transform: uppercase;
	font-size: 17px;
}
.fondue__text h2 {
	margin-top: 200px;
}
.fondue__text ul.heart {
	margin: 50px 0 0 60px;
}
.fondue__text ul.heart li,
.potter__text ul.heart li,
.tabano__text ul.heart li,
.louis__text ul.heart li,
.p22__text ul.heart li,
.fiji__text ul.heart li,
.sesann__text ul.heart li,
.alessi__text ul.heart li {
	color: #ff0000;
	font-size: 11px;
	font-weight: 700;
}

/* grid-item-potter */
.grid-item-potter {
	grid-area: e;
	background: url(../img/potter.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.potter__text {
	padding: 50px 10px;
}
.potter__text p { 
	margin: 10px 0 26px;
}
.potter__text ul.heart { 
	margin: 20px 0 0 50px;
}

/* grid-item-tabano */
.grid-item-tabano {
	grid-area: f;
	background: url(../img/tabano.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.tabano__text {
	margin: 370px 10px 50px;
}
.tabano__text h3 {
	margin-bottom: 20px;
}
.tabano__text-blocks {
	display: flex;
	justify-content: space-around;
}
.tabano__text ul.heart {
	margin: 20px 0 0 50px;
}

/* grid-item-louis */
.grid-item-louis {
	grid-area: g;
	background: url(../img/louis-1.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.louis__text {
	padding: 30px 5px;
}
.louis__text h3 {
	margin-bottom: 20px;
}
.louis__text h2{
	margin: 20px 0;
}
.louis__text ul.heart {
	margin-left: 50px;
}

/* grid-item-p22 */
.grid-item-p22 {
	grid-area: h;
	background: url(../img/p22.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.p22__text {
	margin: 80px 40px;
	text-align: right;
}
.p22__text h2{
	margin: 20px 0;
}
.p22__text ul.heart {
	margin-left: 50px;
}

/* grid-item-fiji */
.grid-item-fiji {
	grid-area: i;
	background: url(../img/fiji.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.fiji__text {
	margin: 40px;
	text-align: right;
}
.fiji__text h2 {
	margin: 10px 0;
}
.fiji__text ul.heart {
	margin-left: 50px;
}

/* grid-item-sesann */
.grid-item-sesann {
	grid-area: k;
	background: url(../img/sesann.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.sesann__text {
	margin: 120px 100px 10px 20px;
}
.sesann__text-blocks {
	display: flex;
	justify-content: space-between;
}

/* grid-item-alessi */
.grid-item-alessi {
	grid-area: l;
	background: url(../img/alessi.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.alessi__text {
	margin: 70px 10px 10px 40px;
}
.alessi__text h2{
	margin: 10px 0;
}
.alessi__text ul.heart {
	margin-left: 50px;
}

/* grid-item-timeline */
.grid-item-timeline {
	grid-area: m;
	background: #ebb625f3;
}
.timeline__text {
	margin: 20px 10px 10px 50px;
}
.timeline__text li {
	font-size: 17px;
	color: #fff;
}
.timeline__text li.active {
	color: #000;
	font-weight: 700;
}
.timeline__text h3 {
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

/* grid-item-studio */
.grid-item-studio {
	grid-area: n;
	background: #ec5870ec;
}
.grid-item-studio h2 {
	font-size: 30px;
	text-transform: uppercase;
	color: #fff;
	text-align: right;
	margin: 300px 10px 10px;
}

/* grid-item-awards */
.grid-item-awards {
	grid-area: o;
	background: #e9eae2;
	display: flex;
	justify-content: space-around;
	padding: 90px 0;
}
.awards__info {
	max-width: 338px;
	width: 100%;
	margin: 10px auto;
}
.awards__info span {
	font-size: 16px;
	font-style: italic;
	padding: 10px 0;
}
.awards__info p {
	font-size: 14px;
	padding: 10px 0;
	font-weight: 700;
}
.awards__photo {
	max-width: 364px;
	width: 100%;
	margin: 0 auto;
}
.awards__photo img {
	max-width: 360px;
	width: 100%;
	margin: 0 auto;
}
.awards__photo h3 {
	font-size: 17px;
	text-transform: uppercase;
	margin-top: 10px;
}
.grid-item-awards .border {
	border: 1px solid #bebfb8;
	margin-bottom: 20px;
}
.awards__blocks {
	display: flex;
	justify-content: space-between;
}
.awards__block ul li {
	font-size: 12px;
	line-height: 1.2;
	text-transform: uppercase;
}

/* grid-item-staff */
.grid-item-staff {
	grid-area: p;
	background: #e9eae2;
}
.staff__text {
	margin: 40px;
}
.grid-item-staff h5 {
	font-size: 20px;
}
.grid-item-staff p {
	font-size: 17px;
	line-height: 1.2;
	padding: 10px 0;
}

/* grid-item-team */
.grid-item-team {
	grid-area: r;
	background: #e9eae2;
}
.team-items {
	display: flex;
	justify-content: space-between;
	margin: 20px;
}
.grid-item-team img.item-people {
	max-width: 270px;
	width: 100%;
	margin: 10px auto;
}
.grid-item-team h4 {
	font-size: 14px;
	text-transform: uppercase;
	padding: 10px 0;
}
.grid-item-team p {
	font-weight: 700;
	padding-bottom: 20px;
}
.team__contacts {
	display: flex;
	justify-content: space-between;
}
.team__contacts h5 {
	color: #fd5000;
	font-size: 17px;
	padding-right: 10px;
}
.team__contacts ul.social {
	display: flex;
}
.team__contacts ul.social li{
	padding-right: 10px;
}

/* grid-item-news */
.grid-item-news {
	grid-area: s;
	background: #1d9974;
}
.grid-item-news h2 {
	font-size: 30px;
	text-transform: uppercase;
	color: #fff;
	text-align: right;
	margin: 300px 10px 10px;
}

/* grid-item-blog */
.grid-item-blog {
	grid-area: t;
	background: #e9eae2;
	display: flex;
	justify-content: space-around;
}
.blog-item {
	max-width: 368px;
	width: 100%;
	margin: 0 auto;
}
.blog-item h3 {
	font-size: 17px;
	text-transform: uppercase;
}
.blog-item p {
	font-size: 16px;
	line-height: 1.2;
	padding: 0 10px;
}
.blog-item img {
	max-width: 360px;
	width: 100%;
	margin: 10px auto;
}
.blog-item button {
	border: none;
	background: transparent;
	color: #fd5000;
	font-size: 16px;
	text-transform: uppercase;
	padding: 10px 0;
}

/* grid-item-map */
.grid-item-map {
	grid-area: u;
	background: url(../img/map.png);
	background-size: cover;
	background-repeat: no-repeat;
}

/* grid-item-footer */
.grid-item-footer {
	grid-area: w;
}
.footer-block {
	display: flex;
	justify-content: space-around;
	padding: 70px 10px;
}
.footer__contact p {
	font-size: 16px;
	line-height: 1.5;
}
.footer__info p {
	font-weight: 700;
	line-height: 1.5;
}
.footer__info ul {
	display: flex;
	align-items: center;
	margin: 40px 0 55px;
}
.footer__info ul li + li {
	padding-left: 10px;
	cursor: pointer;
}
.grid-item-footer h5 {
	font-size: 12px;
	text-align: center;
	padding-bottom: 10px;
}

/* Custom overlay navigation */
.button_container {
	position: relative;
	margin-top: 64px;
	height: 28px;
	width: 28px;
	cursor: pointer;
	z-index: 999;
	-webkit-transition: opacity .25s ease;
			transition: opacity .25s ease;
}
.button_container.active .top {
	-webkit-transform: translateY(8px) translateX(0) rotate(45deg);
		-ms-transform: translateY(8px) translateX(0) rotate(45deg);
			transform: translateY(8px) translateX(0) rotate(45deg);
	background: #fff;
}
.button_container.active .middle {
	opacity: 0;
	background: #fff;
}
/* Animate the bottom hamburger bar */
.button_container.active .bottom {
	-webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
		-ms-transform: translateY(-8px) translateX(0) rotate(-45deg);
			transform: translateY(-8px) translateX(0) rotate(-45deg);
	background: #fff;
}
.button_container span {
	background: #fff;
	height: 4px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: all .35s ease;
	transition: all .35s ease;
	cursor: pointer;
}
.button_container span:nth-of-type(2) {
	top: 8px;
}
.button_container span:nth-of-type(3) {
	top: 16px;
}
/* The overlay */
.overlay {
	position: fixed;
	display: block; 
	background: #669999;
	top: 0;
	border: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .35s, visibility .35s, height .35s;
			transition: opacity .35s, visibility .35s, height .35s;
	overflow: auto;
}
.overlay.open {
	opacity: .95;
	visibility: visible;
	height: 100%;
}
.overlay.open li {
	-webkit-animation: fadeInRight .5s ease forwards;
			animation: fadeInRight .5s ease forwards;
	-webkit-animation-delay: .35s;
		animation-delay: .35s;
}
.overlay.open li:nth-of-type(1) {
	-webkit-animation-delay: .40s;
			animation-delay: .40s;
}
.overlay.open li:nth-of-type(2n) {
	-webkit-animation-delay: .50s;
			animation-delay: .50s;
}
.overlay nav {
	position: relative;
	height: 50%;
	top: 50%;
	text-transform: none;
	font-weight: 700;
	text-align: center;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}
.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	height: 100%;
}
.overlay ul li {
	display: block;
	height: 15%;
	height: calc(100% / 8);
	min-height: 65px;
	position: relative;
	opacity: 0;
	font-size: 26px;
}
.overlay ul li a {
	display: block;
	position: relative;
	color: #fff;
	text-decoration: none;
	overflow: hidden;
}
.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
	width: 50%;
}
/* Link underline on hover */
.overlay ul li a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0%;
	height: 2px;
	background: #fff;
	-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
			transform: translateX(-50%);
	-webkit-transition: .15s;
			transition: .15s;
}

/* @media */
@media (max-width: 1000px) {
	.grid {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:'a b'
							'c d'
							'e f'
							'g h'
							'i k'
							'l m'
							'o o'
							'p s'
							'r r'
							't t'
							'u w'
	}
	.grid-item-studio {
		display: none;
	}
}
@media (max-width: 700px) {
	.grid {
		grid-template-columns: 1fr;
		grid-template-areas:'a'
							'b'
							'c'
							'd'
							'e'
							'f'
							'g'
							'h'
							'i'
							'k'
							'l'
							'm'
							'o'
							'p'
							's'
							'r'
							't'
							'u'
							'w'
	}
	.grid-item-logo {
		padding: 48px 10px 10px 20px;
	}
	.grid-item-potter {
		height: 500px;
	}
	.grid-item-awards {
		flex-direction: column;
		padding: 40px 0;
	}
	.team-items {
		flex-direction: column;
	}
	.grid-item-team img.item-people {
		max-width: 600px;
		width: 100%;
		margin: 0 auto;
	}
	.grid-item-blog {
		flex-direction: column;
	}
}
@media (max-width: 500px) {
	.sesann__text {
		margin: 120px 10px 10px 10px;
	}
	.sesann__text-blocks {
		flex-direction: column;
	}
}