@font-face{
	font-family:Montserrat-Regular;
	src:url(fonts/Montserrat-Regular.ttf);
}
@font-face{
	font-family:Montserrat-Bold;
	src:url(fonts/Montserrat-Bold.ttf);
}
@font-face{
	font-family:Lato-Regular;
	src:url(fonts/Lato-Regular.ttf);
}
@font-face{
	font-family:Chunkfive;
	src:url(fonts/Chunkfive.ttf);
}
html{ 
	overflow-x: hidden;
}
a{
	text-decoration:none;
	color:#fff;
}
a:hover{
	text-decoration:none;
	color:#01a2a6;
}
ul{
	list-style:none;
}
body{
	font-size:14px;
	line-height:1.5;
	color:#777777;
	font-family:'Lato-Regular',sans-serif;
}
/***************  Header   *************************/
header{
	padding-top:30px;
	padding-bottom:200px;
	background:url(img/header.png);
	position:relative;
	background-attachment: fixed;
}
header h2{
	font-size:25px;
	margin-top:-4px;
	color:#01a2a6;
	font-family: 'Montserrat-Regular', sans-serif;
}
header .bold{
	font-family:'Montserrat-Bold', sans-serif;
}
nav.navbar{
	background:transparent;
	border:none;
}
.navbar-default .navbar-nav>.active>a{
	background:transparent;
	color:#fff;
	border:2px solid #fff;
}
.navbar-default .navbar-nav>.active>a:hover{
	background:transparent;
}
.navbar-nav {
	margin-left:170px;
}
.navbar-nav a{
	color:#fff;
	font-size:16px;
	font-family:'Lato-Regular',sans-serif;
	margin-left:30px;
}
header h1{
	font-size:60px;
	color:#fff;
	text-transform:uppercase;
	font-family:'Chunkfive',sans-serif;
	margin:140px 0 50px 0;
}
header h1:hover{
	color:#01a2a6;
}
header p{
	font-size:18px;
	color:#fff;
	font-family:'Lato-Regular',sans-serif;
}
header p:hover{
	color:#01a2a6;
}
.header_button{
	font-size:16px;
	color:#4a554f;
	font-family:'Lato-Regular',sans-serif;
	text-transform:uppercase;
	background:#fff;
	padding:15px 20px;
	border:none;
	border-radius:50px;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	margin:40px 0 50px 0;
}
.header_button:hover{
	color:#fff;
	background:#01a2a6;
}
.header_button:active,
.header_button:focus{
	outline: none;
}
.blue{
	color:#01a2a6;
}
/*********  content   **************/
content .container{
	margin:-20px 0 0 80px;
	padding:100px auto 0;
	position:absolute;
	background:#fff;
	opacity:0.8;
}
content h2{
	font-size:60px;
	color:#29d9c2;
	font-family:'Chunkfive',sans-serif;
}
content h2:hover{
	color:#444848;
}
content p{
	font-size:16px;
	color:#a2a2a2;
	font-family:'Lato-Regular',sans-serif;
	width:90%;
}
content p:hover{
	color:#01a2a6;
}
/********* destination ****************/
#destination{
	background:#d9f6f6;
	margin-top:400px;
}
#destination h2{
	font-size:60px;
	color:#29d9c2;
	font-family:'Chunkfive',sans-serif;
}
#destination p{
	font-size:16px;
	color:#a2a2a2;
	font-family:'Lato-Regular',sans-serif;
	margin-top:20px;
}
#destination p:hover{
	color:#01a2a6;
}
#destination h4{
	color:#29d9c2;
	font-size:26px;
	font-family:'Lato-Regular',sans-serif;
}
#destination a{
	color:#9f9f9f;
	font-size:16px;
	font-family:'Lato-Regular',sans-serif;
}
#destination li.active a{
	color:#01a2a6;
	font-weight:bold;
}
.sofa{
	margin-top:20px;
}
.sofa2{
	margin-top:30px;
	margin-bottom:50px;
}
/************* ittinery  ***************/
#ittinery{
	background:#fff;
	margin-top:40px;
}
#ittinery h2{
	font-size:60px;
	color:#29d9c2;
	font-family:'Chunkfive',sans-serif;
}
#ittinery p{
	font-size:16px;
	color:#a2a2a2;
	font-family:'Lato-Regular',sans-serif;
	margin-top:20px;
}
#ittinery p:hover{
	color:#01a2a6;
}
.mountain-bg{
	background:url(img/mountain_blue.png);
	padding:40px;
}
.mountain-bg h5{
	font-size:24px;
	color:#fff;
	font-family:'Lato-Regular',sans-serif;
	text-align:center;
}
.table{
	background:#ffffa6;
	width:654px;
}
.table a{
	color:#29d9c2;
}
.form_img img{
	width:40px;
}
.dropdown-menu{border:none;}
.dropdown-menu li{
	font-size:16px;
	font-family:'Lato-Regular',sans-serif;
	color:#000;
	border-bottom:1px solid #29d9c2;
}
.dropdown-menu li:hover{background:#29d9c2;}
.border_dashed{
	color:#bbae60;
	font-size:16px;
	padding:15px;
	border:2px dashed #cfc276;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	margin-top:30px;
	margin-bottom:50px;
	width:600px;
	text-align:center;
}
.form_img form{
	background:#fff;
	border:1px solid #d2c887;
	width:600px;
	height:70px;
	font-size:16px;
	color:#949191;
	font-family:'Lato-Regular',sans-serif;
	margin-bottom:20px;
}
.green_button{
	color:#fff;
	font-size:16px;
	font-weight:bold;
	font-family:'Lato-Regular',sans-serif;
	text-transform:uppercase;
	background:#c3f37f ;
	padding:10px;
	border:1px solid #c3f37f;
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
}
.green_button:hover{
	background:#9ae380;
}
.blue_button{
	color:#fff;
	font-size:16px;
	font-weight:bold;
	font-family:'Lato-Regular',sans-serif;
	text-transform:uppercase;
	background:#3ddbc7;
	padding:10px;
	border:1px solid #3ddbc7;
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	margin-bottom:100px;
}
.blue_button:hover{
	background:#37bdb8;
}
.weather h6{
	color:#3ddbc7;
	font-size:20px;
	text-align:center;
}
hr{
	color:#3ddbc7;
	width:150px;
	text-align:center;
}
.weather  form{
	background:#fff;
	border:1px solid #d2c887;
	width:500px;
	height:70px;
	margin-bottom:20px;
}
.weather p{
	color:#949191;
	font-family:'Lato-Regular',sans-serif;
	font-size:16px;
}
/********** contact  **************/
#contact{
	background:url(img/contactbg.png);
	padding:40px 0;
	background-attachment: fixed;
}
#contact h2{
	color:#fff;
	font-weight:bold;
	font-size:60px;
	font-family:'Chunkfive',sans-serif;
}
#contact h3{
	color:#fff;
	font-size:40px;
	font-family:'Lato-Regular',sans-serif;
	margin-bottom:50px;
}
#contact ul li{
	line-height:0.3;
} 
#contact li p{
	color:#fff;
	font-size:12px;
	font-family:'Lato-Regular',sans-serif;
}
#contact input[type="text"]{
	border:1px solid #3ddbc7;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	height:34px;
	background:#fff;
	width:470px;
	margin-bottom:10px;
	padding:10px;
}
.form_small input[type="text"]{
	border:1px solid #3ddbc7;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	height:34px;
	background:#fff;
	width:230px;
	margin-bottom:10px;
	padding:10px;
}
#contact textarea{
	height:140px;
	background:#fff;
	border:1px solid #3ddbc7;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	width:470px;
	padding:10px;
}
/************ keep  *****************/
#keep{
	background:#bdf271;
	padding:20px 0;
}
#keep h3{
	color:#fff;
	font-size:40px;
	font-weight:bold;
	font-family:'Lato-Regular',sans-serif;
}
#keep p{
	color:#fff;
	font-family:'Lato-Regular',sans-serif;
	font-size:16px;
}
#keep form{
	margin-top:40px;
}
#keep input[type="text"]{
	border:1px solid #3ddbc7;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	height:40px;
	background:#fff;
	width:240px;
	border:none;
	padding:10px;
}
#keep button{
	width:60px;
	height:40px;
	background:#01a2a6;
	border:none;
}
/********* footer  ****************/
footer{
	background:url(img/footer_bg.png);
	padding:10px 0 160px 0;
}
footer p{
	color:#fff;
	font-family:'Lato-Regular',sans-serif;
	font-size:16px;
}
/**************** АДАПТИВ *********************/
/****************   Смартфон 3.5*****************************/
@media(min-width:0px) and (max-width:320px){
	/***************  Header   *************************/
header{
	padding-bottom:70px;
}
header h1{
	font-size:50px;
	margin:50px 0 50px 0;
}
/*********  content   **************/
content{
	margin:10px;
}
content img{
	margin-left:-70px;
	width:240px;
}
content h2{
	font-size:40px;
	margin-left:-70px;
}
content p{
	margin-top:5px;
	margin-left:-70px;
}
/********* destination ****************/
#destination h2{
	font-size:40px;
	margin-top:140px;
}
.destination-img img{
	width:300px;
}
/************* ittinery  ***************/
#ittinery h2{
	font-size:40px;
}
#ittinery h5{
	width:260px;
}
.table{
	width:300px;
	margin-left:0px;
}
.form_img p{
	margin-left:10px;
}
.border_dashed{
	width:260px;
}
.form_img form{
	width:260px;
}
.weather  form{
	width:260px;
}
.weather li img{
	margin-left:150px;
	margin-top:-30px;
	width:30%;
}
.view p{
	display:none;
}
/********** contact  **************/
#contact{
	padding:20px 0;
}
#contact h2{
	font-size:40px;
}
#contact h3{
	font-size:30px;
	margin-bottom:20px;
}
#contact input[type="text"]{
	width:260px;
}
#contact textarea{
	width:260px;
}
/************ keep  *****************/
#keep form{
	margin-top:20px;
}
#keep input[type="text"]{
	width:200px;
}
/********* footer  ****************/
footer{
	padding:10px 0;
}
}
/****************   Смартфон 5.5*****************************/
@media(min-width:421px) and (max-width:480px){
		/***************  Header   *************************/
header{
	padding-bottom:70px;
}
header h1{
	font-size:50px;
	margin:50px 0 50px 0;
}
/*********  content   **************/
content{
	margin:10px;
}
content img{
	margin-left:-70px;
	width:240px;
}
content h2{
	font-size:40px;
	margin-left:-70px;
}
content p{
	margin-top:5px;
	margin-left:-70px;
}
/********* destination ****************/
#destination h2{
	font-size:40px;
	margin-top:140px;
}
.destination-img img{
	width:300px;
}
/************* ittinery  ***************/
#ittinery h2{
	font-size:40px;
}
#ittinery h5{
	width:400px;
}
.table{
	width:480px;
	margin-left:0px;
}
.form_img p{
	margin-left:10px;
}
.border_dashed{
	width:400px;
}
.form_img form{
	width:400px;
}
.weather  form{
	width:400px;
}
.view p{
	display:none;
}
/********** contact  **************/
#contact{
	padding:20px 0;
}
#contact h2{
	font-size:40px;
}
#contact h3{
	font-size:30px;
	margin-bottom:20px;
}
#contact input[type="text"]{
	width:400px;
}
#contact textarea{
	width:400px;
}
/************ keep  *****************/
#keep form{
	margin-top:20px;
}
#keep input[type="text"]{
	width:300px;
}
/********* footer  ****************/
footer{
	padding:10px 0;
}
}
/****************   Планшет  *****************************/
@media(min-width:481px) and (max-width:768px){
	/***************  Header   *************************/
header{
	padding-bottom:70px;
}
header h1{
	font-size:50px;
	margin:50px 0 50px 0;
}
/*********  content   **************/
content{
	margin:10px;
}
content img{
	margin-left:-70px;
	width:340px;
}
content h2{
	font-size:40px;
	margin-left:-70px;
}
content p{
	margin-top:5px;
	margin-left:-70px;
}
/********* destination ****************/
#destination h2{
	font-size:40px;
	margin-top:140px;
}
.destination-img img{
	width:300px;
}
/************* ittinery  ***************/
#ittinery h2{
	font-size:40px;
}
.table{
	width:90%;
	margin:0 auto;
}
.border_dashed{
	width:90%;
	margin:0 auto;
}
.form_img form{
	width:90%;
	margin:0 auto;
}
.weather  form{
	width:90%;
	margin:0 auto;
}

/********** contact  **************/
#contact{
	padding:20px 0;
}
#contact h2{
	font-size:40px;
}
#contact h3{
	font-size:30px;
	margin-bottom:20px;
}
#contact input[type="text"]{
	width:400px;
}
#contact textarea{
	width:400px;
}
/************ keep  *****************/
#keep form{
	margin-top:20px;
}
#keep input[type="text"]{
	width:400px;
}
/********* footer  ****************/
footer{
	padding:10px 0;
}
}
/****************   Ноутбук  *****************************/
@media(min-width:769px) and (max-width:992px){
	/***************  Header   *************************/
header{
	padding-bottom:70px;
}
header h1{
	font-size:50px;
	margin:50px 0;
}
.navbar-nav {
	margin-left:100px;
}
/*********  content   **************/
content{
	margin:10px;
}
content img{
	margin-left:-70px;
	width:340px;
}
content h2{
	font-size:40px;
	margin-left:30px;
}
content p{
	width:90%;
}
/********* destination ****************/
#destination h2{
	font-size:40px;
	margin-top:140px;
}
.destination-img img{
	width:240px;
}
/************* ittinery  ***************/
#ittinery h2{
	font-size:40px;
}
#ittinery h5{
	width:600px;
}
.table{
	width:760px;
	margin-left:0px;
}
.form_img p{
	margin-left:10px;
}
.border_dashed{
	width:600px;
}
.form_img form{
	width:600px;
}
.weather  form{
	width:600px;
}
.weather li img{
	margin-left:230px;
	margin-top:-10px;
}
.view{
	margin-top:-50px;
	margin-left:300px;
}
/********** contact  **************/
#contact{
	padding:20px 0;
}
#contact h2{
	font-size:40px;
}
#contact h3{
	font-size:30px;
	margin-bottom:20px;
	margin-left:50px;
}
#contact ul{
	margin-left:50px;
}
#contact input[type="text"]{
	width:400px;
}
#contact textarea{
	width:400px;
}
/************ keep  *****************/
#keep form{
	margin-top:20px;
}
#keep input[type="text"]{
	width:200px;
}
/********* footer  ****************/
footer{
	padding:10px 0;
}
}
@media(min-width:321px) and (max-width:420px){
		/***************  Header   *************************/
header{
	padding-bottom:70px;
}
header h1{
	font-size:50px;
	margin:50px 0 50px 0;
}
/*********  content   **************/
content{
	margin:10px;
}
content img{
	margin-left:-70px;
	width:240px;
}
content h2{
	font-size:40px;
	margin-left:-70px;
}
content p{
	margin-top:5px;
	margin-left:-70px;
}
/********* destination ****************/
#destination h2{
	font-size:40px;
	margin-top:140px;
}
.destination-img img{
	width:300px;
}
/************* ittinery  ***************/
#ittinery h2{
	font-size:40px;
}
.table{
	width:90%;
	margin:0 auto;
}
.border_dashed{
	width:90%;
	margin:0 auto;
}
.form_img form{
	width:90%;
	margin:0 auto;
}
.weather  form{
	width:90%;
	margin:0 auto;
}
.view p{display:none;}
/********** contact  **************/
#contact{
	padding:20px 0;
}
#contact h2{
	font-size:40px;
}
#contact h3{
	font-size:30px;
	margin-bottom:20px;
}
#contact input[type="text"]{
	width:90%;
	margin:0 auto;
}
#contact textarea{
	width:90%;
	margin:0 auto;
}
/************ keep  *****************/
#keep form{
	margin-top:20px;
}
#keep input[type="text"]{
	width:300px;
}
/********* footer  ****************/
footer{
	padding:10px 0;
}
}
@media(min-width:993px) and (max-width:1150px){
.destination-img img{
	width:90%;
}
}





