@font-face{
	font-family:Montserrat-Regular;
	src:url(fonts/Montserrat-Regular.ttf);
}
@font-face{
	font-family:Montserrat-Bold;
	src:url(fonts/Montserrat-Bold.ttf);
}
@font-face{
	font-family:Lato-Regular;
	src:url(fonts/Lato-Regular.ttf);
}
@font-face{
	font-family:Chunkfive;
	src:url(fonts/Chunkfive.ttf);
}
html{ 
	overflow-x: hidden;
}
a{
	text-decoration:none;
	color:#fff;
}
a:hover{
	text-decoration:none;
	color:#01a2a6;
}
ul{
	list-style:none;
}
body{
	font-size:14px;
	line-height:1;
	color:#a2a2a2;
	font-family:'Lato-Regular',sans-serif;
}
/* Header */
.header{
	padding:30px 15px 0;
	padding-bottom:200px;
	background:url(img/header.png);
	position:relative;
	background-attachment: fixed;
}
header h2{
	font-size:25px;
	color:#01a2a6;
	font-family: 'Montserrat-Regular', sans-serif;
}
.header h1{
	font-size:50px;
	color:#fff;
	text-transform:uppercase;
	font-family:'Chunkfive',sans-serif;
	margin-top:200px;
}
.header p{
	font-size:18px;
	color:#fff;
}
.header button{
	font-size:16px;
	color:#4a554f;
	text-transform:uppercase;
	background:#fff;
	padding:15px 20px;
	border:none;
	border-radius:50px;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	margin:40px 0 50px 0;
	outline: none;
}
.header button:hover{
	background:#01a2a6;
	color:#fff;
}
.blue{
	color:#01a2a6;
}
/* header-top */
header.top{
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.top nav ul{
	display:flex;
	align-items:center;
	padding-top:24px;
}
.top nav ul li{
	font-size:16px;
	text-transform:uppercase;
	color:#fff;
	margin:0 10px;
	list-style:none;
}
.top nav ul li:hover{
	color:#01a2a6;
}
.top nav ul li a{
	color:inherit;
	text-decoration:none;
}
.close,
.fa.fa-bars{display:none;}
#responsive_menu{
	position:absolute;
	visibility:hidden;
	z-index:-9999;
}
@media screen and (max-width:800px){
	nav ul{
	position:fixed;
	right:-100%;
	top:0;
	width:100%;
	height:100vh;
	background:#c2ecec;
	flex-direction:column;
	padding-top:50px;
	box-sizing:border-box;
	transition:300ms;
	z-index:99;
	}
	nav ul li{
	margin:20px 0;
	font-size:20px;
	line-height:2;
	}
	.close{
	display:block;
	}
	.fa.fa-close{
	position:absolute;
	top:45px;
	right:15px;
	cursor:pointer;
	}
	.fa.fa-bars{
	display:block;
	color:#fff;
	font-size:20px;
	}
	#responsive_menu:checked~ul{
	right:0;
	}
}
/* content */
.content .container{
	margin-top:-20px;
	position:relative;
	background:#fff;
	opacity:0.8;
	margin-bottom:100px;
}
.content h2{
	font-size:60px;
	font-family:'Chunkfive',sans-serif;
}
.content p{
	font-size:16px;
}
.content img{
	max-width:452px;
	width:100%;
	margin:0 auto;
}
/* destination */
#destination{
	background:#d9f6f6;
}
#destination h2{
	font-size:50px;
	color:#29d9c2;
	font-family:'Chunkfive',sans-serif;
}
#destination p{
	font-size:16px;
	margin-top:20px;
}
#destination h4{
	color:#29d9c2;
	font-size:26px;
}
#destination a{
	color:#9f9f9f;
	font-size:16px;
}
#destination li.active a{
	color:#01a2a6;
	font-weight:bold;
}
.sofa{
	margin:20px 0;
}
.destination-img img{ 
	max-width: 300px;
	width: 100%;
	margin:5px 0;
}
/* ittinery */
#ittinery{
	background:#fff;
	margin-top:40px;
}
#ittinery h2{
	font-size:50px;
	color:#29d9c2;
	font-family:'Chunkfive',sans-serif;
}
#ittinery p{
	font-size:16px;
	margin:30px 0;
}
.mountain-bg{
	background:url(img/mountain_blue.png);
	padding:30px;
	margin-bottom:24px;
}
.mountain-bg h5{
	font-size:24px;
	color:#fff;
	text-align:center;
}
.ittinery_block{
	display:flex;
}
.table{
	background:#f7f7ac;
	max-width:600px;
	width:100%;
	margin:0 auto;
	padding: 10px;
	height: 500px;
	flex-basis: 50%;
}
.table a{
	color:#29d9c2;
}
.form_img img{
	width:40px;
}
.border_dashed{
	color:#bbae60;
	font-size:16px;
	padding:15px;
	border:2px dashed #cfc276;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	margin-top:30px;
	margin-bottom:50px;
	max-width:620px;
	width:100%;
	text-align:center;
}
.form_img form{
	background:#fff;
	border:1px solid #d2c887;
	max-width:620px;
	width:100%;
	height:70px;
	font-size:16px;
	color:#949191;
	font-family:'Lato-Regular',sans-serif;
	margin-bottom:20px;
}
.green_button{
	color:#fff;
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	background:#c3f37f;
	padding:10px;
	border:1px solid #c3f37f;
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	outline: none;
}
.green_button:hover{
	background:#9ae380;
}
.blue_button{
	color:#fff;
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	background:#3ddbc7;
	padding:10px;
	border:1px solid #3ddbc7;
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	outline: none;
}
.blue_button:hover{
	background:#37bdb8;
}
.weather h6{
	color:#3ddbc7;
	font-size:20px;
	text-align:center;
}
hr{
	color:#3ddbc7;
	width:150px;
	text-align:center;
}
.weather{
	max-width:400px;
	width:100%;
	margin:0 auto;
	flex-basis: 50%;
}
.weather  form{
	background:#fff;
	border:1px solid #d2c887;
	padding:2px 0;
	margin-bottom:20px;
}
.weather p{
	color:#949191;
	font-size:16px;
}

.ittinery-button{
	display: flex;
	margin-bottom:100px;
	justify-content: center;
}
/* contact */
#contact{
	background:url(img/contactbg.png);
	padding:40px 0;
	background-attachment: fixed;
}
#contact h2{
	color:#fff;
	font-weight:bold;
	font-size:60px;
	font-family:'Chunkfive',sans-serif;
}
#contact h3{
	color:#fff;
	font-size:40px;
	font-family:'Lato-Regular',sans-serif;
	margin-bottom:50px;
}
#contact ul li{
	line-height:0.3;
} 
#contact li p{
	color:#fff;
	font-size:12px;
	font-family:'Lato-Regular',sans-serif;
}
#contact input{
	border:1px solid #3ddbc7;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	height:34px;
	background:#fff;
	max-width:470px;
	width:100%;
	margin-bottom:10px;
	padding:10px;
}
.form_small input{
	border:1px solid #3ddbc7;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	height:34px;
	background:#fff;
	max-width:230px;
	width:100%;
	margin-bottom:10px;
	padding:10px;
}
#contact textarea{
	height:140px;
	background:#fff;
	border:1px solid #3ddbc7;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	max-width:470px;
	width:100%;
	padding:10px;
	margin-bottom:14px;
}
/* keep */
#keep{
	background:#bdf271;
	padding:20px 0;
}
#keep h3{
	color:#fff;
	font-size:40px;
	font-weight:bold;
	font-family:'Lato-Regular',sans-serif;
}
#keep p{
	color:#fff;
	font-family:'Lato-Regular',sans-serif;
	font-size:16px;
}
#keep form{
	margin-top:40px;
}
#keep input[type="text"]{
	border:1px solid #3ddbc7;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	height:40px;
	background:#fff;
	max-width:220px;
	width:100%;
	border:none;
	padding:10px;
}
#keep button{
	max-width:60px;
	width:100%;
	height:40px;
	background:#01a2a6;
	border:none;
}
/* footer */
footer{
	background:url(img/footer_bg.png);
	padding:20px 0 90px 0;
}
footer p{
	color:#fff;
	font-family:'Lato-Regular',sans-serif;
	font-size:16px;
}


@media (max-width:840px){
	.ittinery_block{
		flex-wrap: wrap;
	}
	.table{
		flex-basis: 100%;
	}
} 
/*** АДАПТИВ *****/
/*****   Смартфон 3.5 *****/
@media(min-width:0px) and (max-width:320px){
}
/****   Смартфон 5.5 ******/
@media(min-width:321px) and (max-width:480px){
}
/****  Планшет *******/
@media(min-width:481px) and (max-width:768px){
}
/****  Ноутбук *******/
@media(min-width:769px) and (max-width:992px){
}





