html {
    overflow-x: hidden;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    color: #121214;
}
ul {
    list-style: none;
}
.container-full {
    width: 100%;
}
.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 10;
    padding: 20px;
    width: 100%;
}
.logo {
    margin-left: 40px;
}
.menu__list {
    display: flex;
}
.menu__list li {
    list-style: none;
}
.menu__list li + li {
    padding-left: 50px;
}
.menu__list a {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.menu__list a:hover {
    color: #037E8C;
}
.header-btn {
    margin: 0px 10px;
}
.phone {
    display: flex;
}
.phone a {
    font-size: 20px;
    font-weight: 600;
    line-height: 21px;
    color: #fff;
}
.header-btn button {
    color: #fff;
    padding: 13px 20px;
    background: #ffffff66;
    border-radius: 9px;
    border: 1px solid #ffffff66;
    margin-top: 7px;
}
.header-btn button:hover {
    background: #6b6b6b66;
    border: 1px solid #6b6b6b66;
}

/* header-slider */
.header-slider {
    position: relative;
}
.header-slider__item {
    background-image: url(../images/header-slider.jpg);
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.header-slider__item-info {
    max-width: 600px;
    color: #fff;
    margin-left: 40px;
}
.header-slider__title {
    margin-top: 200px;
    font-size: 70px;
    font-weight: 800;
    line-height: 88px;
    margin-bottom: 37px;
}
.header-slider__description {
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 82px;
}
.header-slider__btn {
    color: #fff;
    padding: 19px 50px 19px 23px;
    background: #037E8C;
    border-radius: 9px;
    border: 1px solid #037E8C;
    position: relative;
}
.header-slider__btn::after {
    content: '';
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 31px;
    height: 31px;
    background-image: url(../images/arrow.png);
}
.header-slider__btn:hover {
    background: #013035;
    border: 1px solid #013035;
}
.header-dots {
    list-style: none;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.header-dots button {
    border: none;
    background-color: #fff;
    font-size: 0;
    padding: 0;
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    -webkit-border-radius: 3.5px;
    -moz-border-radius: 3.5px;
    -ms-border-radius: 3.5px;
    -o-border-radius: 3.5px;
    cursor: pointer;
    outline: none;
    margin: 10px auto;
    display: block;
}
.header-dots .slick-active button {
    width: 15px;
    background-color: #037E8C;
}
/* scroll down */
.scrolldown {
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    transform-origin: right top 0;
    float: right;
}
.scroll-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 30px;
    right: 100px;
}
.scroll-icon p {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin-right: 10px;
}

/* specialised */
.specialised {
    padding: 81px 0px;
    background-color: #fff;
}
.spacialised__items {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.specialised__item {
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
}
.specialised__item-img {
   width: 36px;
   height: 6px;
   position: relative;
   z-index: 1;
}
.specialised__item-img::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    width: 45px;
    height: 45px;
    background-image: url('../images/circle.png');
    z-index: -2;
}
.specialised__item-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin: 50px 0px 30px;
}
.specialised__item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}

/* routes */
.routes {
    padding: 81px 0px;
    background-image: url(../images/routes-bg.png);
    min-height: 793px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.routes__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 37px;
}
.routes-box {
    display: flex;
    justify-content: space-between;
}
.routes-box__info {
    margin-left: 90px;
    position: relative;
}
.routes-box__title {
    font-size: 36px;
    font-weight: 600;
    line-height: 39px;
    margin-bottom: 20px;
}
.routes-box__info::before {
    content: '';
    position: absolute;
    left: -90px;
    top: 10px;
    width: 81px;
    height: 4px;
    background-color: #037E8C;
}
.routes-box__title span {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
}
.routes ul li {
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 10px;
}
.routes ul li span {
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
}
.routes-list__item--one,
.routes-list__item--two,
.routes-list__item--three {
    position: relative;
}
.routes-list__item--one::before {
    content: '';
    position: absolute;
    left: -20px;
    bottom: 2px;
    width: 13px;
    height: 13px;
    background-image: url(../images/icon-1.png);
}
.routes-list__item--two::before {
    content: '';
    position: absolute;
    left: -20px;
    bottom: 2px;
    width: 13px;
    height: 15px;
    background-image: url(../images/icon-2.png);
}
.routes-list__item--three::before {
    content: '';
    position: absolute;
    left: -20px;
    bottom: 2px;
    width: 15px;
    height: 15px;
    background-image: url(../images/icon-3.png);
}
.routes-box__subtitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    margin: 32px 0px 13px;
}
.routes-box__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 39px;
}
.routes-btn {
    display: flex;
}
.routes-btn-one {
    font-weight: 600;
    font-size: 14px;
    color: #037E8C;
    border: 1.5px solid #037E8C;
    border-radius: 9px;
    background: #fff;
    width: 200px;
    height: 50px;
    margin-right: 10px;
}
.routes-btn-one:hover {
    color: #fff;
    background: #037E8C;
}
.routes-btn-two {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    border: 1.5px solid #037E8C;
    border-radius: 9px;
    background: #037E8C;
    width: 200px;
    height: 50px;
}
.routes-btn-two:hover {
    background: #013035;
    border: 1px solid #013035;
}
.slider {
    max-width: 600px;
    width: 100%;
	position: relative;
	padding: 0 10px;
    height: 540px;
}
.slider .slick-arrow {
	position: absolute;
	bottom: -10%;
	z-index: 10;
	font-size: 0;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.slider__item img {
	padding: 10px;
}
.slider__img-one {
    max-width: 330px;
    width: 100%;
}
.slider__img-two {
    max-width: 250px;
    width: 100%;
}
.slider .slick-dots button {
    background-color: #037E8C;
    font-size: 0px;
    width: 5px;
    height: 10px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    border: 1px solid #037E8C;
    margin: 30px 4px;
}
.slider .slick-dots {
    display: flex;
}
.slider .slick-active button {
    background-color: #121214;
    border: 1px solid #121214;
}

/* test */
.test {
    padding: 81px 0px;
    background-image: url(../images/test-bg.jpg);
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.test__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;
    color: #fff;
    margin-bottom: 19px;
}
.test__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    color: #fff;
    margin-bottom: 23px;
}
.test__btn {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    border: 1.5px solid #037E8C;
    border-radius: 9px;
    background: #037E8C;
    padding: 11px 44px;
}
.test__btn:hover {
    background: #013035;
    border: 1px solid #013035;
}

/* photo */
.photo {
    padding: 81px 0;
    text-align: center;
}
.photo__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 30px;
}
.slick-initialized .photo__item {
    display: flex;
}
.photo__item img {
    max-width: 270px;
    width: 100%;
    margin: 0px auto;
}
.photo__slider .slick-dots button {
    background-color: #037E8C;
    font-size: 0px;
    width: 5px;
    height: 10px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    border: 1px solid #037E8C;
    margin: 30px 4px;
}
.photo__slider .slick-dots {
    display: flex;
    justify-content: center;
}
.photo__slider .slick-active button {
    background-color: #121214;
    border: 1px solid #121214;
}

/* video */
.video {
    padding: 81px 0px;
    background-image: url(../images/video-bg.jpg);
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.video__popup {
    background-image: url(../images/video.jpg);
    min-height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* team */
.team {
    padding: 81px 0px;
    position: relative; 
}
.team::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 30%;
    width: 567px;
    height: 590px;
    background-image: url(../images/team-bg-1.png);
    z-index: -1;
}
.team::after {
    content: '';
    position: absolute;
    right: 0px;
    top: -15%;
    width: 600px;
    height: 590px;
    background-image: url(../images/team-bg-2.png);
    z-index: -1;
}
.team__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 30px;
    text-align: center;
}
.team__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team__item {
    margin: 0px auto;
    text-align: center;
}
.team__item img {
    max-width: 300px;
    width: 100%;
    margin: 0px auto;
}
.team__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    color: #037E8C;
    padding: 17px 0px;
}
.team__item-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    padding-bottom: 20px;
}

/* services */
.services {
    padding: 81px 0px;
    background-image: url(../images/services-bg.png);
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.services__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 30px;
    text-align: center;
}
.services__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.services__item {
    background: #FFFFFF;
    border-radius: 9px;
    padding: 9px 9px 27px 9px;
}
.services__item-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    position: relative;
    padding-left: 50px;
}
.services__item-text::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 42px;
    height: 42px;
    background-image: url(../images/services-icon.png);
}

/* special-offers */
.special-offers {
    padding: 81px 0px;
    position: relative; 
}
.special-offers::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 60px;
    width: 567px;
    height: 590px;
    background-image: url(../images/special-offers-bg-1.png);
    z-index: -1;
}
.special-offers::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 120px;
    width: 623px;
    height: 655px;
    background-image: url(../images/special-offers-bg-2.png);
    z-index: -1;
}
.special-offers__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 30px;
    text-align: center;
}
.special-offers__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.special-offers__item {
    flex-basis: 50%;
    height: 300px;
    display: flex;
    padding: 0px 5px;
}
.special-offers__item img {
    max-width: 300px;
    width: 100%;
    height: 300px;
}
.special-offers__item-info {
    background: #F4F4F4;
    padding: 10px;
    position: relative;
}
.special-offers__item-info::after {
    content: '';
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 304px;
    height: 158px;
    background-image: url(../images/special-vector.png);
}
.special-offers__item-title {
    font-size: 36px;
    font-weight: 800;
    line-height: 50px;
    color: #037E8C;
    margin-bottom: 13px;
}
.special-offers__item-title span {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    color: #037E8C;
}
.special-offers__item-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: #373737;
    margin-bottom: 25px;
}
.special-offers__item-link {
    font-weight: 600;
    font-size: 14px;
    color: #037E8C;
    border: 1.5px solid #037E8C;
    border-radius: 9px;
    background: #fff;
    padding: 11px 44px;
}

/* certificate */
.certificate {
    padding: 81px 0px;
    background-image: url(../images/certificate-bg.jpg);
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.certificate__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 30px;
    text-align: center;
}
.certificate__subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #037E8C;
    margin-bottom: 46px;
    text-align: center;
}
.certificate__items {
    display: flex;
    justify-content: space-between;
}
.certificate__item {
    flex-basis: 50%;
}
.certificate__item-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 31px;
    margin-bottom: 31px;
}
.certificate__item-btn {
    font-weight: 600;
    font-size: 14px;
    color: #037E8C;
    border: 1.5px solid #037E8C;
    border-radius: 9px;
    background: #fff;
    padding: 11px 44px;
}
.certificate__item-btn:hover {
    color: #fff;
    background: #037E8C;
}
.certificate__item img{
    max-width: 600px;
    width: 100%;
    margin: 40px auto 10px;
}

/* question */
.question {
    padding: 81px 0px;
    position: relative; 
}
.question::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 70px;
    width: 513px;
    height: 596px;
    background-image: url(../images/question-bg-1.png);
    z-index: -1;
}
.question::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 20px;
    width: 392px;
    height: 596px;
    background-image: url(../images/question-bg-2.png);
    z-index: -1;
}
.question__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 30px;
    text-align: center;
}
.question__items {
    display: flex;
    justify-content: space-between;
}
.question__item {
    flex-basis: 50%;
}
.question__item--one {
    text-align: center;
}
.question__item-img {
    width: 88px;
    margin-bottom: 25px;
}
.question__item-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 14px;
}
.question__item-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    max-width: 400px;
    width: 100%;
    margin: 31px auto;
}
.question__item-btn {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    border: 1.5px solid #037E8C;
    border-radius: 9px;
    background: #037E8C;
    padding: 11px 44px;
}
.question__item-btn:hover {
    background: #013035;
    border: 1px solid #013035;
}
.accordion-container {
    margin: 5px auto;
    max-width: 539px;
}
.accordion-container .accordion {
    background-color: #fff;
    border: 0.5px solid #037E8C;
    border-radius: 2px;
    margin: 10px 0;
}
.accordion-container .accordion.active .accordion-heading i {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}
.accordion-container .accordion.active .accordion-content {
    display: block;
}
.accordion-container .accordion .accordion-heading {
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1rem;
    cursor: pointer;
} 
.accordion-container .accordion .accordion-heading h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
  
.accordion-container .accordion .accordion-heading i {
    font-size: 30px;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}
  
.accordion-container .accordion .accordion-content {
    padding: 10px;
    padding-top: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    display: none;
    -webkit-animation: fadeUp .2s linear backwards;
            animation: fadeUp .2s linear backwards;
}
  
/* additional */
.additional {
    padding: 81px 0px;
    position: relative; 
}
.additional__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 30px;
    text-align: center;
}
.additional__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.additional__item {
    text-align: center;
}
.additional__item img {
    max-width: 300px;
    width: 100%;
    margin: 0px auto;
}
.additional__item-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    color: #037E8C;
    margin-bottom: 30px;
}

/* contact */
.contact {
    padding: 81px 0px;
}
.contact__items {
    display: flex;
}
.contact__item {
    flex-basis: 50%;
    padding-right: 10px;
}
.contact__boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.contact__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 30px;
}
.contact__box {
    display: flex;
    align-items: center;
}
.contact__box-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-left: 10px;
}
.contact__box-img {
    background: #037E8C;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__social {
    margin: 65px 0px;
}
.contact__social-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}
.contact__item iframe {
    max-width: 600px;
    width: 100%;
    min-height: 450px;
}

/* footer */
.footer {
    border-top: 1px solid #121214;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-menu__list {
    display: flex;
    justify-content: space-between;
}
.footer-menu__list li a {
    margin: 0px 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
}

/* menu-btn */
#menu-btn {
    cursor: pointer;
    font-size: 28px;
    display: none;
    color: #fff;
}

/* @media */
@media (max-width: 1130px) {
    #menu-btn {
        display: inline-block;
        -webkit-transition: .2s linear;
        transition: .2s linear;
    }
    #menu-btn.fa-times {
        -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    }
    .header-btn {
        display: none;
    }
    .menu__list {
        top: 0;
        left: 0;
        right: 0;
        background: #000;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        -webkit-transition: .2s linear;
        transition: .2s linear;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu__list.active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .menu__list li a {
        display: block;
        padding: 20px 50px;
    }
    .menu__list li + li {
        padding-left: 0px;
    }
    .routes-box__info.routes-box__info--two {
        margin-left: -100px;
    }
    .team__items {
        flex-wrap: wrap;
    }
    .additional__items {
        grid-template-columns: repeat(3, 1fr);
    }
    .special-offers__items {
        flex-direction: column;
    }
    .special-offers__item {
        max-width: 600px;
        width: 100%;
        margin: 20px auto;
    }
}

@media (max-width: 950px) {
    .routes-box {
        flex-wrap: wrap;
    }
    .routes-box__info {
        margin-top: 30px;
    }
    .routes-box__info.routes-box__info--two {
        margin-left: 100px;
    }
    .slider {
        display: none;
    }
}

@media (max-width: 900px) {
    .services__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .certificate__items {
        flex-wrap: wrap;
    }
    .certificate__item {
        flex-basis: 100%;
    }
    .contact__items {
        flex-wrap: wrap;
    }
    .contact__item {
        flex-basis: 100%;
        padding-right: 0px;
    }
    .question__items {
        flex-wrap: wrap;
    }
    .question__item {
        flex-basis: 100%;
    }
}

@media (max-width: 810px) {
    .spacialised__items {
        flex-wrap: wrap;
    }
    .specialised__item-img {
        margin-top: 40px;
    }
    .specialised__item-title {
        margin: 50px 0px 10px;
    }
    .additional__items {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer-menu__list {
        flex-direction: column;
    }
    .footer-menu__list li a {
        margin: 10px;
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 750px) {
    .services__items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}

@media (max-width: 700px) {
    .header-slider__title {
        margin-top: 220px;
        font-size: 46px;
        line-height: 50px;
    }
    .header-slider__description {
        font-size: 20px;
        line-height: 22px;
    }
    .header-dots {
        top: 35%;
    }
    .scrolldown {
        display: none;
    }
}

@media (max-width: 600px) {
    .routes__title,
    .test__title,
    .photo__title,
    .team__title,
    .services__title,
    .special-offers__title,
    .certificate__title,
    .question__title,
    .additional__title,
    .contact__title  {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .contact__boxes {
        grid-template-columns: repeat(1, 1fr);
    }
    .routes-btn {
        flex-direction: column;
    }
    .routes-btn-two {
        margin-top: 20px;
    }
}

@media (max-width: 550px) {
    .header-dots {
        top: 70%;
    }
    .additional__items {
        grid-template-columns: repeat(1, 1fr);
    }
}