html {
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul {
	list-style: none;
}

body {
	font-size: 14px;
	line-height: 1.5;
	color: #282828;
	font-family: 'Exo', sans-serif;
}

.container {
	max-width: 1300px;
	padding: 0 15px;
	margin: 0 auto;
}

/**  Header **/
.top_block {
	position: relative;
	height: 700px;
	background: url(img/bg_header1.png);
	background-size: cover;
}

.top_block .clouds {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 700px;
	overflow: hidden;
}

.top_block .clouds img {
	position: absolute;
	bottom: 0;
	max-width: 100%;
	animation: animate calc(8s*var(--i)) linear infinite;
}

@keyframes animate {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(100%);
	}
}

header {
	padding: 100px 0;
}

header h1 {
	color: #282828;
	font-size: calc(30px + 30 * (100vw / 1300));
	font-family: 'Exo', sans-serif;
	text-transform: uppercase;
}

header p {
	color: #7f84a1;
	font-size: 14px;
	text-transform: none;
	cursor: pointer;
	margin-top: 10px;
}

.video-play-button button {
	z-index: 10;
	width: 70px;
	height: 70px;
	background: pink;
	border: 1px solid pink;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	margin-top: 70px;
}

.video-play-button button:hover {
	background-color: #D3D3D3;
}

.video-play-button i {
	color: #fff;
	font-size: 70px;
	padding-left: 10px;
}

.video-overlay {
	position: fixed;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
	-webkit-transition: all ease 500ms;
	transition: all ease 500ms;
}

.video-overlay.open {
	position: fixed;
	z-index: 1000;
	opacity: 1;
}

.video-overlay-close {
	position: absolute;
	z-index: 1000;
	top: 15px;
	right: 20px;
	font-size: 36px;
	line-height: 1;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: all 200ms;
	transition: all 200ms;
}

.video-overlay-close:hover {
	color: #fa183d;
}

.video-overlay iframe {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	/* width: 90%; */
	/* height: auto; */
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

.purple-button {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width: 200px;
	height: 50px;
	color: #f9f9fb;
	background: #ff6d6d;
	border: 2px solid #ff6d6d;
	margin-top: 30px;
}

.purple-button:hover {
	background: #d14f4f;
	border: 2px solid #d14f4f;
}

/** block1 **/
.block1 {
	background: #fff;
	display: flex;
	justify-content: space-between;
}

.block1-text {
	padding: 0 15px;
	flex-basis: 60%;
}

.block1 h3 {
	color: #fb8686;
	margin-top: 120px;
	text-transform: uppercase;
}

.block1 h2 {
	color: #282828;
	font-size: calc(30px + 10 * (100vw / 1300));
}

.block1 p {
	color: #979797;
	font-size: 16px;
	padding: 10px 0;
}

.block1-img {
	flex-basis: 40%;
}

.block1-img img {
	max-width: 600px;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/** block2 **/
.block2 {
	background: #f6f5f3;
}

.block2 h3 {
	color: #fb8686;
	text-transform: uppercase;
}

.block2 h2 {
	color: #282828;
	font-size: calc(25px + 15 * (100vw / 1300));
	margin-bottom: 90px;
}

.block2 p {
	color: #979797;
	font-size: 16px;
	margin-bottom: 90px;
}

/** block3 **/
.block3 {
	background: #ffffff;
	display: flex;
	justify-content: space-between;
}

.block3-text {
	padding: 0 15px;
	flex-basis: 60%;
}

.block3 h3 {
	color: #fb8686;
	text-transform: uppercase;
	margin-top: 20px;
}

.block3 h2 {
	color: #282828;
	font-size: calc(30px + 10 * (100vw / 1300));
	padding: 20px 0;
}

.block3 p {
	color: #979797;
	font-size: 16px;
}

.block3-img {
	position: relative;
	flex-basis: 40%;
}

.block3-img img {
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
}

.block3-bg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.block3 .nout {
	position: absolute;
	max-width: 500px;
	width: 100%;
	top: 20px;
	left: 0;
}

/** block4 **/
.block4 {
	background: url(img/black_bg.png);
}

.block4 h5 {
	color: #fb8686;
}

.block4 h4 {
	color: #ffffff;
}

.block4 p {
	color: #979797;
	font-size: 14px;
	font-style: italic;
	padding-bottom: 60px;
}

.block4 img {
	padding-top: 80px;
	margin-bottom: 60px;
}

/** block5 **/
.block5 {
	background: #ffffff;
	padding: 20px 0;
}

.block5 h3 {
	color: #fb8686;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin: 20px 0;
}

.block5 h2 {
	color: #282828;
	font-size: 40px;
	margin-bottom: 40px;
}

.block5 p {
	color: #979797;
	font-size: 16px;
	margin-top: 60px;
}

.comp {
	max-width: 500px;
	width: 100%;
}

/** block6 **/
.block6 {
	background: #323969;
}

.block6 h3 {
	color: #fb8686;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 100px;
}

.block6 h2 {
	color: white;
	font-size: 40px;
	margin-bottom: 60px;
}

.block6 p {
	color: #979797;
	font-size: 16px;
	margin-top: 60px;
	margin-bottom: 60px;
}

#messege textarea {
	max-width: 240px;
	width: 100%;
	height: 40px;
	color: white;
	background: #323969;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-color: white;
	outline: none;
}

.btn {
	color: #fff;
	background: #ff6d6d;
	max-width: 240px;
	width: 100%;
	height: 40px;
}

.btn:hover {
	background: #cc5252;
}

.try {
	padding-right: 70px;
}

.try p {
	color: white;
	font-size: 12px;
}

/** block7 **/
.block7 {
	background: white;
	margin-bottom: 20px;
}

.block7 h4 {
	color: #282828;
	font-size: 30px;
	margin-top: 100px;
}

.pt {
	color: white;
	font-size: 25px;
	margin-left: -40px;
}

.block7 p {
	color: #979797;
	font-size: 16px;
	padding-top: 16px;
}

.block7 p a {
	color: #979797;
}

.block7 p a:hover {
	text-decoration: underline;
}

#search_box {
	display: flex;
}

#search_box input[type="text"] {
	max-width: 140px;
	width: 100%;
	color: #979797;
	border: 1px solid #979797;
	height: 40px;
}

#search_box button {
	width: 40px;
	height: 40px;
	background: #ff6d6d;
	border: 1px solid #ff6d6d;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

/** АДАПТИВ **/

@media(min-width:0px) and (max-width:320px) {}

@media (max-width:769px) {
	#search_box {
		display: block;
	}

	.block1 {
		flex-direction: column;
	}

	.block3 {
		flex-direction: column;
	}
}