html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* header */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: "Nunito Sans", sans-serif;
	font-size: 20px;
	color: #777c86;
}

.wrapper {
	max-width: 1060px;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper-full {
	max-width: 1262px;
	margin: 0 auto;
	padding: 0 15px;
}

.header-bg {
	background: url(img/header-bg.png) right no-repeat;
	background-size: contain;
	height: auto;
	padding: 100px 0;
}

header.top_header .wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: distribute;
	justify-content: space-between;
}

header.top_header .wrapper nav.left_nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 45px;
	color: #723182;
	font-family: "Catamaran", sans-serif;
}

header.top_header .wrapper nav.right_nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 22px;
	color: #000;
}

header.top_header .wrapper nav.left_nav ul li {
	margin-left: 17px;
}

header.top_header .wrapper nav.right_nav ul li {
	margin-right: 20px;
}

header.top_header .wrapper nav.right_nav ul li a.active {
	color: #723182;
	font-size: bold;
}

header.top_header .wrapper nav.left_nav ul li a,
header.top_header .wrapper nav.right_nav ul li a {
	color: inherit;
	text-decoration: none;
	-webkit-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

header.top_header .wrapper nav.left_nav ul li a:hover,
header.top_header .wrapper nav.right_nav ul li a:hover {
	color: #fea3ac;
	-webkit-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

header button.header_button {
	background: #723182;
	border-radius: 20px;
	border: none;
	font-size: 20px;
	padding: 10px 15px;
	color: #fff;
	margin-top: -20px;
}

header button.header_button:hover {
	background: #000;
}

/* header burger*/
.header_burger {
	display: none;
	width: 40px;
	height: 28px;
	position: relative;
}

.burger_line {
	display: block;
	width: 100%;
	height: 2px;
	background-color: #3b3838;
	position: absolute;
	left: 0;
}

.burger_line_first {
	top: 0;
}

.burger_line_second {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.burger_line_third {
	bottom: 0;
}

@media (max-width: 768px) {
	/* burger*/
	.header_burger {
		display: block;
	}

	.right_nav {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: #6cd6f7;
		z-index: 10;
		padding: 20px;
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
		-webkit-transition: 0.2s all linear;
		-o-transition: 0.2s all linear;
		transition: 0.2s all linear;
	}

	.right_nav ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.right_nav_active {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	.header_item {
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}

	.header_item:last-child {
		margin-bottom: 0;
	}

	.header_link {
		font-size: 42px;
		line-height: 48px;
	}

	.header_nav-close {
		width: 40px;
		height: 40px;
		position: absolute;
		top: 100px;
		right: 25px;
		z-index: 11;
	}

	.header_nav-close-line {
		display: block;
		width: 100%;
		height: 2px;
		background-color: #fff;
		position: absolute;
		top: 50%;
	}

	.header_nav-close-line:first-child {
		-webkit-transform: translateY(-50%) rotate(45deg);
		-ms-transform: translateY(-50%) rotate(45deg);
		transform: translateY(-50%) rotate(45deg);
	}

	.header_nav-close-line:last-child {
		-webkit-transform: translateY(-50%) rotate(-45deg);
		-ms-transform: translateY(-50%) rotate(-45deg);
		transform: translateY(-50%) rotate(-45deg);
	}

	/* end burger */
}

/* Page heading*/
.page_heading h1 {
	font-weight: bold;
	font-size: calc(30px + 40 * (100vw / 1262)); /* font-size:70px; 1262-ширина екрана */
	line-height: 1;
	color: #000;
	margin-top: 70px;
}
@media (max-width: 767px) {
	.page_heading h1 {
		font-size: calc(30px + (40 + 40 * 0.7) * ((100vw - 320px) / 1262));
	}
	.page_heading span.subtitle {
		font-size: calc(18px + (10 + 10 * 0.7) * ((100vw - 320px) / 1262));
	}
}
.page_heading span.subtitle {
	font-size: calc(18px + 10 * (100vw / 1262)); /* font-size:28px; 1262-ширина екрана */
	line-height: 1.2;
	color: #2d2058;
	font-weight: 400;
}

#search_box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 40px 0;
}

#search_box input[type="text"] {
	width: 100%;
	max-width: 300px;
	height: 50px;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	padding: 10px;
	background: #e6e2e7;
	border: none;
	border-radius: 25px;
	outline: none;
}

#search_box input[type="submit"] {
	width: 60px;
	background: #e6e2e7 url(img/lupa.png) no-repeat center;
	border: none;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	height: 50px;
	outline: none;
}

/* our resources */
.our_resources {
	margin-top: 40px;
	padding: 20px 0;
	text-align: center;
	width: 100%;
	background-image: url(img/book22.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.our_resources_wrapper {
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
}

.our_resources h3 {
	font-weight: bold;
	font-size: 52px;
	color: #091e40;
	margin: 40px 0;
}

.our_resources span {
	color: #f9e93c;
}

.item_data {
	display: flex;
	align-items: center;
}
.item_data h5 {
	font-weight: bold;
	font-size: 32px;
	color: #091e40;
}

.item_data p {
	padding: 10px;
}

/* our_libraries wrapper */
.our_libraries {
	margin-top: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.our_libraries_info button {
	background: #723182;
	border-radius: 20px;
	border: none;
	padding: 15px 30px;
	color: #fff;
	margin-top: 40px;
}
.our_libraries_info button:hover {
	background: #000;
}

.our_libraries_info {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.our_libraries_info h4 {
	font-weight: bold;
	font-size: 42px;
	color: #091e40;
	margin: 40px 0;
}

.our_libraries_info span {
	color: #f9e93c;
}

.our_libraries_img {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.our_libraries_img img {
	max-width: 675px;
	width: 100%;
}
/* best_book */
.best_book {
	margin-top: 100px;
}

.best_book h3 {
	font-weight: bold;
	font-size: calc(30px + 22 * (100vw / 1262)); /* font-size:52px; 1262-ширина екрана */
	color: #091e40;
	margin-bottom: 80px;
	text-align: center;
}

.best_book span {
	color: #f9e93c;
}

.item_book {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: center;
}

.item_book_number {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
}

.item_book_number h5 {
	font-weight: bold;
	font-size: calc(18px + 18 * (100vw / 1262)); /* font-size:36px; 1262-ширина екрана */
	line-height: 2;
	color: #000;
}

.item_book_author p {
	font-size: 26px;
	color: #acaeb2;
}

.item_book_star ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

/* active_book */
.active_book {
	margin: 40px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}

.active_book_info h6 {
	font-weight: bold;
	font-size: calc(22px + 20 * (100vw / 1262)); /* font-size:42px; 1262-ширина екрана */
	color: #091e40;
	margin: 40px 0;
}
.active_book_info p {
	margin: 24px 0;
	font-size: calc(12px + 8 * (100vw / 1262)); /* font-size:20px; 1262-ширина екрана */
}
.active_book_info {
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
	margin: 0 5px;
}

.active_book_img {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.active_book_img img {
	max-width: 215px;
	width: 100%;
}
.best_book-button {
	display: flex;
	justify-content: center;
	align-items: center;
}
.best_book-button button {
	background: #723182;
	border-radius: 20px;
	border: none;
	padding: 15px 30px;
	color: #fff;
	margin: 40px auto;
}
.best_book-button button:hover,
.best_book-button button:active {
	background: #000;
	outline: none;
}

/* mobile_library wrapper */
.mobile_library {
	margin-top: 70px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.mobile_library_info {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.mobile_library_info h4 {
	font-weight: bold;
	font-size: 42px;
	color: #091e40;
	margin: 40px 0;
}

.mobile_library_info span {
	color: #f9e93c;
}

.mobile_library_img {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.mobile_library_img img {
	max-width: 622px;
	width: 100%;
}

.amazon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: flex-start;
	margin-top: 30px;
}
.amazon img {
	max-width: 188px;
	width: 100%;
}

/* footer */
.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 100px;
	align-items: flex-start;
}

.footer_items {
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
	display: flex;
	justify-content: space-between;
}
.footer_item {
	flex-direction: column;
}
.footer_item ul li a {
	text-decoration: none;
	color: #091e40;
	font-size: 17px;
	line-height: 2;
}

.footer_item .first {
	font-size: 22px;
	color: #723182;
}
.footer_item1 {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.footer_item1 ul {
	display: flex;
}

.footer_item1 ul li a {
	text-decoration: none;
	color: #723182;
	font-size: 45px;
	font-family: "Catamaran", sans-serif;
}

hr {
	height: 1px;
	color: #e2dfdf;
	width: 80%;
}

/* footer */
.footer-bottom {
	display: flex;
	justify-content: space-around;
	padding: 40px 0;
}

.footer_copy p {
	color: #091e40;
	font-size: 17px;
	line-height: 2;
}

.social_link ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.social_link ul li {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

/***** АДАПТИВ ********/

/***** Смартфон 3.5 *******/
@media (max-width: 477px) {
	.item_book_number {
		flex-direction: column;
	}
	.footer {
		flex-direction: column;
	}
}

/***** Смартфон 5.5 ******/
@media (max-width: 720px) {
	.item_data {
		display: flex;
		flex-wrap: wrap;
	}
	.our_libraries {
		flex-direction: column;
	}
	.mobile_library {
		display: flex;
		flex-direction: column;
	}
}
