html {
	scroll-behavior: smooth;
  }
body {
	overflow-x: hidden;
}

a,
a:hover {
	text-decoration: none;
}

ul {
	list-style: none;
}

body {
	font-size: 14px;
	line-height: 1;
	color: #000;
	font-family: "Noto Sans JP", sans-serif;
}

.container {
	max-width: 1300px;
	padding: 0 15px;
	margin: 0 auto;
}

header {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	object-fit: cover;
}
.main-header{
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color:#71d7f9;
}

.main-header .logo{
	color:#fff;
	font-size: 24px;
	text-transform: uppercase;
}
.main-header ul{
	display: flex;
	justify-content: end;
	margin-top: 10px;
}
.main-header ul li{
	list-style: none;
}
.main-header ul li a{
	margin: 0 15px;
	font-size: 17px;
	color:#fff;
}
.main-header ul li a:hover{
	color:#01b2ec;
}
/* we_work */
.we_work {
	padding: 40px 0;
}

.we_work h3 {
	font-size: calc(30px + 18 * (100vw / 1300));
	font-family: "Lemonada", cursive;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.we_work img {
	height: 90px;
}

.we_work h4 {
	font-size: calc(18px + 4 * (100vw / 1300));
	text-transform: uppercase;
}

.we_work p {
	font-size: calc(12px + 4 * (100vw / 1300));
	line-height: 1.4;
}

.we_work button {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	width: 20px;
	height: 20px;
	background: black;
	border: 1px solid black;
	margin-bottom: 14px;
}

/* future_events */
#future_events h3 {
	font-size: calc(30px + 18 * (100vw / 1300));
	font-family: "Lemonada", cursive;
	text-transform: uppercase;
	margin: 40px 0;
}

#future_events ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

#future_events ul li a {
	font-size: 20px;
	color: #888;
}

#future_events ul li a:hover {
	color: #71d7f9;
}

#future_events li.active a {
	color: #71d7f9;
}

#future_events img {
	max-width: 380px;
	width: 100%;
	height: 336px;
	margin: 0 auto;
}

/* nav-tab-list */
.hide {
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
	z-index: -1;
	opacity: 0;
}

.tab-cont {
	opacity: 1;
	transition: opacity 0.4s;
}

.tab-cont.hide {
	opacity: 0;
}

/* todays_events */
#todays_events {
	margin: 20px 0;
}

/* calendar */
#calendar2 {
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	font: monospace;
	line-height: 1.2em;
	font-size: 15px;
	text-align: center;
	background: #f2f2f2;
	border-radius: 20px;
}

#calendar2 thead {
	background: #00c0ff;
}

#calendar2 thead tr.header-tr {
	height: 120px;
}

#calendar2 thead tr:last-child {
	font-size: small;
	color: rgb(85, 85, 85);
}

#calendar2 thead tr:nth-child(1) td:nth-child(2) {
	color: rgb(50, 50, 50);
}

#calendar2 thead tr:nth-child(1) td:nth-child(1):hover,
#calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
	cursor: pointer;
}

#calendar2 tbody td {
	color: rgb(44, 86, 122);
}

#calendar2 tbody td:nth-child(n + 6),
#calendar2 .holiday {
	color: rgb(231, 140, 92);
}

#calendar2 tbody td.today {
	background: rgb(220, 0, 0);
	color: #fff;
}

/* end calendar */
#todays_events h3 {
	font-size: calc(30px + 18 * (100vw / 1300));
	font-family: "Lemonada", cursive;
	text-transform: uppercase;
	margin: 40px 0;
}

#todays_events h4 {
	font-size: calc(18px + 2 * (100vw / 1300));
	font-family: "Lemonada", cursive;
	text-transform: uppercase;
	color: #fa7777;
}

#todays_events h5 {
	color: #b7b7b7;
	font-size: 14px;
	font-weight: bold;
	margin-left: 40px;
}

#todays_events p {
	font-size: 16px;
	line-height: 1.4;
}

/* meet_our_guides */
#meet_our_guides {
	margin: 40px 0;
}

#meet_our_guides h3 {
	font-size: calc(30px + 18 * (100vw / 1300));
	font-family: "Lemonada", cursive;
	text-transform: uppercase;
}

#meet_our_guides p {
	font-size: calc(14px + 4 * (100vw / 1300));
	color: #71d7f9;
	max-width: 900px;
	width: 100%;
	margin: 20px auto;
}

#meet_our_guides .cont1 img.trainer-photo {
	max-width: 300px;
	width: 100%;
	height: 380px;
	margin:0 auto;
}

#meet_our_guides .cont1 h5 {
	color: #000;
	font-size: 24px;
}

#meet_our_guides .cont1 p {
	color: #fa7777;
	font-size: 16px;
	text-transform: uppercase;
}

#meet_our_guides .cont1 ul {
	display: flex;
	justify-content: center;
}

#meet_our_guides .cont1 ul img {
	width: 40px;
}

#meet_our_guides .cont1 ul img:hover {
	opacity: 0.8;
}

/* contact us */
#contact_us {
	margin: 20px 0;
}

#contact_us h3 {
	font-size: calc(30px + 18 * (100vw / 1300));
	font-family: "Lemonada", cursive;
	text-transform: uppercase;
	margin: 20px 0;
}

#contact_us h5 {
	color: #01b2ec;
	font-size: 24px;
	text-transform: uppercase;
}

#contact_us a {
	color: #fa7777;
	font-size: 18px;
	font-family: "Lemonada", cursive;
}

#contact_us p.contact-text {
	font-size: 17px;
	max-width: 900px;
	width: 100%;
	margin: 20px auto;
}

.contact-form input,
.contact-form textarea {
	max-width: 600px;
	width: 100%;
	height: 50px;
	padding: 10px;
	outline: none;
	border: none;
	background: #f2f2f2;
	margin: 4px 0;
}

.contact-form textarea {
	min-height: 140px;
}

.contact-form .mainBtn {
	border: 0;
	background: #01b2ec;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	max-width: 600px;
	width: 100%;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 34px;
}

div.contact-form input.mainBtn:hover {
	background: #87cefa;
}

/* photo-block */

.photo-block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.container1{
	flex-basis: 16.66%;
}
.photo-block img {
	max-width: 270px;
	width: 100%;
	height: 220px;
}

.container1 {
	position: relative;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #01b2ec;
	opacity: 0.8;
	overflow: hidden;
	max-width: 270px;
	width: 100%;
	height: 100%;
	transform: scale(0);
	transition: 0.3s ease;
}

.container1:hover .overlay {
	transform: scale(1);
	cursor: pointer;
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

/* footer */
footer {
	background: #22262e;
	padding: 20px 0;
}

footer p {
	font-size: 14px;
	color: #d3d4d5;
}

/* Responsive */
@media (max-width:991px){
	.main-header{
		padding:24px 50px;
		z-index: 1000;
	}
	.menu{
		position: fixed;
		top:75px;
		left:-100%;
		display: block;
		padding:100px 50px;
		text-align: center;
		width: 100%;
		height: 100vh;
		background:#fff;
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
		z-index:999;
		border-top: 1px solid rgba(0,0,0,0.2);
	}
	.menu.active{
		left:0;
	}
	.main-header ul li a{
		color:#111;
		font-size: 24px;
		line-height: 2;
	}
	.main-header ul{
		display: flex;
		flex-direction: column;
	}
	.toggle{
		width: 40px;
		height: 40px;
		background:url(../img/menu.png);
		background-position:center;
		background-repeat: no-repeat;
		background-size:30px;
		cursor: pointer;
	}
	.toggle.active{
		background:url(../img/close.png);
		background-position:center;
		background-repeat: no-repeat;
		background-size:30px;
		cursor: pointer;
	}
	.carousel-inner img{
		height: 500px;
	}
	.container1{
		flex-basis: 25%;
	}
}
@media (max-width:600px){
	.container1{
		flex-basis: 33.33%;
	}
}
@media (max-width:480px){
	.container1{
		flex-basis: 50%;
	}
}
