html {
    overflow-x: hidden;
}
body {
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    font-family: "Roboto", sans-serif;
    background: #fff;
}

.container {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

/** blue-header **/
#blue-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    color: #fff;
    font-size: 16px;
    background: #37bdb8;
}

#blue-header nav ul.right-ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#blue-header ul.right-ul li {
    border-right: 1px solid #fff;
    padding: 0 10px;
}

#blue-header nav ul.right-ul li a {
    color: #fff;
}

#blue-header nav ul.right-ul li a:hover {
    color: #656565;
}

/*** blue header nav ***/
.header-nav__select {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.nav-dropdown .nav-dropdown__title {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.nav-dropdown__title:hover,
.nav-dropdown__title:active {
    color: #656565;
}

.nav-dropdown__dropdown {
    padding-top: 20px;
    display: none;
    position: absolute;
    z-index: 20;
}

.nav-dropdown__dropdown a {
    border: 2px solid #f5f5f5;
    background-color: #fff;
}

.nav-dropdown:hover .nav-dropdown__dropdown {
    display: block;
}

a.nav-dropdown__dropdown-item {
    height: 40px;
    width: 100px;
    color: #808080;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #f5f5f5;
}

a.nav-dropdown__dropdown-item:hover {
    background-color: #f1f1f1;
}

/*** blue header nav end ***/
/** toggle-menu **/
.close,
.fa.fa-bars {
    display: none;
}

#responsive_menu {
    position: absolute;
    visibility: hidden;
}

@media screen and (max-width: 850px) {
    nav ul {
        position: fixed;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100vh;
        background: #37bdb8;
        flex-direction: column;
        box-sizing: border-box;
        transition: 300ms;
        text-align: center;
        z-index: 40;
        padding-top: 40px;
    }

    nav ul li {
        font-size: 20px;
    }

    .close {
        display: block;
    }

    .fa.fa-close {
        position: absolute;
        top: 20px;
        right: 40px;
        cursor: pointer;
    }

    .fa.fa-bars {
        display: block;
        color: #fff;
        font-size: 20px;
    }

    #responsive_menu:checked~ul {
        right: 0;
    }
}

/** end toggle-menu **/
/** header **/
header {
    display: flex;
    align-items: center;
    padding: 30px 0;
    line-height: 36px;
}

header h1 {
    font-size: calc(16px + 4 * (100vw / 1300));
    font-weight: bold;
    text-transform: uppercase;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

header ul li a {
    font-size: 14px;
    text-transform: uppercase;
}

header ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

header .header-form {
    display: flex;
    justify-content: space-between;
}

header .header-form form {
    display: flex;
    align-items: center;
    max-width: 180px;
    width: 100%;
}

header .header-form form input {
    background: transparent;
    border: 1px solid #656565;
    width: 150px;
    height: 25px;
    padding: 5px;
}

header .header-form form button {
    border: none;
    background: transparent;
}

header .header-form .icons {
    display: flex;
}

header .header-form .icon {
    height: 30px;
    width: 30px;
    background: #52a63c;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;
}

/* toggle modal */
#toggle {
    visibility: hidden;
    opacity: 0;
    position: relative;
}

#toggle:checked~dialog {
    display: block;
}

.label-close {
    background: skyblue;
    color: white;
    padding: 0.5em 1em;
    border-radius: 4px;
}

dialog {
    animation: appear 350ms ease-in 1;
    max-width: 500px;
    z-index: 10;
}

label {
    cursor: pointer;
}

.form-structor {
    background-color: #222;
    border-radius: 15px;
    height: 550px;
    width: 350px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.form-structor::after {
    content: "";
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 500px;
    background-image: url("https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf884ad570b50659c5fa2dc2cfb20ecf&auto=format&fit=crop&w=1000&q=100");
}

.form-structor .signup {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    width: 65%;
    z-index: 5;
    -webkit-transition: all 0.3s ease;
}

.form-structor .signup.slide-up {
    top: 5%;
    -webkit-transform: translate(-50%, 0%);
    -webkit-transition: all 0.3s ease;
}

.form-structor .signup.slide-up .form-holder,
.form-structor .signup.slide-up .submit-btn {
    opacity: 0;
    visibility: hidden;
}

.form-structor .signup.slide-up .form-title {
    font-size: 1em;
    cursor: pointer;
}

.form-structor .signup.slide-up .form-title span {
    margin-right: 5px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s ease;
}

.form-structor .signup .form-title {
    color: #fff;
    font-size: 1.7em;
    text-align: center;
}

.form-structor .signup .form-title span {
    color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
}

.form-structor .signup .form-holder {
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
    margin-top: 50px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s ease;
}

.form-structor .signup .form-holder .input {
    border: 0;
    outline: none;
    box-shadow: none;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 8px 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    font-size: 12px;
}

.form-structor .signup .form-holder .input:last-child {
    border-bottom: 0;
}

.form-structor .signup .form-holder .input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.form-structor .signup .submit-btn {
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.7);
    border: 0;
    border-radius: 15px;
    display: block;
    margin: 15px auto;
    padding: 15px 45px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s ease;
}

.form-structor .signup .submit-btn:hover {
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.8);
}

.form-structor .login {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 5;
    -webkit-transition: all 0.3s ease;
}

.form-structor .login::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -20px;
    -webkit-transform: translate(-50%, 0);
    background-color: #fff;
    width: 200%;
    height: 250px;
    border-radius: 50%;
    z-index: 4;
    -webkit-transition: all 0.3s ease;
}

.form-structor .login .center {
    position: absolute;
    top: calc(50% - 10%);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    width: 65%;
    z-index: 5;
    -webkit-transition: all 0.3s ease;
}

.form-structor .login .center .form-title {
    color: #000;
    font-size: 1.7em;
    text-align: center;
}

.form-structor .login .center .form-title span {
    color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
}

.form-structor .login .center .form-holder {
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid #eee;
    overflow: hidden;
    margin-top: 50px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s ease;
}

.form-structor .login .center .form-holder .input {
    border: 0;
    outline: none;
    box-shadow: none;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 8px 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    font-size: 12px;
}

.form-structor .login .center .form-holder .input:last-child {
    border-bottom: 0;
}

.form-structor .login .center .form-holder .input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.form-structor .login .center .submit-btn {
    background-color: #6b92a4;
    color: rgba(255, 255, 255, 0.7);
    border: 0;
    border-radius: 15px;
    display: block;
    margin: 15px auto;
    padding: 15px 45px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s ease;
}

.form-structor .login .center .submit-btn:hover {
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.8);
}

.form-structor .login.slide-up {
    top: 90%;
    -webkit-transition: all 0.3s ease;
}

.form-structor .login.slide-up .center {
    top: 10%;
    -webkit-transform: translate(-50%, 0%);
    -webkit-transition: all 0.3s ease;
}

.form-structor .login.slide-up .form-holder,
.form-structor .login.slide-up .submit-btn {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
}

.form-structor .login.slide-up .form-title {
    font-size: 1em;
    margin: 0;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
}

.form-structor .login.slide-up .form-title span {
    margin-right: 5px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s ease;
}

/*** carousel-section ***/
.carousel__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
    background: #000 url(../img/bg-slide.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h2.carousel__item-title {
    color: #ffffff;
    font-size: calc(20px + 10 * (100vw / 1300));
    text-transform: uppercase;
    text-align: center;
}

.carousel__item-text p {
    color: #fff;
    font-size: calc(16px + 4 * (100vw / 1300));
    text-transform: uppercase;
    text-align: center;
}

/**  slider **/
.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.carousel {
    position: relative;
}

.carousel .slick-arrow {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #ffffff;
    border-radius: 50%;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 21px;
    z-index: 10;
    font-size: 0;
}

.carousel .slick-arrow.slick-prev {
    left: 40px;
    background: url("../img/arrow-left.svg") center no-repeat;
}

.carousel .slick-arrow.slick-next {
    right: 40px;
    background: url("../img/arrow-right.svg") center no-repeat;
}

/** products ***/
.products {
    padding: 40px 0;
    background: #f1faee;
}

.products h3 {
    font-size: calc(20px + 4 * (100vw / 1300));
    margin-bottom: 27px;
    text-transform: uppercase;
}

.products-card {
    max-width: 240px;
    width: 100%;
    background: #fff;
    border: 1px solid #b7b7b7;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

/** border**/
.corner-ribbon-6 {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}

.corner-ribbon-6::before,
.corner-ribbon-6::after {
    position: absolute;
    content: "";
    display: block;
    border: 5px solid #2980b9;
}

.corner-ribbon-6 span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #337ab7;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 700 18px/1 "Lato", sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;
}

.corner-ribbon-6-top-left {
    top: -10px;
    left: -10px;
}

.corner-ribbon-6-top-left::before,
.corner-ribbon-6-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}

.corner-ribbon-6-top-left::before {
    top: 0;
    right: 0;
}

.corner-ribbon-6-top-left::after {
    left: 0;
    bottom: 0;
}

.corner-ribbon-6-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
}

.corner-ribbon-6-top-right {
    top: -10px;
    right: -10px;
}

.corner-ribbon-6-top-right::before,
.corner-ribbon-6-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}

.corner-ribbon-6-top-right::before {
    top: 0;
    left: 0;
}

.corner-ribbon-6-top-right::after {
    right: 0;
    bottom: 0;
}

.corner-ribbon-6-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
}

/**end border**/
.products-card:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-box-shadow: 0 3px 25px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.products-card .products-text p {
    font-size: 18px;
    font-weight: bold;
}

.products-card .products-text p.sale {
    font-size: 16px;
    color: #52a63c;
    padding-bottom: 70px;
}

.products-card img {
    padding: 40px 0 14px;
    height: 130px;
    width: 190px;
}

/** featured-glass **/
.products .featured-glass {
    max-width: 240px;
    width: 100%;
    height: 520px;
    background: #fff;
    text-align: center;
    border-top: 7px solid #0e95f3;
    margin: 0 auto;
}

.products .featured-glass p {
    font-size: calc(20px + 10 * (100vw / 1300));
    line-height: 30px;
    text-transform: uppercase;
}

.products .featured-glass button {
    background: #0e95f3;
    width: 140px;
    height: 40px;
    color: #fff;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 20px 0;
}

.products .featured-glass button:hover {
    background: #1479c0;
}

.grid1 {
    display: grid;
    grid-gap: 1em;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "a b c d"
        "e f g d"
        "h i k l";
}

.shop_1_row {
    grid-area: a;
}

.shop_2_row {
    grid-area: b;
}

.shop_3_row {
    grid-area: c;
}

.shop_4_row {
    grid-area: d;
}

.shop_5_row {
    grid-area: e;
}

.shop_6_row {
    grid-area: f;
}

.shop_7_row {
    grid-area: g;
}

.shop_8_row {
    grid-area: h;
}

.shop_9_row {
    grid-area: i;
}

.shop_10_row {
    grid-area: k;
}

.shop_11_row {
    grid-area: l;
}

/** signup **/
.products .signup {
    max-width: 240px;
    width: 100%;
    padding: 10px 7px;
    background: #fff;
    border-top: 7px solid #1479c0;
    text-align: center;
    margin: 0 auto;
}

.products .signup h4 {
    font-size: 16px;
    text-transform: uppercase;
    padding: 14px 0;
}

.products .signup p {
    font-size: 16px;
}

.products .signup form input {
    width: 145px;
    height: 35px;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #656565;
}

.products .signup form button {
    color: #fff;
    background: #52a63c;
    width: 112px;
    height: 40px;
    border: none;
}

.products .signup form button:hover {
    background: #255e16;
}

/* stylish */
.stylish {
    color: #31415c;
    background: #96dbc9 url(../img/stylish.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 40px 0 20px;
}

.stylish h5 {
    font-size: calc(10px + 4 * (100vw / 1300));
}

.stylish h3 {
    font-size: calc(30px + 20 * (100vw / 1300));
    font-style: bold;
}

.stylish p {
    color: #000;
    font-style: italic;
}

.stylish .button {
    max-width: 190px;
    width: 100%;
    max-height: 60px;
    min-height: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: #f0b87d;
    border: 4px solid;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    margin-top: 20px;
}

.stylish .button::before {
    content: "";
    width: 20px;
    height: 4px;
    position: absolute;
    left: 0;
    top: -4px;
    display: block;
    background: #96dbc9;
    transition: 500ms ease-in-out;
}

.stylish .button::after {
    content: "";
    width: 20px;
    height: 4px;
    position: absolute;
    right: 0;
    bottom: -4px;
    display: block;
    background: #96dbc9;
    transition: 500ms ease-in-out;
}

.stylish .button:hover::before {
    left: 80%;
}

.stylish .button:hover::after {
    right: 80%;
}

/* arrivals */
.arrivals {
    margin: 20px 0;
}

.arrivals h4 {
    color: #fff;
    font-weight: bold;
    font-size: calc(20px + 10 * (100vw / 1300));
}

.arrivals h5 {
    color: #00b8b8;
    font-weight: bold;
    font-size: calc(18px + 6 * (100vw / 1300));
}

.arrivals h3 {
    color: #000;
    font-weight: bold;
    font-size: calc(16px + 10 * (100vw / 1300));
    text-transform: uppercase;
}

.arrivals p {
    color: #636363;
    font-size: 14px;
}

.arrivals button {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    background: #f0b87d;
    border: 1px solid #f0b87d;
    padding: 10px;
    margin-top: 12px;
}

.arrivals button:hover {
    background: #eea659;
}

.arrivals-text1 {
    width: 250px;
    position: absolute;
    top: 8px;
    right: 10%;
}

.arrivals-text2 {
    width: 250px;
    position: absolute;
    top: 8px;
    left: 10%;
}

.arrivals img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 570px;
    width: 100%;
    max-height: 400px;
    min-height: 300px;
    position: relative;
}

/* offers */
.offers {
    margin: 20px 0;
}

.offers h4 {
    font-size: calc(20px + 10 * (100vw / 1300));
    color: #f0b87d;
    font-weight: bold;
    margin: 30px 0;
    text-transform: uppercase;
}

.offers span {
    font-size: calc(15px + 10 * (100vw / 1300));
    color: #000;
    font-weight: bold;
}

.offers-1 img,
.offers-3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.offers-1 img {
    max-width: 650px;
    width: 100%;
}

.offers-3 img {
    max-width: 400px;
    width: 100%;
}

.offers-1,
.offers-3 {
    position: relative;
}

.offers-1 .offers-text {
    position: absolute;
    bottom: 10%;
    left: 7%;
}

.offers-3 .offers-text {
    position: absolute;
    bottom: 30px;
    left: 13%;
}

.offers-text p {
    color: #f0b87d;
    font-size: calc(20px + 10 * (100vw / 1300));
    line-height: 1;
}

.offers-text button {
    color: #fff;
    font-size: calc(20px + 10 * (100vw / 1300));
    border: 1px solid #fff;
    padding: 8px 14px;
    background: transparent;
    margin-top: 20px;
}

.offers-text button:hover {
    background: #f0b87d;
}

.offers-2 {
    display: flex;
    justify-content: space-between;
}

.offers-2_block {
    border: 2px solid #c59e75;
    max-width: 325px;
    width: 100%;
    margin: 10px 0;
    text-align: center;
    padding: 10px;
}

.offers-2_block p {
    color: #c59e75;
    font-size: 16px;
}

.offers-2_block span {
    text-transform: uppercase;
}

/* best */
.best {
    margin: 20px 0;
}

.best h4 {
    font-size: calc(20px + 10 * (100vw / 1300));
    color: #f0b87d;
    font-weight: bold;
    margin: 30px 0;
    text-transform: uppercase;
}

.best span {
    font-size: calc(20px + 10 * (100vw / 1300));
    color: #000;
    font-weight: bold;
}

.best form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    background: #000;
    padding: 10px;
}

.best form .form-group-color select,
.best form .form-group-country select {
    width: 140px;
    height: 40px;
    background: #f0b87d;
    border: 1px solid #f0b87d;
    font-size: 18px;
    color: #fff;
    outline: none;
}

.best form .form-group-price input {
    width: 140px;
    height: 40px;
    border: 1px solid #f0b87d;
    font-size: 18px;
}

.best form .form-group-price label {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.best form input[type="submit"] {
    background: #f0b87d;
    border: 1px solid #f0b87d;
    font-size: 18px;
    color: #fff;
    width: 70px;
    height: 40px;
    text-align: center;
}

.best form input[type="submit"]:hover {
    background: #eea659;
}

/* best sort */
.column {
    display: none;
}

.show {
    display: block;
    float: left;
    width: 25%;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #f0b87d;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #000;
}

.best-card {
    text-align: center;
    border: 1px solid #f0b87d;
    width: 300px;
    margin: 10px auto;
    position: relative;
}

.best-card img {
    max-width: 280px;
    width: 100%;
    padding-top: 20px;
}

.best-card h6 {
    font-size: 24px;
    color: #f0b87d;
}

.best-card p {
    color: #ddd;
    font-size: 18px;
}

.best-card span {
    font-size: 18px;
}

/* best card hover */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f0b87d;
    opacity: 0.9;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: 0.3s ease;
}

.container1:hover .overlay {
    transform: scale(1);
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* women-men */
.women-men {
    margin: 20px 0;
    background: #96dbc9;
    padding: 20px 0;
    text-align: center;
}

.women-men p {
    font-size: calc(60px + 30 * (100vw / 1300));
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
    background-image: url(../img/water.jpg);
}

.women-men .menu {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}

.women-men a {
    color: #f0b87d;
    font-weight: bold;
    font-size: calc(17px + 10 * (100vw / 1300));
}

.women-men img {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

/* brands */
.brands {
    padding: 30px 0;
}

.brands h4 {
    font-size: calc(20px + 10 * (100vw / 1300));
    color: #f0b87d;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.brands span {
    font-size: calc(20px + 10 * (100vw / 1300));
    color: #000;
    font-weight: bold;
}

.brands img {
    height: 70px;
    width: 120px;
}

.brands-block {
    text-align: center;
}

.brands p {
    font-size: 20px;
    color: #f0b87d;
    font-weight: bold;
}

/** contacts **/
.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #82caf4;
    padding: 24px 0;
}

.contacts ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contacts ul li {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

.contacts ul li.contacts-icon {
    background: #fff;
    width: 70px;
    height: 65px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    padding-top: 15px;
}

/** information **/
.information {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
    background: #589fc7;
    padding: 20px;
    font-size: 18px;
}

.information-block {
    flex-basis: 24%;
}

.information-social {
    display: flex;
    justify-content: space-between;
    width: 200px;
    color: #f0b87d;
}

.information h5 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.information ul {
    list-style: none;
    display: flex;
    margin: 20px 0;
}

.information ul li.information-icon1 {
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    padding: 15px;
    margin-right: 12px;
}

.information ul.gal {
    flex-direction: column;
}

.information ul.gal img {
    margin-right: 12px;
}

hr {
    color: #fff;
    height: 2px;
}

/** footer **/
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 0;
    background: #30607c;
    color: #fff;
}

.footer p {
    font-size: 16px;
}

.footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.footer ul li a {
    color: #fff;
    font-size: calc(11px + 5 * (100vw / 1300));
    border-right: 1px solid #fff;
    padding: 0 5px;
}

/* АДАПТИВ */

@media (min-width: 0px) and (max-width: 480px) {
    .header-nav__select {
        width: 200px;
    }

    .carousel .slick-arrow {
        top: 75%;
    }

    .grid1 {
        grid-template-columns: 1fr;
        grid-template-areas:
            " a "
            " b "
            " c "
            " d "
            " e "
            " f "
            " g "
            " h "
            " i "
            " k "
            " l ";
    }

    .information {
        flex-direction: column;
    }

    .information-block {
        flex-basis: 95%;
    }

    .footer ul {
        padding: 14px 0;
    }

    .best form {
        display: flex;
        flex-direction: column;
    }

    .form-group-price {
        display: flex;
        flex-direction: column;
    }

    .best form input[type="submit"],
    .best form .form-group-price input,
    .best form .form-group-price label,
    .best form .form-group-color select,
    .best form .form-group-country select {
        margin: 7px 0;
    }

    .contacts ul {
        margin: 10px 0;
    }
}

/* Планшет */
@media (min-width: 481px) and (max-width: 768px) {
    .carousel .slick-arrow {
        top: 60%;
    }

    .grid1 {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            " a b"
            " c d "
            " e d "
            " f g "
            " h i "
            " k l ";
    }

    .information {
        flex-wrap: wrap;
    }

    .information-block {
        flex-basis: 45%;
    }

    .footer ul {
        padding: 14px 0;
    }

    .best form {
        display: flex;
        flex-direction: column;
    }

    .form-group-price {
        display: flex;
        flex-direction: column;
    }

    .best form input[type="submit"],
    .best form .form-group-price input,
    .best form .form-group-price label,
    .best form .form-group-color select,
    .best form .form-group-country select {
        margin: 7px 0;
    }

    .offers-3 .offers-text {
        position: absolute;
        bottom: 30px;
        left: 33%;
    }
}

/* Ноутбук */
@media (min-width: 769px) and (max-width: 992px) {
    .grid1 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            " a b c "
            " d e f "
            " d g h "
            " i k l ";
    }

    .information {
        flex-wrap: wrap;
    }

    .information-block {
        flex-basis: 45%;
    }
}
