html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body {
	font-size: 18px;
	line-height: 1.4;
	color: #000;
	font-family: "Roboto", sans-serif;
}
a,
a:hover {
	text-decoration: none;
}
ul {
	list-style: none;
}
.container {
	max-width: 1300px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
.btn {
	font-size: 18px;
	color: #fff;
	padding: 10px 20px;
	background:#f58466;;
	outline: none;
}
.btn:hover {
	color: #fff;
	background: #f5a994;;
	outline: none;
}

/* header */
#header {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: url(img/clothing.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 100px;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .navigation {
	position: relative;
	display: flex;
}
header .navigation li {
	list-style: none;
}
header .navigation li a {
	display: inline-block;
	color: #fff;
	margin-right: 40px;
	text-decoration: none;
}
header .navigation li a:hover {
	color:#f58466;
}
.fa-shopping-cart {
    position: relative;
}
.num-cart-product {
    position: absolute;
    top: -17px;
    right: -17px;
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #f58466;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* search */
.search-bar {
    width: 100%;
    height: 300px;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    box-shadow: 2px -5px 30px rgba(0,0,0,0.5);
    z-index: 101;
    animation: search 0.3s;
    -webkit-animation: search 0.3s;
}
.search-input {
    width: 90%;
    border-bottom: 2px solid #555;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
}
.search-bar input {
    width: 100%;
    padding: 30px;
    border: none;
    font-size: 2rem;
    margin: 20px;
    padding: 0 20px;
}
.search-cancel {
    color: #272727;
    font-size: 2rem;
    padding-right: 40px;
}
.search-bar {
    display: none;
}
.search-bar-active {
    display: flex;
}
@keyframes search {
    0% {
        bottom: -300px;
    }
    100% {
        bottom: 0;
    }
}
/* login */
.form {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 102;
}
.login-form,
.sign-up-form {
    width: 420px;
    padding: 20px 10px;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
}
.login-form form,
.sign-up-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.login-form strong,
.sign-up-form strong {
    color: #272727;
    font-size: 2rem;
    margin: 2px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.login-form input,
.sign-up-form input {
    width: 90%;
    height: 45px;
    margin: 6px 0;
    padding: 0 10px;
    border: 1px solid rgba(0,0,0,0.5);
    outline: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.login-form input::placeholder,
.sign-up-form input::placeholder {
    color: rgba(0,0,0,0.5);
}
.login-form [type='submit'],
.sign-up-form [type='submit'] {
    background: #f58466;
    color: #fff;
    border: none;
    outline: none;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.5);
}
.form-btns {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.form-btns a {
    color: #4d4d4d;
    font-size: 0.9rem;
}
.sign-up-btn {
    border-bottom: 1px solid #868686;
    line-height: 16px;
}
.form-cancel {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #868686;
}
.login-form,
.sign-up-form,
.form {
    display: none;
}
.login-active,
.login-active .login-form {
    display: flex;
    animation: fade 0.3s;
    -webkit-animation: fade 0.3s;
}
.sign-up-active,
.sign-up-active .sign-up-form {
    display: flex;
    animation: fade 0.3s;
    -webkit-animation: fade 0.3s;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* content */
#header .content {
	max-width: 600px;
}
#header .content .contentBx h2 {
	font-size: 4em;
	color: #fff;
	line-height: 1em;
}
#header .content .contentBx p {
	font-size: 1.1em;
	color: #fff;
	font-weight: 300;
	margin: 20px 0;
}
#header .sci {
	position: absolute;
	bottom: 30px;
	display: flex;
}
#header .sci li {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
#header .sci li a {
	position: relative;
	display: inline-block;
	margin-right: 20px;
	filter: invert(1);
	transform: scale(0.5);
}
@media(max-width:991px) {
	header {
		padding: 15px 40px;
	}
	#header{
		padding: 40px;
	}
	#header .content .contentBx h2 {
		font-size: 2.5em;
	}
	#header .content .contentBx p {
		font-size: 1em;
	}
	header .navigation {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #000;
		z-index: 10;
		display: none;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	header .navigation.active {
		display: flex;
	}
	header .navigation li a {
		font-size: 24px;
		margin: 10px 0;
	}
	.toggleMenu {
		position: relative;
		width: 30px;
		height: 30px;
		background: url(img/menu.png);
		background-position: center;
		background-size: 30px;
		background-repeat: no-repeat;
		cursor: pointer;
		z-index: 11;
	}
	.toggleMenu.active {
		background: url(img/close.png);
		background-position: center;
		background-size: 25px;
		background-repeat: no-repeat;
		position:fixed;
	}
}

/* products */
#products {
	margin-top: 60px;
}
#products h3 {
	color: #f58466;
	font-family: "Roboto Slab", serif;
	font-size: calc(25px + 10 * (100vw / 1300));
	text-transform: uppercase;
}
#products h4 {
	color: #616a72;
	font-size: calc(20px + 4 * (100vw / 1300));
	font-family: "Roboto Slab", serif;
	margin-bottom: 20px;
}
/* filter */
#section ul {
	display: flex;
	margin-bottom: 10px;
	justify-content: center;
}
#section ul li {
	font-size: 23px;
	list-style: none;
	margin:10px;
	cursor: pointer;
}
#section ul li.active {
	color: #f58466;
}
#section ul li:hover {
	color: #f58466;
}
#section ul li:after {
	content: "//";
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 700;
	line-height: 25px;
	color: #a6a6a6;
	margin: 0 18px;
}
#section ul li:last-child:after {
	display: none;
}
.product {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
}
.product .itemBox {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
	position:relative;
}
.product .itemBox img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}
.product .itemBox:hover .product_overlay {
	opacity:1;
}
.product_overlay {
    position: absolute;
    left: 5%;
    top: 6%;
    width: 90%;
    height: 90%;
    background: rgba(232, 76, 61, 0.81);
	opacity:0;
	transition:.6s;
}
.overlay_content {
	text-align: center;
    margin: 50% auto;
}
.overlay_content a {
	color: #fff;
}
.overlay_content a:hover {
	color: #000;
}
@media screen and (max-width: 800px) {
	.product .itemBox {
	  -ms-flex: 50%;
	  flex: 50%;
	  max-width: 50%;
	}
}
@media screen and (max-width: 600px) {
	.product .itemBox {
	  -ms-flex: 100%;
	  flex: 100%;
	  max-width: 100%;
	}
}

/* Services */
#services {
	margin-top: 30px;
}
#services h5 {
	color: #f58466;
	font-size: 20px;
	font-family: "Roboto Slab", serif;
	margin-bottom: 40px;
}
#services h6 {
	color: #000;
	font-size: 18px;
	font-weight: bold;
	font-family: "Roboto Slab", serif;
}
#services p {
	color: #616a72;
	font-size: 14px;
	font-family: "Roboto Slab", serif;
}
.bold_gray {
	color: #616a72;
	font-size: 11px;
	font-weight: bold;
}

/* friend */
#friend img {
	width: 100px;
}

/* sale */
#sale {
	background: #fef1ee;;
}
#sale #regForm {
	background-color: #ffffff;
	margin: 40px auto;
	font-family: Raleway;
	padding: 40px;
	width: 70%;
	min-width: 300px;
}
#sale h1 {
	text-align: center;
	font-size: 25px;
}
#sale input {
	padding: 10px;
	width: 100%;
	font-size: 17px;
	font-family: Raleway;
	border: 1px solid #aaaaaa;
	margin-bottom: 10px;
}
input.invalid {
	background-color: #ffdddd;
}
.tab {
	display: none;
}
#prevBtn {
	background-color: #bbbbbb;
}
.step {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbbbbb;
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
}
.step.active {
	opacity: 1;
}
.step.finish {
	background-color: #f58466;
}

/* posts */
#posts {
	margin: 30px 0;
}
#posts h5 {
	color: #f58466;
	font-family: "Roboto Slab", serif;
	font-size: calc(25px + 10 * (100vw / 1300));
	text-transform: uppercase;
	margin-bottom: 20px;
}
#posts .posts-text {
	text-align: center;
}
#posts .posts-text p {
	color:#616a72;
	font-size: 16px;
}
#posts .posts-text span {
	color:#1194c0;
	font-size: 18px;
}
.cont {
	position: relative;
	max-width: 350px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.image {
	display: block;
	width: 100%;
	height: auto;
	cursor: pointer;
}
.overlay {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	transition: .5s ease;
	opacity: 0;
	color: #fff;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}
.cont:hover .overlay {
	opacity: 1;
}

/* feauture */
.feauture {
	margin: 70px 0;
}
.feature-text {
	text-align: center;
}
.feauture h5 {
	color: #f58466;
	font-family: "Roboto Slab", serif;
	font-size: calc(25px + 10 * (100vw / 1300));
	text-transform: uppercase;
	margin-bottom: 20px;
}
.feauture .feature-text p {
	color: #f58466;
	font-size: 18px;
}
.feauture .feature-text h5 {
	color: #1194c0;
	font-size: 18px;
}
figure.snip1321 {
	position: relative;
	overflow: hidden;
	margin: 10px;
	min-width: 230px;
	max-width: 315px;
	width: 100%;
	color: #000000;
	text-align: center;
	-webkit-perspective: 50em;
	perspective: 50em;
	margin: 0 auto;
}
figure.snip1321 * {
	-webkit-box-sizing: padding-box;
	box-sizing: padding-box;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
figure.snip1321 img {
	max-width: 100%;
	vertical-align: top;
}
figure.snip1321 figcaption {
	top: 50%;
	left: 20px;
	right: 20px;
	position: absolute;
	opacity: 0;
	z-index: 1;
}
figure.snip1321 h2,
figure.snip1321 h4 {
	margin: 0;
}
figure.snip1321 h2 {
	font-weight: 600;
}
figure.snip1321 h4 {
	font-weight: 400;
	text-transform: uppercase;
}
figure.snip1321:after {
	background-color: #ffffff;
	position: absolute;
	content: "";
	display: block;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	-webkit-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	opacity: 0;
}
figure.snip1321:hover figcaption,
figure.snip1321.hover figcaption {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
figure.snip1321:hover:after,
figure.snip1321.hover:after {
	-webkit-transform: rotateX(0);
	transform: rotateX(0);
	opacity: 0.9;
}

/* foooter */
#footer {
	padding: 40px 0 20px;
	background: #fef1ee;
}
#footer a {
	display: flex;
	flex-direction: column;
	color:#f58466;
	font-size: 18px;
	line-height: 1.4;
	cursor: pointer;
}
#footer p {
	font-size: 14px;
	color:#f58466;
	font-family: "Roboto Slab", serif;
	text-transform: uppercase;
	margin-bottom: 10px;
}
#footer input {
	outline: none;
	background: #ffffff;
	font-size: 16px;
	border: none;
	max-width: 260px;
	width: 100%;
	height: 44px;
	padding: 4px;
}

/* @media */
@media screen and (max-width: 320px) {
	#section ul li:after {
		display: none;
	}	
	#footer a {
	font-size: 12px;
	margin-left: 10px;
	}
	.figure1 {
		width: 100%;
		margin:10px 0;
	}
}

/* single_product.html */
.single-product {
	margin-top: 30px;
}
.single-product h3 {
	margin: 20px 0;
	font-size: 22px;
	font-weight: bold;
}
.single-product select {
	 display: block;
	 padding: 10px;
	 margin: 20px 0;
}
.single-product input {
	 width: 50px;
	 height: 40px;
	 padding-left: 10px;
	 font-size: 20px;
	 margin-right: 10px;
	 border: 1px solid #ff523b;
}
.single-product input:focus {
	 outline: none;
}
.small-img-row {
	 display: flex;
	 justify-content: space-between;
	 margin: 20px 0;
}
.small-img-col {
	 flex-basis: 24%;
	 cursor: pointer;
}

/* shopping-cart.html */
.cart-page {
	margin: 80px auto;
}
table {
	width: 100%;
	border-collapse: collapse;
}
.cart-info {
   display: flex;
   flex-wrap: wrap;
}
th {
   text-align: left;
   padding: 5px;
   color:#fff;
   background:#ff523b;
   font-weight: normal;
}
td {
   padding: 10px 5px;
}
td input {
   width: 40px;
   height: 30px;
   padding: 5px;
}
td a {
   color:#ff523b;
   font-size: 12px;
}
td img {
   width: 80px;
   height: 80px;
   margin-right: 10px;
}
.total-price {
   display: flex;
   justify-content: flex-end;
}
.total-price table {
   border-top: 3px solid #ff523b;
   width: 100%;
   max-width: 400px;
}
td:last-child {
   text-align: right;
}
th:last-child {
   text-align: right;
}

