html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body {
	font-size: 18px;
	line-height: 1.4;
	color: #000;
	font-family: "Roboto", sans-serif;
}
a,
a:hover {
	text-decoration: none;
}
ul {
	list-style: none;
}
.container {
	max-width: 1300px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
li.a1 {
	width: 20px;
	height: 20px;
	background: #f58466;
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

/* header */
#header {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: url(img/clothing.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 100px;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .navigation {
	position: relative;
	display: flex;
}
header .navigation li {
	list-style: none;
}
header .navigation li a {
	display: inline-block;
	color: #fff;
	margin-right: 40px;
	text-decoration: none;
}
header .navigation li a:hover {
	color: #f58466;
}
.fa-shopping-cart {
    position: relative;
}
.num-cart-product {
    position: absolute;
    top: -17px;
    right: -17px;
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #f58466;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* search */
.search-bar {
    width: 100%;
    height: 300px;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    box-shadow: 2px -5px 30px rgba(0,0,0,0.5);
    z-index: 101;
    animation: search 0.3s;
    -webkit-animation: search 0.3s;
}
.search-input {
    width: 90%;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
}
.search-bar input {
    width: 100%;
    padding: 30px;
    border: none;
    font-size: 2rem;
    margin: 20px;
    padding: 0 20px;
}
.search-cancel {
    color: #000;
    font-size: 2rem;
    padding-right: 40px;
}
.search-bar {
    display: none;
}
.search-bar-active {
    display: flex;
}
@keyframes search {
    0% {
        bottom: -300px;
    }
    100% {
        bottom: 0;
    }
}
/* login */
.form {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 102;
}
.login-form,
.sign-up-form {
    width: 420px;
    padding: 20px 10px;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
}
.login-form form,
.sign-up-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.login-form strong,
.sign-up-form strong {
    color: #000;
    font-size: 2rem;
    margin: 2px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.login-form input,
.sign-up-form input {
    width: 90%;
    height: 45px;
    margin: 6px 0;
    padding: 0 10px;
    border: 1px solid rgba(0,0,0,0.5);
    outline: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.login-form input::placeholder,
.sign-up-form input::placeholder {
    color: rgba(0,0,0,0.5);
}
.login-form [type='submit'],
.sign-up-form [type='submit'] {
    background: #f58466;
    color: #fff;
    border: none;
    outline: none;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.5);
}
.form-btns {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.form-btns a {
    color: #000;
    font-size: 0.9rem;
}
.sign-up-btn {
    border-bottom: 1px solid #000;
    line-height: 16px;
}
.form-cancel {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #000;
}
.login-form,
.sign-up-form,
.form {
    display: none;
}
.login-active,
.login-active .login-form {
    display: flex;
    animation: fade 0.3s;
    -webkit-animation: fade 0.3s;
}
.sign-up-active,
.sign-up-active .sign-up-form {
    display: flex;
    animation: fade 0.3s;
    -webkit-animation: fade 0.3s;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* content */
#header .content {
	max-width: 600px;
}
#header .content .contentBx h2 {
	font-size: 4em;
	color: #fff;
	line-height: 1em;
}
#header .content .contentBx p {
	font-size: 1.1em;
	color: #fff;
	font-weight: 300;
	margin: 20px 0;
}
#header .content button {
	font-size: 18px;
	color: #fff;
	padding: 10px 20px;
	background:#f58466;
	border: none;
}
#header .content button:hover {
	background: #f5a994;
}
#header .sci {
	position: absolute;
	bottom: 30px;
	display: flex;
}
#header .sci li {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
#header .sci li a {
	position: relative;
	display: inline-block;
	margin-right: 20px;
	filter: invert(1);
	transform: scale(0.5);
}
@media(max-width:991px) {
	header {
		padding: 15px 40px;
	}
	#header{
		padding: 40px;
	}
	#header .content .contentBx h2 {
		font-size: 2.5em;
	}
	#header .content .contentBx p {
		font-size: 1em;
	}
	header .navigation {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #000;
		z-index: 10;
		display: none;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	header .navigation.active {
		display: flex;
	}
	header .navigation li a {
		font-size: 24px;
		margin: 10px 0;
	}
	.toggleMenu {
		position: relative;
		width: 30px;
		height: 30px;
		background: url(img/menu.png);
		background-position: center;
		background-size: 30px;
		background-repeat: no-repeat;
		cursor: pointer;
		z-index: 11;
	}
	.toggleMenu.active {
		background: url(img/close.png);
		background-position: center;
		background-size: 25px;
		background-repeat: no-repeat;
		position:fixed;
	}
}

/* summer_collection */
#summer_collection {
	margin-top: 100px;
}
#summer_collection h3 {
	font-size: calc(20px + 10 * (100vw / 1200));
	font-style: italic;
	font-weight: bold;
	margin-bottom: 20px;
}
.summer-item {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}
/* summer figcaption */
.snip1273 {
	position: relative;
	max-width: 280px;
	width: 100%;
	color: #ffffff;
	text-align: left;
	background-color: #000000;
	font-size: 16px;
	margin: 10px auto;
}
.snip1273 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
}
.snip1273 img {
	position: relative;
	max-width: 100%;
	vertical-align: top;
}
.snip1273 figcaption {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	padding: 40px 30px;
}
.snip1273 h4,
.snip1273 p {
	line-height: 1.5em;
}
.snip1273 h4 {
	margin: 0 0 5px;
	font-weight: 700;
	text-transform: uppercase;
}
.snip1273 p {
	font-size: 0.8em;
	font-weight: 500;
	margin: 0 0 15px;
}
.snip1273:hover img,
.snip1273.hover img {
	opacity: 0.4;
}
.snip1273:hover figcaption,
.snip1273.hover figcaption {
	opacity: 1;
}

/* our_brand */
#our_brand {
	margin: 70px 0;
}
#our_brand h3 {
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 70px;
}
#our_brand img {
	margin: 10px;
	width: 120px;
	height: 80px;
}

/* shop_now */
#shop_now {
	margin: 70px 0;
}
#shop_now h3 {
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 70px;
}
.shop_block {
	max-width: 380px;
	width: 100%;
	background-color: #e1e1e0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.shop_block .shop_block_img .rectangle {
	background-color: #f6e3d4;
	clip-path: polygon(55% 0, 100% 0, 100% 100%, 0% 100%);
}
.shop_block .shop_block_img .rectangle img {
	height: 360px;
}
.shop_block .shop_block_text {
	padding: 10px;
}
.shop_block .shop_block_text h5 {
	font-size: calc(26px + 10 * (100vw / 1200));
}
.shop_block .shop_block_text p {
	font-size: 20px;
	margin: 14px 0;
}
/* shop now hover */
.snip1361 {
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 380px;
	margin: 0 auto;
}
.snip1361 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.snip1361 figcaption {
	position: absolute;
	top: calc(77%);
	width: 100%;
	max-width: 380px;
	background-color: #ffffff;
	padding: 15px 25px 65px;
}
.snip1361 figcaption:before {
	position: absolute;
	content: "";
	z-index: 2;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 80px;
	background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
	background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}
.snip1361 h3,
.snip1361 p {
	margin: 0 0 10px;
}
.snip1361 h3 {
	font-weight: 300;
	font-size: 1.4em;
	line-height: 1.2em;
	text-transform: uppercase;
}
.snip1361 p {
	font-size: 0.9em;
	letter-spacing: 1px;
}
.snip1361:hover figcaption,
.snip1361.hover figcaption {
	top: 140px;
}

/* top_products */
#top_products {
	margin: 70px 0 10px;
}
#top_products h3 {
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 10px;
}
#top_products span {
	font-size: 18px;
}
#top_products ul.sort-list li {
	margin: 40px 0;
}
#top_products ul.sort-list li button {
	border: none;
	outline: none;
	font-size: 18px;
}
#top_products ul.sort-list button:hover {
	color: #f58466;
}
#top_products img {
	max-width: 398px;
	width: 100%;
}
figure .img-container {
	position: relative;
	cursor: pointer;
}
figure .addCart {
	position: absolute;
	right: 0;
	bottom: 0.6rem;
	background-color: #fff;
	border-radius: 50%;
	padding: 1.3rem 1.6rem;
	box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
	transition: all 300ms ease-in-out;
}
figure:hover .addCart {
	border-radius: 1rem 0 0 0;
}
figure .addCart:hover {
	background-color: #f58466;
	color: #fff;
}
figure i {
	transition: all 100ms ease-in-out;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
}
figure .side-icons {
	position: absolute;
	right: 0;
	top: 30%;
	transform: translate(0%, -50%);
	display: flex;
	flex-direction: column;
	padding: 1rem;
	transition: all 500ms ease-in-out;
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
}
figure .side-icons span {
	font-size: 1.4rem;
	background-color: #fff;
	margin: 0.3rem;
	padding: 1rem 1.3rem;
	border-radius: 50%;
	transition: all 300ms ease-in-out;
}
figure .side-icons span:hover {
	background-color: #f58466;
	color: #fff;
}
figure:hover .side-icons {
	transform: translate(10%, -50%);
	-webkit-transform: translate(10%, -50%);
	-moz-transform: translate(10%, -50%);
	-ms-transform: translate(10%, -50%);
	-o-transform: translate(10%, -50%);
}
#top_products h4 {
	font-size: calc(14px + 6 * (100vw / 1200));
	margin: 20px 0;
}
#top_products p {
	font-size: calc(14px + 4 * (100vw / 1200));
	font-style: italic;
	margin-bottom: 70px;
}
.column {
	float: left;
	width: 33.33%;
	display: none;
}
.show {
	display: block;
}

/* final */
.final-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.final-text span {
	color: #fff;
	font-size: calc(14px + 6 * (100vw / 1200));
	padding: 14px;
	background: #f58466;
}
.final-text h5 {
	font-size: calc(15px + 17 * (100vw / 1200));
	margin: 30px 0;
}
/* slider final */
.slick-list {
	overflow: hidden;
}
.slick-track {
	display: flex;
}
.slider__item {
	position: relative;
	text-align: center;
}
.slider-final img {
	max-width: 1400px;
	width: 100%;
	min-height: 270px;
}

/* friends */
#friends {
	margin: 40px 0;
	text-align: center;
}
#friends img {
	margin: 10px;
	height: 27px;
}

/* customers_say */
#customers_say {
	margin: 30px 0;
}
#customers_say h3 {
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
}

/* customer */
#customer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 14px;
	background: #ededed;
}
.customer-info {
	max-width: 380px;
	width: 100%;
	margin: 8px;
}
#customer p {
	font-size: calc(14px + 3 * (100vw / 1200));
	line-height: 1.2;
	margin-bottom: 20px;
	max-width: 400px;
	width: 100%;
}
#customer h4 {
	font-size: calc(14px + 4 * (100vw / 1200));
	font-weight: bold;
	margin-bottom: 10px;
}
#customer h5 {
	font-size: calc(13px + 3 * (100vw / 1200));
	padding-bottom: 10px;
}

/* footer */
#footer {
	padding-top: 50px;
	background: #000;
}
#footer h4 {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-transform: upercase;
	margin-bottom: 35px;
}
#footer p {
	color: #fff;
	font-size: 16px;
	line-height: 1.5;
}
#footer ul img {
	margin-bottom: 20px;
	max-width: 40px;
	width: 100%;
}
#footer hr {
	margin-bottom: 20px;
	margin-top: 60px;
	color: #fff;
	height: 2px;
}
#footer ul {
	margin-top: 20px;
}

/* @media */
@media (max-width: 840px) {
	#customer {
		display: flex;
		flex-direction: column;
	}
	#top_products .column {
		width: 50%;
	}
}
@media (max-width: 500px) {
	#top_products .column {
		width: 100%;
	}
	#top_products figure .side-icons {
		margin-right: 30px;
	}
	#top_products figure .addCart {
		margin-right: 30px;
	}
}
