a{
	text-decoration:none;
	color:#2b2a2a;
}
a:hover{
	text-decoration:none;
	color:#2b2a2a;
}
ul{
	list-style:none;
}
html { 
	overflow-x: hidden; 
}
.container{
	max-width:1200px;
	width:100%;
	padding:0 15px;
	margin:0 auto;
}
body{
	font-size:14px;
	line-height:1;
	color:#000;
	font-family: 'Lato', sans-serif;
	background:#fff;
}
/**** top_header_pink ********/
.top_header_pink{
	background:#f77070;
	padding:14px 0;
	position:relative;
}
.top_header_pink nav a{
	font-size:12px;
	font-weight:bold;
}
/***** navigation  ******/
/* Important styles */
#toggle {
  display: block;
  width: 30px;
  height: 30px;
  padding-top:10px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color:#fff;
  transition: all 0.3s;
  backface-visibility: hidden;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu {
  position: absolute;
  color: #000;
  width: 140px;
  padding:15px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius:4px;
	-moz-border-radius:4px;
  background:#fff;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  /* just for this demo */
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
}
#menu:after {
  position: absolute;
  top: -18px;
  left: 0px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #fff;
}
/*** top_header_white ******/
.top_header_white{
	margin-top:20px;
}
.top_header_white h1{
	color:#000;
	font-weight:bold;
	font-size:44px;
	line-height:44px;
	margin-bottom:70px;
}
.top_header_white nav a{
	font-size:18px;
	line-height:18px;
	display:block;
	font-family: 'Playfair Display', serif;
	text-transform:uppercase;
	padding-top:12px;
}
.top_header_white nav a:hover{
	text-decoration:underline;
}
.header-white-li{
	border-radius:50px;
	border:2px solid #E4BC71;
	height:30px;
	width:30px;
	padding-top:4px;
}
.top_header_white button{
	font-size:12px;
	color:#fff;
	font-family: 'Playfair Display', serif;
	font-size:bold;
	background:#111111;
	padding:4px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border:1px solid #111111;
}
.dropdown-menu {
	padding:5px;
}
/*** header  ****/
#header{
	margin-top:70px;
}
.header-slider__info{
	height:575px;
	background-image:url('../img/girl1.png');
	position:relative;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	text-align:center;
}
.header-slider__info__text{
	border: thick double #fff;
	padding:14px;
	text-transform:upercase;
}
.header-slider__info__text:hover{
	border: thick double #000;
}
.header-slider__info__text p{
	color:#fff;
	font-size:18px;
}
.header-slider__info__text h2{
	color:#000;
	font-weight:bold;
	font-size:40px;
}
.header-slider__info__text p.up{
	color:#fff;
	font-weight:bold;
	font-size:20px;
}
.header-slider__info__text h3{
	color:#000;
	font-weight:bold;
	font-size:28px;
}
.header-slider__info button{
	font-size:20px;
	color:#fff;
	font-family: 'Playfair Display', serif;
	font-size:bold;
	background:#f3864a;
	padding:5px 16px;
	height:60px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border:1px solid #f3864a;
	margin-top:14px;
}
.header-slider__info  button:hover{
	background:#f1702a;
}
/* слайдер */
.slick-list{
	overflow:hidden;
}
/* лента слайдов */
.slick-track{
	display:flex;
}
/* конкретный слайдер */
.slider{
	position:relative;
	padding:0 50px;
}
.slider .slick-arrow{
	position:absolute;
	top:50%;
	margin-top:-25px;
	z-index:10;
	font-size:0;
	width:30px;
	height:50px;
}
.slider .slick-arrow.slick-prev{
	left:0;
	background:url('../img/arrow-left.png') 0 0  no-repeat;
	border:none;
}
.slider .slick-arrow.slick-next{
	right:0;
	background:url('../img/arrow-right.png') 0 0 no-repeat;
	border:none;
}
.slider .slick-arrow.slick-disabled{
	opacity:0.2;/* чтобы стрелка ставала прозрачной, когда слайды заканчиваються*/
}
.slider .slick-dots{
	display:flex;
	align-items:center;
	justify-content:center;
}
.slider .slick-dots li{
	list-style:none;
	margin:0 10px;
}
.slider .slick-dots button{
	font-size:0;
	width:10px;
	height:10px;
	background-color:#847f7a;
	border:1px solid #847f7a;
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.slider .slick-dots li.slick-active button{
	background-color:#000;
	border:1px solid #000;
	width:10px;
	height:10px;
}

/**** time ******/
#time{
	margin:100px auto;
}
.icons1{
	height:100px;
	z-index:1;
	background:#d9bf8f;
	padding-top:20px;
	clip-path: polygon(0% 0%, 75% 0%, 90% 50%, 75% 100%, 0% 100%);
}
.icons2{
	height:100px;
	z-index:1;
	background:#000;
	padding-top:20px;
	clip-path: polygon(100% 0%, 97% 50%, 100% 100%, 0 100%, 3% 50%, 0 0);
}
.icons3{
	background:#d9bf8f;
	height:100px;
	z-index:1;
	padding-top:20px;
	clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 10% 50%);
}
#time h5{
	font-size:18px;
	color:#fff;
	font-weight:bold;
	margin-top:10px;
	z-index:2;
	text-transform:uppercase;
}
#time h5:hover{
	color:#e38f22;
}
#time img{
	z-index:2;
	width:20px;	
}
#time p{
	font-size:14px;
	color:#fff;
	font-weight:bold;
	z-index:2;
}
#time p:hover{
	color:#e38f22;
}

/****  handpicked *****/
#handpicked{
	margin:20px auto;
}
li.a1{
	width:20px;
	height:20px;
	background:#d9bf8f;
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
#handpicked h3{
	font-size:30px;
	color:#111;
	font-style:italic;
	font-weight:bold;
	margin-bottom:30px;
}
.grid1{
	text-align:center;
}
.grid1 img{
	max-width:330px;
	width:100%;
	margin:0 auto;
}
.grid1 img:hover{
	opacity:0.9;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.grid1 {
  display: grid;
  grid-gap: 1em;
  align-items:center;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-areas: "a b c "
                       "d b e ";
}
.shop_11_row{grid-area:a;}
.shop_12_row{grid-area:b;}
.shop_13_row{grid-area:c;}
.shop_14_row{grid-area:d;}
.shop_15_row{grid-area:e;}
/******* summer_collection *****/
#summer_collection{
	margin-top:100px;
}
#summer_collection h3{
	font-family: 'Playfair Display', serif;
	font-size:30px;
	color:#111;
	font-style:italic;
	font-weight:bold;
	margin-bottom:20px;
}
.summer-item{
	display:flex;
	align-items:center;
	flex-wrap:wrap;
	justify-content:space-between;
}
.summer-item img{
	width:280px;
	margin:0 auto;
}
/***** our_brand ******/
#our_brand{
	margin-top:50px;
}
#our_brand h3{
	font-family: 'Playfair Display', serif;
	font-size:30px;
	color:#111;
	font-style:italic;
	font-weight:bold;
	margin-bottom:40px;
}
#our_brand h3:hover{
	color:#e38f22;
}
/**** customers_say *****/
#customers_say{
	margin:30px 0;
}
#customers_say  h3{
	font-family: 'Playfair Display', serif;
	font-size:30px;
	color:#111;
	font-style:italic;
	font-weight:bold;
}
#customers_say h3:hover{
	color:#e38f22;
}
/**** customer1 ****/
#customer1 p{
	font-size:14px;
	color:#fff;
}
#customer1 h4{
	font-size:18px;
	color:#111;
}
#customer1 h5{
	font-size:16ps;
	color:#514f4f;
}
#customer1{
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:14px 0;
	background:#d9bf8f;
}
.customer1-info{
	display:flex;
	flex-direction:column;
}
/****  footer *******/
#footer{
	padding-top:50px;
	background:#1c1c1c;
}
#footer h4{
	color:#fff;
	font-size:16px;
	font-weight:bold;
	font-family: 'Lato', sans-serif;
	text-transform:upercase;
	margin-bottom:35px;
}
#footer h4:hover{
	color:#e38f22;
}
#footer p{
	color:#fff;
	font-size:12px;
	font-family: 'Lato', sans-serif;
	line-height:1;
}
#footer p:hover{
	color:#e38f22;
}
#footer ul img{
	margin-bottom:20px;
}
#footer hr{
	margin-bottom:20px;
	margin-top:60px;
	color:#504b4b;
	height:2px;
}
#footer form{
	background:#1c1c1c;
}
#footer input[type="text"]{
	width:65%;
	outline:none;
}
#footer input, button{
	background:transparent;
	border:1px solid #504b4b;
	color:#fff;
	height:30px;
}
/**************** АДАПТИВ *********************/
/****************   Смартфон 3.5*****************************/
@media(min-width:0px) and (max-width:320px){
	.top_header_white nav{
		margin-bottom:30px;
	}
	.grid1 {
	grid-template-columns:1fr;
	grid-template-areas: " a "
                         " b "
						 " c "
						 " d "
						 " e ";
	}
	#customer1{
	display:flex;
	flex-direction:column;
	}
	.customer1-info{
	padding:14px 0;
	}
	/********* footer **************/
	#footer h4{font-size:10px;}
	#footer img{width:30px;}
}
 /****************   Смартфон 5.5*****************************/
@media(min-width:321px) and (max-width:480px){
	.top_header_white nav{
		margin-bottom:30px;
	}
	.grid1 {
	grid-template-columns:1fr;
	grid-template-areas: " a "
                         " b "
						 " c "
						 " d "
						 " e ";
	}
	#customer1{
	display:flex;
	flex-direction:column;
	}
	.customer1-info{
	padding:14px 0;
	}
}
/****************   Планшет  *****************************/
@media(min-width:481px) and (max-width:600px){
	.top_header_white nav{
		margin-bottom:30px;
	}
	.grid1 {
	grid-template-columns:1fr;
	grid-template-areas: " a "
                         " b "
						 " c "
						 " d "
						 " e ";
	}
	#customer1{
	display:flex;
	flex-direction:column;
	}
	.customer1-info{
	padding:14px 0;
	}
}
@media(min-width:601px) and (max-width:768px){
	.top_header_white nav{
		margin-bottom:30px;
	}
	.grid1 {
	grid-template-columns:1fr 1fr;
	grid-template-areas: " a b "
                         " c b "
						 " d e ";
	}
	#customer1{
	display:flex;
	flex-direction:column;
	}
	.customer1-info{
	padding:14px 0;
	}
}
/****************   Ноутбук  *****************************/
@media(min-width:769px) and (max-width:992px){
	.grid1 {
	grid-template-columns:1fr 1fr;
	grid-template-areas: " a b "
                         " d b "
						 " e c ";
	}
}