html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}
a,
a:hover,
a:focus {
	text-decoration: none;
	color: #000;
}
ul {
	list-style: none;
}
.container {
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
body {
	font-size: 14px;
	line-height: 1.3;
	color: #000;
	font-family: "Lato", sans-serif;
	background: #fff;
}

/* header.top */
header.top {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #d9bf8f;
	padding: 30px 300px 30px 10px;
	box-sizing: border-box;
	margin-bottom: 50px;
}
header.top nav ul {
	display: flex;
	padding-left: 100px;
}
header.top nav ul li {
	margin: 0 10px;
	list-style: none;
}
header.top nav ul li a {
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}
header.top nav ul li a.active,
header.top nav ul li a:hover {
	color:#f1702a;
}
header.top .close,
header.top .fa.fa-bars {
	display: none;
}
header.top #responsive_menu {
	visibility: hidden;
	z-index: -9999;
}
header.top .logo {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
}
@media screen and (max-width:840px) {
	header.top nav ul {
		position: fixed;
		right: -100%;
		top: 0;
		width: 100%;
		height: 100vh;
		background: #d9bf8f;
		flex-direction: column;
		padding-top: 50px;
		box-sizing: border-box;
		transition: 300ms;
		z-index: 100;
	}
	header.top nav ul li {
		margin: 10px 0;
		font-size: 20px;
	}
	header.top .close {
		display: block;
	}
	header.top .fa.fa-close {
		position: absolute;
		top: 40px;
		right: 20px;
		cursor: pointer;
	}
	header.top .fa.fa-bars {
		display: block;
		color: #fff;
		font-size: 20px;
	}
	header.top #responsive_menu:checked~ul {
		right: 0;
	}
}
/* drop-menu */
.nav-list .drop-menu1,
.nav-list .drop-menu2 {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	top: 8rem;
	line-height: 2.5;
	position: absolute;
	background-color: #fff;
	opacity: 0;
	visibility: hidden;
	transition: all 300ms ease;
	z-index: 100;
}
.nav-list  ul.drop-menu1,
.nav-list  ul.drop-menu2 {
	flex-direction: column;
}
.nav-list .drop-menu1 li a,
.nav-list .drop-menu2 li a {
	display: block;
	font-size: 14px;
	width: 100%;
	padding: 10px;
	color: #000;
}
.nav-list .drop-menu1 li a:hover,
.nav-list .drop-menu2 li a:hover {
	color: #f1702a;
}
.nav-list li:hover .drop-menu1,
.nav-list li:hover .drop-menu2,
.nav-list li:hover .mega-box {
	opacity: 1;
	visibility: visible;
	top: 6.5rem;
}
.mega-box {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 8.5rem;
	left: 0;
	width: 100%;
	background-color: #fff;
	opacity: 0;
	visibility: hidden;
	transition: all 300ms ease;
	z-index: 200;
}
.mega-box .content {
	padding: 20px;
	display: flex;
	justify-content: space-between;
}
.mega-box .content .row {
	width: 25%;
	line-height: 2;
}
.content .row img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.mega-links {
	flex-direction: column;
}
.content .row header {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}
.content .row li a {
	padding: 10px 0;
	display: block;
	font-size: 12px;
	color: #000;
}
.content .row li a:hover {
	color: #f1702a;
}

/* header */
#header {
	margin-top: 70px;
}
.header-slider__info {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.header-slider__info__text {
	border: thick double #fff;
	text-transform: upercase;
	padding: 8px;
}
.header-slider__info__text p {
	color: #fff;
	font-size: calc(12px + 6 * (100vw / 1200));
}
.header-slider__info__text h2 {
	color: #000;
	font-weight: bold;
	font-size: calc(20px + 20 * (100vw / 1200));
}
.header-slider__info__text p.up {
	color: #fff;
	font-weight: bold;
	font-size: calc(12px + 8 * (100vw / 1200));
}
.header-slider__info__text h3 {
	color: #000;
	font-weight: bold;
	font-size: calc(18px + 10 * (100vw / 1200));
}
.header-slider__info button {
	font-size: calc(12px + 8 * (100vw / 1200));
	color: #fff;
	font-family: "Playfair Display", serif;
	font-size: bold;
	background: #f3864a;
	padding: 5px 16px;
	height: 60px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #f3864a;
	margin-top: 14px;
}
.header-slider__info button:hover {
	background: #f1702a;
}
/* слайдер */
.slick-list {
	overflow: hidden;
}
.slick-track {
	display: flex;
}
.slider {
	position: relative;
	padding: 0 40px;
}
.slider .slick-arrow {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 50px;
}
.slider .slick-arrow.slick-prev {
	left: 0;
	background: url("../img/arrow-left.png") 0 0 no-repeat;
	border: none;
}
.slider .slick-arrow.slick-next {
	right: 0;
	background: url("../img/arrow-right.png") 0 0 no-repeat;
	border: none;
}
.slider .slick-arrow.slick-disabled {
	opacity: 0.2;
}
.slider .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li {
	list-style: none;
	margin: 0 10px;
}
.slider .slick-dots button {
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #847f7a;
	border: 1px solid #847f7a;
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.slider .slick-dots li.slick-active button {
	background-color: #000;
	border: 1px solid #000;
	width: 10px;
	height: 10px;
}
.slider img {
	max-width: 1200px;
	width: 100%;
	min-height: 300px;
}

/* time */
#time {
	margin: 40px 10px;
}
.time-blocks {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.time-icon {
	position: relative;
	text-align: center;
	color: white;
	padding: 10px 0;
}
.time-icon img {
	max-width: 380px;
	width: 100%;
}
.time-block {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.time-block .time-icon-text {
	font-size: calc(4px + 10 * (100vw / 1200));
	line-height: 1.2;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 0;
}

/* handpicked */
#handpicked {
	padding: 70px 0;
}
li.a1 {
	width: 20px;
	height: 20px;
	background: #d9bf8f;
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
#handpicked h3 {
	font-size: 30px;
	color: #111;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 70px;
}
.grid1 {
	text-align: center;
}
.grid1 img {
	max-width: 330px;
	width: 100%;
	margin: 0 auto;
}
.grid1 img:hover {
	opacity: 0.9;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.grid1 {
	display: grid;
	grid-gap: 1em;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
		"a b c "
		"d b e ";
}
.shop_11_row {
	grid-area: a;
}
.shop_12_row {
	grid-area: b;
}
.shop_13_row {
	grid-area: c;
}
.shop_14_row {
	grid-area: d;
}
.shop_15_row {
	grid-area: e;
}

/* summer_collection */
#summer_collection {
	margin-top: 100px;
}
#summer_collection h3 {
	font-family: "Playfair Display", serif;
	font-size: calc(20px + 10 * (100vw / 1200));
	color: #111;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 20px;
}
.summer-item {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}
/* summer figcaption */
.snip1273 {
	position: relative;
	max-width: 280px;
	width: 100%;
	color: #ffffff;
	text-align: left;
	background-color: #000000;
	font-size: 16px;
	margin: 10px auto;
}
.snip1273 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
}
.snip1273 img {
	position: relative;
	max-width: 100%;
	vertical-align: top;
}
.snip1273 figcaption {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	padding: 40px 30px;
}
.snip1273 h4,
.snip1273 p {
	line-height: 1.5em;
}
.snip1273 h4 {
	margin: 0 0 5px;
	font-weight: 700;
	text-transform: uppercase;
}
.snip1273 p {
	font-size: 0.8em;
	font-weight: 500;
	margin: 0 0 15px;
}
.snip1273:hover img,
.snip1273.hover img {
	opacity: 0.4;
}
.snip1273:hover figcaption,
.snip1273.hover figcaption {
	opacity: 1;
}

/* our_brand */
#our_brand {
	margin: 70px 0;
}
#our_brand h3 {
	font-family: "Playfair Display", serif;
	font-size: 30px;
	color: #111;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 70px;
}
#our_brand h3:hover {
	color: #e38f22;
}

/* shop_now */
#shop_now {
	margin: 70px 0;
}
#shop_now h3 {
	font-family: "Playfair Display", serif;
	font-size: 30px;
	color: #111;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 70px;
}
.shop_block {
	max-width: 380px;
	width: 100%;
	background-color: #e1e1e0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.shop_block .shop_block_img .rectangle {
	background-color: #f6e3d4;
	clip-path: polygon(55% 0, 100% 0, 100% 100%, 0% 100%);
}
.shop_block .shop_block_img .rectangle img {
	height: 360px;
}
.shop_block h5 {
	font-size: calc(26px + 10 * (100vw / 1200));
}
.shop_block p {
	font-size: 20px;
	margin: 14px 0;
}
.shop_block span {
	font-size: 14px;
	border-bottom: 3px solid #000;
}
/* shop now hover */
.snip1361 {
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 380px;
	margin: 0 auto;
}
.snip1361 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.snip1361 figcaption {
	position: absolute;
	top: calc(77%);
	width: 100%;
	max-width: 380px;
	background-color: #ffffff;
	padding: 15px 25px 65px;
}
.snip1361 figcaption:before {
	position: absolute;
	content: "";
	z-index: 2;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 80px;
	background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
	background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}
.snip1361 h3,
.snip1361 p {
	margin: 0 0 10px;
}
.snip1361 h3 {
	font-weight: 300;
	font-size: 1.4em;
	line-height: 1.2em;
	text-transform: uppercase;
}
.snip1361 p {
	font-size: 0.9em;
	letter-spacing: 1px;
}
.snip1361:hover figcaption,
.snip1361.hover figcaption {
	top: 140px;
}

/* customers_say */
#customers_say {
	margin: 30px 0;
}
#customers_say h3 {
	font-family: "Playfair Display", serif;
	font-size: 30px;
	color: #111;
	font-style: italic;
	font-weight: bold;
}
#customers_say h3:hover {
	color: #e38f22;
}

/* top_products */
#top_products {
	margin: 70px 0 10px;
}
#top_products h3 {
	font-family: "Playfair Display", serif;
	font-size: 30px;
	color: #111;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 10px;
}
#top_products span {
	font-size: 18px;
}
#top_products ul.sort-list li {
	margin: 40px 0;
}
#top_products ul.sort-list li button {
	border: none;
	outline: none;
	color: #000;
	font-size: 18px;
}
#top_products ul.sort-list button:hover {
	color: #d9bf8f;
}
#top_products img {
	max-width: 398px;
	width: 100%;
}
figure .img-container {
	position: relative;
	cursor: pointer;
}
figure .addCart {
	position: absolute;
	right: 0;
	bottom: 0.6rem;
	background-color: #fff;
	border-radius: 50%;
	padding: 1.3rem 1.6rem;
	box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
	transition: all 300ms ease-in-out;
}
figure:hover .addCart {
	border-radius: 1rem 0 0 0;
}
figure .addCart:hover {
	background-color: #ff4545;
	color: #fff;
}
figure i {
	transition: all 100ms ease-in-out;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
}
figure .side-icons {
	position: absolute;
	right: 0;
	top: 30%;
	transform: translate(0%, -50%);
	display: flex;
	flex-direction: column;
	padding: 1rem;
	transition: all 500ms ease-in-out;
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
}
figure .side-icons span {
	font-size: 1.4rem;
	background-color: #fff;
	margin: 0.3rem;
	padding: 1rem 1.3rem;
	border-radius: 50%;
	transition: all 300ms ease-in-out;
}
figure .side-icons span:hover {
	background-color: #ff4545;
	color: #fff;
}
figure:hover .side-icons {
	transform: translate(10%, -50%);
	-webkit-transform: translate(10%, -50%);
	-moz-transform: translate(10%, -50%);
	-ms-transform: translate(10%, -50%);
	-o-transform: translate(10%, -50%);
}
#top_products h4 {
	font-size: calc(14px + 6 * (100vw / 1200));
	margin: 20px 0;
}
#top_products p {
	font-size: calc(14px + 4 * (100vw / 1200));
	font-style: italic;
	margin-bottom: 70px;
}
/* top_products filter */
.column {
	float: left;
	width: 33.33%;
	display: none;
}
.show {
	display: block;
}

/* final */
.final-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.final-text span {
	color: #fff;
	font-size: calc(14px + 6 * (100vw / 1200));
	padding: 20px;
	background: #d9bf8f;
}
.final-text span:hover {
	background: #d4b780;
}
.final-text h5 {
	font-size: calc(15px + 17 * (100vw / 1200));
	margin: 30px 0;
}
.final-text p {
	font-size: calc(14px + 4 * (100vw / 1200));
	border-bottom: 2px solid #000;
	padding-bottom: 6px;
	width: 80px;
}
/* slider final */
.slick-list {
	overflow: hidden;
}
.slick-track {
	display: flex;
}
.slider__item {
	position: relative;
	text-align: center;
}
.slider-final img {
	max-width: 1400px;
	width: 100%;
	min-height: 270px;
}

/* friends */
#friends {
	margin: 40px 0;
	text-align: center;
}

/* customer1 */
#customer1 p {
	font-size: calc(14px + 3 * (100vw / 1200));
	line-height: 1.2;
	color: #fff;
	margin-bottom: 20px;
	max-width: 400px;
	width: 100%;
}
#customer1 h4 {
	font-size: calc(14px + 4 * (100vw / 1200));
	font-weight: bold;
	color: #111;
	margin-bottom: 10px;
}
#customer1 h5 {
	font-size: calc(13px + 3 * (100vw / 1200));
	color: #514f4f;
	padding-bottom: 10px;
}
#customer1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 14px;
	background: #d9bf8f;
}
.customer1-info {
	display: flex;
	flex-direction: column;
	max-width: 380px;
	width: 100%;
	margin: 0 15px;
}

/* footer */
#footer {
	padding-top: 50px;
	background: #1c1c1c;
}
#footer h4 {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	font-family: "Lato", sans-serif;
	text-transform: upercase;
	margin-bottom: 35px;
}
#footer p {
	color: #fff;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	line-height: 1.5;
}
#footer p:hover {
	color: #e38f22;
}
#footer ul img {
	margin-bottom: 20px;
	max-width: 40px;
	width: 100%;
}
#footer hr {
	margin-bottom: 20px;
	margin-top: 60px;
	color: #504b4b;
	height: 2px;
}
#footer form {
	background: #1c1c1c;
}
#footer input[type="text"] {
	width: 65%;
	outline: none;
}
#footer input,
button {
	background: transparent;
	border: 1px solid #504b4b;
	color: #fff;
	height: 30px;
}
#footer ul {
	margin-top: 20px;
}

/* @media */
@media (max-width: 500px) {
	#handpicked {
		padding: 20px 0;
	}
	#summer_collection {
		margin-top: 40px;
	}
	.column {
		width: 100%;
	}
	figure .addCart {
		padding: 20px;
		right: 20px;
	}
	figure .side-icons span {
		padding: 20px;
	}
}

@media (max-width: 600px) {
	.grid1 {
		grid-template-columns: 1fr;
		grid-template-areas:
			" a "
			" b "
			" c "
			" d "
			" e ";
	}
}
@media (max-width: 840px) {
	header.top {
		padding: 30px 16px 30px 10px;
	}
}

@media (max-width: 768px) {
	.grid1 {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			" a b "
			" c b "
			" d e ";
	}
	figure .addCart {
		padding: 10px;
	}
	figure .side-icons span {
		padding: 10px;
	}
	#customer1 {
		display: flex;
		flex-direction: column;
	}
	.customer1-info {
		padding: 14px 0;
	}
}

@media (max-width: 992px) {
	.grid1 {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			" a b "
			" d b "
			" e c ";
	}
	#friends img {
		margin: 10px 0;
	}
	#our_brand img {
		margin: 10px auto;
	}
	.products-sort form {
		flex-direction: column;
	}
}

/* products.html */
.products-sort form {
	display: flex;
	font-size: 16px;
}
.products-sort form select {
	padding: 10px;
	border: 1px solid #f2f2f2;
	outline: none;
}
.products-sort form button{
	width: 100px;
	height: 40px;
	background-color: #ff4545;
	border: none;
	color: #fff;
	transition: all 300ms ease-in-out;
	border-radius: 10%;
	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
	-ms-border-radius: 10%;
	-o-border-radius: 10%;
	margin-top: 20px;
} 
.products-sort form button:hover {
	background-color: #000;
}
.products-sort h3 {
	font-size: 44px;
}  
.products-sort div {
	margin-bottom: 30px;
}
.block-content li {
	margin-bottom: 4px;
}
/* Customize the label (the container) */
.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}
.container:hover input ~ .checkmark {
	background-color: #ccc;
}
.container input:checked ~ .checkmark {
	background-color: #d9bf8f;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.container input:checked ~ .checkmark:after {
	display: block;
}
.container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4rem 0;
}
.pagination span {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	color: #000;
	font-size: 1.3rem;
	border: 1px solid #828282;
	margin-right: 0.5rem;
	cursor: pointer;
}
.pagination span:hover {
	background-color: #d9bf8f;
	border: 1px solid #d9bf8f;
	color: #fff;
}
  