html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

html {
	overflow-x: hidden;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/* header */
body {
	font-family: 'Fira Sans', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: #6b6969;
}

.wrapper {
	max-width: 1060px;
	width: 100%;
	margin: 0 auto;
}

.wrapper-full {
	max-width: 1260px;
	width: 100%;
	margin: 0 auto;
}

header {
	background: url(img/header-bg.png)no-repeat center;
	padding: 40px 0 230px;
	background-size: cover;
	background-attachment: fixed;
}

.top_header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: space-around;
}

.top_header .logo a {
	color: #ff6a6d;
	font-weight: 600;
	font-size: 32px;
	line-height: 40px;
}

.top_header nav.right_nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 18px;
	line-height: 36px;
	color: #1c2056;
}

.top_header nav.right_nav ul li {
	margin-right: 20px;
}

.top_header nav.right_nav ul li.active {
	color: #ff6a6d;
	font-weight: 600;
}

.top_header nav.right_nav ul li a {
	color: inherit;
}

.top_header nav.right_nav ul li a:hover {
	color: #ff6a6d;
	-webkit-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.top_header nav.right_nav ul li a.top-header_button {
	background: #ff6a6d;
	color: #fff;
	-webkit-box-shadow: 1px 8px 54px rgba(255, 0, 5, 0.19);
	box-shadow: 1px 8px 54px rgba(255, 0, 5, 0.19);
	border-radius: 50px;
	margin-left: 40px;
	padding: 2px 30px;
}

.top_header nav.right_nav ul li a.top-header_button:hover,
.page_heading_button1:hover,
.top-footer_button2:hover {
	background: #f63f42;
}

/* header burger*/
.header_burger {
	display: none;
	width: 40px;
	height: 28px;
	position: relative;
}

.burger_line {
	display: block;
	width: 100%;
	height: 2px;
	background-color: #3b3838;
	position: absolute;
	left: 0;
}

.burger_line_first {
	top: 0;
}

.burger_line_second {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.burger_line_third {
	bottom: 0;
}

/* Page heading*/
.page_heading {
	max-width: 50%;
}

.page_heading-title {
	font-weight: 600;
	font-size: calc(30px + 20 * (100vw / 1260));
	/* font-size:50px; 1260-ширина екрана */
	line-height: 1;
	color: #3b3838;
	margin: 70px 0;
}

.page_heading-subtitle {
	font-size: calc(14px + 6 * (100vw / 1260));
	/* font-size:20px; 1260-ширина екрана */
	line-height: 1.5;
	font-family: 'Gotu', sans-serif;
	color: #5281ce;
}

.page_heading_button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 40px;
}

.page_heading_button1 {
	background: #ff6a6d;
	color: #fff;
	-webkit-box-shadow: 1px 8px 54px rgba(255, 0, 5, 0.19);
	box-shadow: 1px 8px 54px rgba(255, 0, 5, 0.19);
	text-align: center;
	padding: 10px 40px;
	border-radius: 50px;
}

.page_heading_button2 {
	background: transparent;
	color: #ff6a6d;
	border: 1px solid #ff6a6d;
	text-align: center;
	padding: 10px 40px;
	border-radius: 50px;
}

.page_heading_button2:hover {
	background: #fff;
	color: #ff6a6d;
}

/* choose_beryoga */
.choose_beryoga {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-top: 24px;
}

.choose_beryoga h3 {
	font-size: calc(30px + 16 * (100vw / 1260));
	/* font-size:46px; 1260-ширина екрана */
	line-height: 1.2;
	font-weight: 600;
	color: #3b3838;
}

.choose_beryoga p {
	text-align: center;
	font-family: 'Gotu', sans-serif;
	color: #5281ce;
	margin: 40px 0;
}

/** slider **/
.slick-list {
	overflow: hidden;
}

.slick-track {
	display: flex;
}

.slider {
	position: relative;
	max-width: 656px;
	width: 100%;
	padding: 0;
}

.slider .slick-arrow {
	position: absolute;
	top: 40%;
	z-index: 10;
	font-size: 0;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	outline: none;
}

.slider__item {
	text-align: center;
	outline: none;
	width: 212px;
}

.slider .slick-arrow.slick-prev {
	left: 0;
	background: #ff6a6d url('img/arrow-left.svg') center no-repeat;
}

.slider .slick-arrow.slick-next {
	right: 0;
	background: #ff6a6d url('img/arrow-right.svg') center no-repeat;
}

.slider .slick-arrow:hover {
	background-color: #ee7d7f;
}

.slider .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider .slick-dots li {
	list-style: none;
	margin: 0 10px;
}

.slider .slick-dots button {
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #ff6a6d;
	border-radius: 50%;
	border: none;
	outline: none;
}

.slider .slick-dots li.slick-active button {
	border: 1px solid #ff6a6d;
	background-color: #fff;
}

/** end slider **/
/* what_beryoga */
.what_beryoga {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 100px;
}

.what_beryoga_img {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.what_beryoga_img img {
	max-width: 994px;
	width: 100%;
}

.what_beryoga_info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.what_beryoga_info h3 {
	font-size: calc(30px + 12 * (100vw / 1260));
	/* font-size:42px; 1260-ширина екрана */
	line-height: 50px;
	font-weight: 600;
	color: #3b3838;
	margin-bottom: 40px;
}

.what_beryoga_info h6 {
	font-size: 20px;
	font-weight: bold;
	color: #3b3838;
}

.what_beryoga_info p {
	font-family: 'Gotu', sans-serif;
	margin: 10px 0;
}

.what_beryoga_check .fa-check {
	color: #f06070;
}

/* power_beryoga */
.power_beryoga {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 100px;
}

.power_beryoga_img {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.power_beryoga_img img {
	max-width: 661px;
	width: 100%;
}

.power_beryoga_info {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.power_beryoga_info h3 {
	font-size: calc(30px + 12 * (100vw / 1260));
	/* font-size:42px; 1260-ширина екрана */
	line-height: 50px;
	font-weight: 600;
	color: #3b3838;
	margin-bottom: 40px;
}

.power_beryogaa_info p {
	font-family: 'Gotu', sans-serif;
}

.power_beryoga_info p.italic {
	font-style: italic;
	margin-bottom: 20px;
}

.power_beryoga_info a.italic_blue {
	font-style: italic;
	color: #5281ce;
	margin: 20px 0;
}

.power_beryoga_info a.italic_blue:hover {
	text-decoration: underline;
	cursor: pointer;
}

#more {
	display: none;
}

/* make_beryoga */
.make_beryoga {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 100px;
}

.make_beryoga_img {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.make_beryoga_img img {
	max-width: 629px;
	width: 100%;
}

.make_beryoga_info {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.make_beryoga_info h3 {
	font-size: calc(30px + 12 * (100vw / 1260));
	/* font-size:42px; 1260-ширина екрана */
	font-weight: 600;
	color: #3b3838;
	margin-bottom: 40px;
	line-height: 50px;
}

.make_beryoga_info p {
	font-family: 'Gotu', sans-serif;
	margin: 10px 0;
}

/* footer */
footer {
	background: url(img/footer-bg.png) center no-repeat;
	margin-top: 70px;
	background-size: cover;
}

.top_footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.top_footer .column {
	background: #fff;
	border-radius: 25px;
	-webkit-box-shadow: 1px 8px 54px rgba(255, 0, 5, 0.19);
	box-shadow: 1px 8px 54px rgba(255, 0, 5, 0.19);
	-ms-flex-preferred-size: 25%;
	max-width: 280px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.top_footer .column p.center {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	background: #ff6a6d;
	text-align: center;
	padding: 20px 0;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.top_footer .column li {
	padding: 20px;
}

.top_footer .column .fa-check {
	color: #fff;
	background: #ff6a6d;
	border-radius: 30px;
	width: 30px;
	height: 30px;
	text-align: center;
}

.top_footer .column li.price {
	font-size: 50px;
	text-align: center;
}

.top_footer .column li.sale {
	color: #5281ce;
	text-align: center;
}

.top-footer_button2 {
	background: #ff6a6d;
	color: #fff;
	-webkit-box-shadow: 1px 8px 54px rgba(255, 0, 5, 0.19);
	box-shadow: 1px 8px 54px rgba(255, 0, 5, 0.19);
	text-align: center;
	padding: 10px 20px;
	border-radius: 50px;
}

.top-footer_button1 {
	background: #6cd6f7;
	color: #fff;
	-webkit-box-shadow: 1px 21px 24px rgba(95, 206, 244, 0.29);
	box-shadow: 1px 21px 24px rgba(95, 206, 244, 0.29);
	text-align: center;
	padding: 10px 20px;
	border-radius: 50px;
}

.top-footer_button1:hover {
	background: #fff;
	color: #6cd6f7;
}

/* center_footer */
.center_footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 40px 0;
}

.center_footer_menu {
	display: flex;
	flex-direction: column;
	text-align: center;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.center_footer_menu p.menu_caption {
	font-weight: 600;
	text-transform: uppercase;
}

.center_footer_menu a {
	font-family: 'Gotu', sans-serif;
	color: #5281ce;
}

.center_footer_menu a:hover {
	text-decoration: underline;
}

/*** АДАПТИВ ****/

/*** Смартфон 3.5 ****/
@media (max-width:320px) {}

@media (max-width:700px) {

	/* burger*/
	.header_burger {
		display: block;
	}

	.right_nav {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: #6cd6f7;
		z-index: 10;
		padding: 20px;
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
		-webkit-transition: .2s all linear;
		-o-transition: .2s all linear;
		transition: .2s all linear;
	}

	.right_nav ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.right_nav_active {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	.header_item {
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}

	.header_item:last-child {
		margin-bottom: 0;
	}

	.header_link {
		font-size: 42px;
		line-height: 48px;
	}

	.header_nav-close {
		width: 40px;
		height: 40px;
		position: absolute;
		top: 6%;
		right: 22%;
		z-index: 11;
	}

	.header_nav-close-line {
		display: block;
		width: 100%;
		height: 2px;
		background-color: #fff;
		position: absolute;
		top: 50%;
	}

	.header_nav-close-line:first-child {
		-webkit-transform: translateY(-50%)rotate(45deg);
		-ms-transform: translateY(-50%)rotate(45deg);
		transform: translateY(-50%)rotate(45deg);
	}

	.header_nav-close-line:last-child {
		-webkit-transform: translateY(-50%)rotate(-45deg);
		-ms-transform: translateY(-50%)rotate(-45deg);
		transform: translateY(-50%)rotate(-45deg);
	}

	/* end burger */
}