html { overflow-x: hidden; }
a{
	text-decoration:none;
	color:#fcac45;
}
a:hover{
	text-decoration:none;
	color:#fcac45;
}
ul{
	list-style:none;
}
body{
	font-size:14px;
	line-height:1.5;
	color:#999999;
	font-family:Times New Roman, Arial;
}
/***************  Header        *************************/
.top-block{
	width:100%;
	height:100vh;
	overflow:hidden;
	padding-top:40px;
	background:#000;
}
.top-block video{
	position:absolute;
	top:0;
	left:0;
	object-fit:cover;
	width:100%;
	height:100%;
	pointer-events:none;
}
.top-block header{
	position:relative;
	z-index:1;
}
nav.navbar{
	background:transparent;
	border:none;
}
.navbar-brand .logo{
	font-size:32px;
	font-family:Times New Roman, Arial;
	text-transform:uppercase;
	color:#fcac45;
}
.navbar-nav{ 
	margin-left:300px; 
	font-size:20px;
}
.navbar-nav li.li a{
	color:#fff;
}
.navbar-nav li.active1 a{
	color:#fcac45;
}
/* heading */
.heading{
	margin-top:100px;
	color:#fff;
}
.heading h1{
	color:#fff;
	text-transform:uppercase;
}
.yellow{
	color:#fcac45;
}
.heading p{
	font-size:24px;
	text-transform:none;
	cursor:pointer;
}
.circle-button{
	border-radius:50px;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	width:50px;
	height:50px;
	background:transparent;
	border:2px solid #fff;
	margin-top:200px;
	margin-bottom:50px;
	outline:none;
}
/*****************  END HEADER       *****************************/

/******************** white-and-black-block  *************/
#white_and_black_block{
	padding-top:50px;
}
/******************** white1  *************/
.white1{
	background:#ffffff;
}
.white1 h3{
	color:#5e6874;
	font-size:26px;
	padding-bottom:30px;
}
.white1 h3:hover{
	color:#373f49;
	font-size:26px;
	cursor:pointer;
}
.white1 img:hover{
	margin-left:-10px;
}
.section ul{
	line-height:30px;
	list-style:inside;
	list-style-image:url(img/arrow.png);
}
.box {
	font-size:12px;
	border:1px solid #999999;
	background:#ffffff;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	width:200px;
	padding:7px;
	margin-top:20px;
}
.box:hover{
	border:1px solid #fcac45;
}
.box img{
		padding-right:5px;
}
/******************** black1 *************/
.black1{
	background:#070707;
}
.black1 h2{
	font-size:44px;
	color:#ffffff;
}
.black1 h3{
	font-size:20px;
	font-weight:bold;
	color:#ffffff;
}
.black1 h3:hover{
	color:#fcac45;
	cursor:pointer;
}
.black1 h4:hover{
	color:#fcac45;
	cursor:pointer;
}
.black1 p{
	margin-bottom:100px;
}
.ava_icon{
	display:flex;
	align-items:center;
	justify-content:center;
	width:125px;
	height:125px;
	border:2px solid #fff;
	background-color:#fff;
	border-radius:50%;
	-webkit-border-radius:50%;
	   -moz-border-radius:50%;
	color:#000;
	font-size:32px;
	margin:0 0 50px 70px;   
}
.ava_icon:hover{
	color:#fcac45;
	background:#D3D3D3;
}

hr{
   width:150px; 
   border: 1px solid #fcac45;
   margin-top:-4px;
}
.second_hr hr{
	width:75px; 
    border:1px solid #b37b33;
	margin-top:-10px;
	margin-bottom:120px;
}

/******************** white2  *************/
.white2{
	background:#ffffff;
}
.white2 h2{
	color:#222222;
	font-size:44px;
	text-transform:uppercase;
}
.white2 h3{
	color:#000000;
	font-size:25px;
	text-transform:uppercase;
}
.white2 h3:hover{
	font-weight:bold;
	cursor:pointer;
}
.white2 p{
	color:#222222;
	margin-bottom:100px;
}
.white2 p:hover{
	color:#fcac45;
	cursor:pointer;
}
.facts-list_icon{
	display:flex;
	align-items:center;
	justify-content:center;
	width:120px;
	height:120px;
	margin-bottom:30px;
	border:5px solid #f39c12;
	border-radius:50%;
	-webkit-border-radius:50%;
	   -moz-border-radius:50%;
	color:#000;
	font-size:40px;
	margin:0 0 10px 80px;
}
.facts-list_icon:hover{
	border-color:#000;
	background:#dcdcdc;
}
.white2 h5{
	font-size:16px;
	font-style:italic;
	margin-bottom:120px;
}
/******************** black2  *************/
.black2{
	background:#070707;
}
.black2 h2{
	font-size:44px;
	color:#ffffff;
	text-transform:uppercase;
}
.black2 img{
	margin-bottom:50px;
}
.slick-dots{
	margin-top:50px;
	outline:none
}
/******************** white3  ******************/
.white3{
	background:#ffffff;
	margin-bottom:50px;
}
.white3 h2{
	color:#222222;
	font-size:44px;
	text-transform:uppercase;
}
.white3 h3{
	color:#222222;
	font-size:18px;
	text-transform:uppercase;
}
.white3 p{
	color:#222222;
	margin-bottom:60px;
}
.white3 h5{
	font-size:16px;
	font-style:italic;
	margin-bottom:60px;
}
/* nav-tab-list */
.nav-tab-list{
	list-style:none;
	text-align:center;
	margin-bottom:80px;
}
.nav-tab-list_item{
	display:inline-block;
}
.nav-tab-list_item.active .nav-tab-list_link{
	color:#f39c12;
}
.nav-tab-list_item:after{
	content:'\\\\';
	display:inline-block;
	vertical-align:middle;
	font-size:14px;
	font-weight:700;
	line-height:25px;
	color:#a6a6a6;
	margin:0 18px;
}
.nav-tab-list_item:last-child:after{
	display:none;
}
.nav-tab-list_link{
	font-size:14px;
	font-weight:700;
	line-height:25px;
	text-transform:uppercase;
	color:#0d0d0d;
}
.nav-tab-list_link:hover{
	color:#f39c12;
}
.hide{
	position:absolute;
	left:0;
	top:0;
	height:0;
	width:0;
	overflow:hidden;
	z-index:-1;
	opacity:0;
}
.tab-cont{
	opacity:1;
	transition:opacity 0.4s;
}
.tab-cont.hide{
	opacity:0;
}
/*portfolio*/
.portfolio-list{
	display:flex;
	flex-wrap:wrap;
}
.portfolio-list_item{
	width:25%;
	position:relative;
}
.portfolio-list_item:hover  .portfolio-list_preview{
	display:block;
}
.portfolio-list_item:hover  .portfolio-list_img i{
	display:none;
}
.portfolio-list_item:hover .portfolio-list_title{
	color:#f39c12;
}
.portfolio-list_item:hover .portfolio-list_img img{
	opacity:0.6;
}
.portfolio-list_link{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:2;
}
.portfolio-list_img{
	position:relative;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:58px;
}
.portfolio-list_img img{
	display:block;
	width:100%;
	opacity:1;
	transition:opacity 0.4s;
}
.portfolio-list_footer{
	padding:20px 10px;
	text-align:center;
}
.portfolio-list_title{
	line-height:22px;
	color:#0d0d0d;
	font-size:15px;
	font-weight:700;
	text-transform:uppercase;
	margin-bottom:4px;
}
.portfolio-list_category{
	color:#8c8c8c;
	font-size:14px;
	font-weight:400;
}
.portfolio-list_preview{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	width:98px;
	height:98px;
	background:rgba(8,6,6,0.5)url('../img/plus.png')no-repeat center;
	border-radius:50%;
	-webkit-border-radius:50%;
	   -moz-border-radius:50%;
	display:none;
	z-index:3;
}

/******************** black3  *************/
.black3{
	background:#070707;
}
.black3 h2{
	font-size:44px;
	color:#ffffff;
	text-transform:uppercase;
}

.black3 h3{
	color:#ffffff;
	margin:30px 0;
}
.black3 h4{
	margin-bottom:50px;
}
.black3 img{
	margin-bottom:100px;
}
/******************** white4  *************/
.white4{
	background:#ffffff;
}
.white4 h2{
	color:#222222;
	font-size:44px;
	text-transform:uppercase;
}

.white4 p{
	color:#808080;
	font-size:14px;
	margin:0 50px;
}
.white4 h5{
	font-size:16px;
	font-style:italic;
	margin-bottom:120px;
}
#messege input[type="text"],[type="email"]{
	width:400px;
	margin:0 50px;
	border:1px solid #ccc;
	height:40px;
	margin-bottom:30px;
	padding:10px;
	outline:none;
}

#messege textarea{
	width:980px;
	height:210px;
	background:#fff;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	margin:0px 50px;
	padding:10px;
	outline:none;
}
.btn{
	color:#fff;
	background:#fcac45;
	margin:30px 100px 100px 0;
	width:140px;
	height:30px;
}
.btn:hover{
	color:#fff;
	background:rgba(239,147,9);
}
/******************** footer  *************/
#footer{
	background:#222222;
}
#footer p{
	font-size:14px;
	color:#ffffff;
	margin:40px 0 40px 40px;
}
#footer ul li{
	padding-right:24px;
	display:inline-block;
	margin-top:30px;
}

/**************** АДАПТИВ *********************/
/****************   Смартфон 3.5*****************************/
@media(min-width:0px) and (max-width:320px){
	.heading{
	font-size:34px;
	margin-left:10px;
	}
	.navbar-nav{margin-left:10px;}
	.heading h1{
	margin-top:-30px;
	}
	.circle-button{
	margin-top:20px;
	margin-bottom:30px;
	}
	.white1 h3{
	font-size:20px;
	margin:-100px 5px 0px 5px;
	position: absolute;
	}
	.white1 h3:hover{
	font-size:20px;
	}
	.tv img{ 
	width:160px;
	position: relative;
	}
	.white1 p{
	margin-top:20px;
	}
	.section ul{
	line-height:20px;
	margin-left:-20px;
	}
	.box {
	font-size:17px;
	width:200px;
	padding:1px;
	margin:5px 0 10px 20px;
	}
	.black1 img{
	margin-bottom:2px;
	}
	.black1 p{
	margin-bottom:20px;
	}
	.second_hr hr{
	margin-bottom:20px;
	}
	.white2 h2{
	font-size:24px;
	}
	.white2 p{
	margin-bottom:5px;
	}
	.white2 h5{
	margin-bottom:20px;
	}
	.black2 h2{
	font-size:24px;
	}
	.black2 img{
	margin-bottom:30px;
	}
	.white3 h2{
	font-size:24px;
	}
	.portfolio-list_item{
		width:100%;
	}
	.white3 img{
	width:150px;
	}
	.black3 h2{
	font-size:24px;
	}
	.black3 h3{
	color:#ffffff;
	margin:10px 0;
	}
	.white4 h2{
	font-size:24px;
	}
	.white4 p{
	margin:0 10px;
	}
	.white4 h5{
	margin-bottom:20px;
	}
#messege input[type="text"],input[type="email"]{
	width:270px;
	margin:0 6px;
	margin-bottom:20px;
}

#messege textarea{
	width:250px;
	height:120px;
	margin:0px 6px;
}
.btn{
	color:#fff;
	background:#fcac45;
	margin:10px 120px 40px 0;
	width:140px;
	height:30px;
	}
	#footer p{
	margin-top:20px;
	}
	#footer ul li{
	padding-right:6px;
	margin-top:2px;
	margin-left:4px;
	}
}
/****************   Смартфон 5.5*****************************/
@media(min-width:321px) and (max-width:480px){
	.heading{
	font-size:34px;
	margin-left:10px;
	}
	.navbar-nav{margin-left:10px;}
	.heading h1{
	margin-top:-20px;
	}
	.circle-button{
	margin-top:20px;
	margin-bottom:30px;
	}
	.white1 h3{
	font-size:20px;
	margin:-100px 5px 0px 5px;
	position: absolute;
	}
	.white1 h3:hover{
	font-size:20px;
	}
	.tv img{ 
	width:160px;
	position: relative;
	}
	.white1 p{
	margin-top:20px;
	}
	.section ul{
	line-height:20px;
	margin-left:-20px;
	}
	.box {
	font-size:17px;
	width:200px;
	padding:1px;
	margin:5px 0 10px 20px;
	}
	.ava_icon{margin-left:140px;}
	.black1 p{
	margin-bottom:20px;
	}
	.second_hr hr{
	margin-bottom:20px;
	}
	.white2 h2{
	font-size:24px;
	}
	.white2 p{
	margin-bottom:5px;
	}
	.white2 h5{
	margin-bottom:20px;
	}
	.facts-list_icon{margin-left:150px;}
	.black2 h2{
	font-size:24px;
}
	.black2 img{
	margin-bottom:30px;
	}
	.white3 h2{
	font-size:24px;
	}
	.portfolio-list_item{
		width:100%;
	}
	.black3 h2{
	font-size:24px;
	}
	.black3 h3{
	color:#ffffff;
	margin:10px 0;
	}
	.white4 h2{
	font-size:24px;
	}
	.white4 p{
	margin:0 10px;
	}
	.white4 h5{
	margin-bottom:20px;
	}
#messege input[type="text"], input[type="email"]{
	width:270px;
	margin:0 6px;
	margin-bottom:20px;
}

#messege textarea{
	width:270px;
	height:120px;
	margin:0px 6px;
}
.btn{
	color:#fff;
	background:#fcac45;
	margin:10px 150px 40px 0;
	width:140px;
	height:30px;
	}
	#footer p{
	margin-top:20px;
	}
	#footer ul li{
	padding-right:6px;
	margin-top:2px;
	margin-left:4px;
	}
}
/****************   Планшет  *****************************/
@media(min-width:481px) and (max-width:768px){
	.logo{
	font-size:34px;
	margin-left:10px;
	}
	nav a{
	font-size:14px;
	margin-left:-8px;
	}
	.logo h1{
	margin-top:-20px;
	}
	.circle-button{
	margin-top:20px;
	margin-bottom:30px;
	}
	.white1 h3{
	font-size:20px;
	margin:-100px 5px 0px 5px;
	position: absolute;
	}
	.white1 h3:hover{
	font-size:20px;
	}
	.tv img{ 
	width:160px;
	position: relative;
	}
	.white1 p{
	margin-top:20px;
	}
	.section ul{
	line-height:20px;
	margin-left:-20px;
	}
	.box {
	font-size:17px;
	width:200px;
	padding:1px;
	margin:5px 0 10px 20px;
	}
	.meet_team{width:50%;}
	.ava_icon{margin-left:120px;}
	.black1 p{
	margin-bottom:20px;
	}
	.second_hr hr{
	margin-bottom:20px;
	}
	.white2 h2{
	font-size:24px;
	}
	.white2 p{
	margin-bottom:5px;
	}
	.white2 h5{
	margin-bottom:20px;
	}
	.web_design{width:50%;}
	.facts-list_icon{margin-left:100px;}
	.black2 h2{
	font-size:24px;
}
	.black2 img{
	margin-bottom:30px;
	}
	.white3 h2{
	font-size:24px;
	}
	.portfolio-list_item{
		width:50%;
	}
	.black3 h2{
	font-size:24px;
	}
	.black3 h3{
	color:#ffffff;
	margin:10px 0;
	}
	.white4 h2{
	font-size:24px;
	}
	.white4 p{
	margin:0 10px;
	}
	.white4 h5{
	margin-bottom:20px;
	}
#messege input[type="text"],input[type="email"]{
	width:400px;
	margin:0 26px;
	margin-bottom:20px;
}

#messege textarea{
	width:400px;
	height:120px;
	margin:0px 26px;
}
.btn{
	color:#fff;
	background:#fcac45;
	margin:10px 290px 40px 0;
	width:140px;
	height:30px;
	}
	#footer p{
	margin-top:20px;
	}
	#footer ul li{
	padding-right:6px;
	margin-top:2px;
	margin-left:4px;
	}
}
/****************   Ноутбук  *****************************/
@media(min-width:769px) and (max-width:992px){
	.logo{
	font-size:34px;
	}
	.navbar-nav{margin-left:10px;}
	.logo h1{
	margin-top:-20px;
	}
	.circle-button{
	margin-top:20px;
	margin-bottom:30px;
	}
	.white1 h3{
	font-size:20px;
	margin:-10px 5px 0px 5px;
	}
	.white1 h3:hover{
	font-size:20px;
	}
	.tv img{ 
	width:360px;
	}
	.white1 p{
	margin-top:20px;
	}
	.section ul{
	line-height:20px;
	margin-left:-20px;
	}
	.box {
	font-size:17px;
	width:200px;
	padding:1px;
	margin:5px 0 10px 20px;
	}
	.ava_icon{margin-left:120px;}
	.black1 p{
	margin-bottom:20px;
	}
	.second_hr hr{
	margin-bottom:20px;
	}
	.white2 h2{
	font-size:24px;
	}
	.white2 p{
	margin-bottom:5px;
	}
	.white2 h5{
	margin-bottom:20px;
	}
	.facts-list_icon{margin-left:120px;}
	.black2 h2{
	font-size:24px;
}
	.black2 img{
	margin-bottom:30px;
	}
	.white3 h2{
	font-size:24px;
	}
	.portfolio-list_item{
		width:25%;
	}
	.black3 h2{
	font-size:24px;
	}
	.black3 h3{
	color:#ffffff;
	margin:10px 0;
	}
	.white4 h2{
	font-size:24px;
	}
	.white4 p{
	margin:0 10px;
	}
	.white4 h5{
	margin-bottom:20px;
	}
#messege input[type="text"],input[type="email"]{
	width:400px;
	margin-left:-10px;
	margin-right:10px;
}
#messege textarea{
	width:500px;
	height:120px;
	margin:0px -10px;
}
.btn{
	color:#fff;
	background:#fcac45;
	width:140px;
	height:30px;
	}
	#footer p{
	margin-top:20px;
	}
	#footer ul li{
	padding-right:6px;
	margin-top:2px;
	margin-left:4px;
	}
}





