html { overflow-x: hidden; }
a{
	text-decoration:none;
	color:#fcac45;
}
a:hover{
	text-decoration:none;
	color:#fcac45;
}
ul{
	list-style:none;
}
body{
	font-size:14px;
	line-height:1.5;
	color:#999999;
	font-family:Times New Roman, Arial;
}
/***************  Header        *************************/
.top-block{
	background:#111111;
}
header{
	padding-top:50px;
	padding-bottom:100px;
}
.logo{
	color:#ffffff;
}
.logo1{
	color:#fcac45;
	font-size:24px;
	font-family:Times New Roman, Arial;
	text-transform:uppercase;
}
.logo h1{
	color:#999999;
	text-transform:uppercase;
}
.navbar-nav{margin-left:400px;}
.navbar-nav li{font-size:16px;}
.yellow{
	color:#fcac45;
}
.logo p{
	font-size:20px;
	text-transform:none;
	cursor:pointer;
}
.circle-button{
	border-radius:50px;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	width:50px;
	height:50px;
	background:#111111;
	border:2px solid #999999;
	margin-top:200px;
	margin-bottom:50px;
}
/*****************  END HEADER       *****************************/

/******************** white-and-black-block  *************/
#white_and_black_block{
	padding-top:50px;
}
/******************** white1  *************/
.white1{
	background:#ffffff;
}
.white1 h3{
	color:#5e6874;
	font-size:26px;
	padding-bottom:30px;
}
.white1 h3:hover{
	color:#373f49;
	font-size:26px;
	cursor:pointer;
}
.white1 img:hover{
	margin-left:-10px;
}
.section ul{
	line-height:30px;
	list-style:inside;
	list-style-image:url(img/arrow.png);
}
.box {
	font-size:12px;
	border:1px solid #999999;
	background:#ffffff;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	width:200px;
	padding:7px;
	margin-top:20px;
}
.box:hover{
	border:1px solid #fcac45;
}
.box img{
		padding-right:5px;
}
/******************** black1 *************/
.black1{
	background:#070707;
}
.black1 h2{
	font-size:44px;
	color:#ffffff;
}
.black1 h3{
	font-size:20px;
	font-weight:bold;
	color:#ffffff;
}
.black1 h3:hover{
	color:#fcac45;
	cursor:pointer;
}
.black1 h4:hover{
	color:#fcac45;
	cursor:pointer;
}
.black1 p{
	margin-bottom:100px;
}
.black1 img{
	margin-bottom:50px;
}
hr{
   width:150px; 
   border: 1px solid #fcac45;
   margin-top:-4px;
}
.second_hr hr{
	width:75px; 
    border:1px solid #b37b33;
	margin-top:-10px;
	margin-bottom:120px;
}
.black1 img{
	margin-bottom:100px;
}
/******************** white2  *************/
.white2{
	background:#ffffff;
}
.white2 h2{
	color:#222222;
	font-size:44px;
	text-transform:uppercase;
}
.white2 h3{
	color:#000000;
	font-size:25px;
	text-transform:uppercase;
}
.white2 h3:hover{
	font-weight:bold;
	cursor:pointer;
}
.white2 p{
	color:#222222;
	margin-bottom:100px;
}
.white2 p:hover{
	color:#fcac45;
	cursor:pointer;
}
.white2 img{
	margin-bottom:10px;
}
.white2 h5{
	font-size:16px;
	font-style:italic;
	margin-bottom:120px;
}
/******************** black2  *************/
.black2{
	background:#070707;
}
.black2 h2{
	font-size:44px;
	color:#ffffff;
	text-transform:uppercase;
}
.black2 img{
	margin-bottom:100px;
}
/******************** white3  *************/
.white3{
	background:#ffffff;
}
.white3 h2{
	color:#222222;
	font-size:44px;
	text-transform:uppercase;
}

.white3 h3{
	color:#222222;
	font-size:18px;
	text-transform:uppercase;
}
.white3 p{
	color:#222222;
	margin-bottom:100px;
}
.white3 img{
	margin-bottom:10px;
}
.white3 img:hover{
	opacity:0.8;
}
.white3 h5{
	font-size:16px;
	font-style:italic;
	margin-bottom:120px;
}
.white3 .list-inline li{
	padding-right:24px;
	background:url(img/str.png)no-repeat 100% 50%;
}
/******************** black3  *************/
.black3{
	background:#070707;
}
.black3 h2{
	font-size:44px;
	color:#ffffff;
	text-transform:uppercase;
}

.black3 h3{
	color:#ffffff;
	margin:30px 0;
}
.black3 h4{
	margin-bottom:50px;
}
.black3 img{
	margin-bottom:100px;
}
/******************** white4  *************/
.white4{
	background:#ffffff;
}
.white4 h2{
	color:#222222;
	font-size:44px;
	text-transform:uppercase;
}

.white4 p{
	color:#808080;
	font-size:14px;
	margin:0 50px;
}
.white4 h5{
	font-size:16px;
	font-style:italic;
	margin-bottom:120px;
}
#messege input[type="text"],[type="email"]{
	width:400px;
	margin:0 50px;
	border:1px solid #ccc;
	height:40px;
	margin-bottom:30px;
}

#messege textarea{
	width:980px;
	height:210px;
	background:#fff;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	margin:0px 50px;
}
.btn{
	color:#fff;
	background:#fcac45;
	margin:30px 100px 100px 0;
	width:140px;
	height:30px;
}
/******************** footer  *************/
#footer{
	background:#222222;
}
#footer p{
	font-size:14px;
	color:#ffffff;
	margin:40px 0 40px 40px;
}
#footer ul li{
	padding-right:24px;
	display:inline-block;
	margin-top:30px;
}

/**************** АДАПТИВ *********************/
/****************   Смартфон 3.5*****************************/
@media(min-width:0px) and (max-width:320px){
	.knopka img{
	display:none;
	}
	.logo{
	font-size:34px;
	margin-left:10px;
	}
	.navbar-nav{margin-left:10px;}
	.logo h1{
	margin-top:-30px;
	}
	.circle-button{
	margin-top:20px;
	margin-bottom:30px;
	}
	.white1 h3{
	font-size:20px;
	margin:-100px 5px 0px 5px;
	position: absolute;
	}
	.white1 h3:hover{
	font-size:20px;
	}
	.tv img{ 
	width:160px;
	position: relative;
	}
	.white1 p{
	margin-top:20px;
	}
	.section ul{
	line-height:20px;
	margin-left:-20px;
	}
	.box {
	font-size:17px;
	width:200px;
	padding:1px;
	margin:5px 0 10px 20px;
	}
	.black1 img{
	margin-bottom:2px;
	}
	.black1 p{
	margin-bottom:20px;
	}
	.second_hr hr{
	margin-bottom:20px;
	}
	.white2 h2{
	font-size:24px;
	}
	.white2 p{
	margin-bottom:5px;
	}
	.white2 h5{
	margin-bottom:20px;
	}
	.black2 h2{
	font-size:24px;
}
	.black2 img{
	margin-bottom:30px;
	}
	.white3 h2{
	font-size:24px;
	}
	.white3 .list-inline li{
	padding-right:4px;
	margin-left:-10px;
	background:url(img/str.png)no-repeat 100% 50%;
	}
	.white3 img{
	width:150px;
	}
	.black3 h2{
	font-size:24px;
	}
	.black3 h3{
	color:#ffffff;
	margin:10px 0;
	}
	.white4 h2{
	font-size:24px;
	}
	.white4 p{
	margin:0 10px;
	}
	.white4 h5{
	margin-bottom:20px;
	}
#messege input[type="text"]{
	width:270px;
	margin:0 6px;
	margin-bottom:20px;
}

#messege textarea{
	width:270px;
	height:120px;
	margin:0px 6px;
}
.btn{
	color:#fff;
	background:#fcac45;
	margin:10px 120px 40px 0;
	width:140px;
	height:30px;
	}
	#footer p{
	margin-top:20px;
	}
	#footer ul li{
	padding-right:6px;
	margin-top:2px;
	margin-left:4px;
	}
}
/****************   Смартфон 5.5*****************************/
@media(min-width:321px) and (max-width:480px){
	.knopka img{
	display:none;
	}
	.logo{
	font-size:34px;
	margin-left:10px;
	}
	.navbar-nav{margin-left:10px;}
	.logo h1{
	margin-top:-20px;
	}
	.circle-button{
	margin-top:20px;
	margin-bottom:30px;
	}
	.white1 h3{
	font-size:20px;
	margin:-100px 5px 0px 5px;
	position: absolute;
	}
	.white1 h3:hover{
	font-size:20px;
	}
	.tv img{ 
	width:160px;
	position: relative;
	}
	.white1 p{
	margin-top:20px;
	}
	.section ul{
	line-height:20px;
	margin-left:-20px;
	}
	.box {
	font-size:17px;
	width:200px;
	padding:1px;
	margin:5px 0 10px 20px;
	}
	.black1 img{
	margin-bottom:2px;
	}
	.black1 p{
	margin-bottom:20px;
	}
	.second_hr hr{
	margin-bottom:20px;
	}
	.white2 h2{
	font-size:24px;
	}
	.white2 p{
	margin-bottom:5px;
	}
	.white2 h5{
	margin-bottom:20px;
	}
	.black2 h2{
	font-size:24px;
}
	.black2 img{
	margin-bottom:30px;
	}
	.white3 h2{
	font-size:24px;
	}
	.white3 .list-inline li{
	padding-right:4px;
	margin-left:-10px;
	background:url(img/str.png)no-repeat 100% 50%;
	}
	.black3 h2{
	font-size:24px;
	}
	.black3 h3{
	color:#ffffff;
	margin:10px 0;
	}
	.white4 h2{
	font-size:24px;
	}
	.white4 p{
	margin:0 10px;
	}
	.white4 h5{
	margin-bottom:20px;
	}
#messege input[type="text"]{
	width:270px;
	margin:0 6px;
	margin-bottom:20px;
}

#messege textarea{
	width:270px;
	height:120px;
	margin:0px 6px;
}
.btn{
	color:#fff;
	background:#fcac45;
	margin:10px 120px 40px 0;
	width:140px;
	height:30px;
	}
	#footer p{
	margin-top:20px;
	}
	#footer ul li{
	padding-right:6px;
	margin-top:2px;
	margin-left:4px;
	}
}
/****************   Планшет  *****************************/
@media(min-width:481px) and (max-width:768px){
	.logo{
	font-size:34px;
	margin-left:10px;
	}
	nav a{
	font-size:14px;
	margin-left:-8px;
	}
	.logo h1{
	margin-top:-20px;
	}
	.circle-button{
	margin-top:20px;
	margin-bottom:30px;
	}
	.white1 h3{
	font-size:20px;
	margin:-100px 5px 0px 5px;
	position: absolute;
	}
	.white1 h3:hover{
	font-size:20px;
	}
	.tv img{ 
	width:160px;
	position: relative;
	}
	.white1 p{
	margin-top:20px;
	}
	.section ul{
	line-height:20px;
	margin-left:-20px;
	}
	.box {
	font-size:17px;
	width:200px;
	padding:1px;
	margin:5px 0 10px 20px;
	}
	.black1 img{
	margin-bottom:2px;
	}
	.black1 p{
	margin-bottom:20px;
	}
	.second_hr hr{
	margin-bottom:20px;
	}
	.white2 h2{
	font-size:24px;
	}
	.white2 p{
	margin-bottom:5px;
	}
	.white2 h5{
	margin-bottom:20px;
	}
	.black2 h2{
	font-size:24px;
}
	.black2 img{
	margin-bottom:30px;
	}
	.white3 h2{
	font-size:24px;
	}
	.white3 .list-inline li{
	padding-right:4px;
	margin-left:-10px;
	background:url(img/str.png)no-repeat 100% 50%;
	}
	.black3 h2{
	font-size:24px;
	}
	.black3 h3{
	color:#ffffff;
	margin:10px 0;
	}
	.white4 h2{
	font-size:24px;
	}
	.white4 p{
	margin:0 10px;
	}
	.white4 h5{
	margin-bottom:20px;
	}
#messege input[type="text"]{
	width:400px;
	margin:0 26px;
	margin-bottom:20px;
}

#messege textarea{
	width:400px;
	height:120px;
	margin:0px 26px;
}
.btn{
	color:#fff;
	background:#fcac45;
	margin:10px 120px 40px 0;
	width:140px;
	height:30px;
	}
	#footer p{
	margin-top:20px;
	}
	#footer ul li{
	padding-right:6px;
	margin-top:2px;
	margin-left:4px;
	}
}
/****************   Ноутбук  *****************************/
@media(min-width:769px) and (max-width:992px){
	.logo{
	font-size:34px;
	}
	.navbar-nav{margin-left:10px;}
	.logo h1{
	margin-top:-20px;
	}
	.circle-button{
	margin-top:20px;
	margin-bottom:30px;
	}
	.white1 h3{
	font-size:20px;
	margin:-10px 5px 0px 5px;
	}
	.white1 h3:hover{
	font-size:20px;
	}
	.tv img{ 
	width:360px;
	}
	.white1 p{
	margin-top:20px;
	}
	.section ul{
	line-height:20px;
	margin-left:-20px;
	}
	.box {
	font-size:17px;
	width:200px;
	padding:1px;
	margin:5px 0 10px 20px;
	}
	.black1 img{
	margin-bottom:2px;
	}
	.black1 p{
	margin-bottom:20px;
	}
	.second_hr hr{
	margin-bottom:20px;
	}
	.white2 h2{
	font-size:24px;
	}
	.white2 p{
	margin-bottom:5px;
	}
	.white2 h5{
	margin-bottom:20px;
	}
	.black2 h2{
	font-size:24px;
}
	.black2 img{
	margin-bottom:30px;
	}
	.white3 h2{
	font-size:24px;
	}
	.white3 .list-inline li{
	padding-right:4px;
	margin-left:-10px;
	background:url(img/str.png)no-repeat 100% 50%;
	}
	.black3 h2{
	font-size:24px;
	}
	.black3 h3{
	color:#ffffff;
	margin:10px 0;
	}
	.white4 h2{
	font-size:24px;
	}
	.white4 p{
	margin:0 10px;
	}
	.white4 h5{
	margin-bottom:20px;
	}
#messege input[type="text"]{
	width:400px;
	margin-left:-10px;
	margin-right:10px;
}
#messege textarea{
	width:500px;
	height:120px;
	margin:0px -10px;
}
.btn{
	color:#fff;
	background:#fcac45;
	width:140px;
	height:30px;
	}
	#footer p{
	margin-top:20px;
	}
	#footer ul li{
	padding-right:6px;
	margin-top:2px;
	margin-left:4px;
	}
}





