html {
	overflow-x: hidden;
}
body {
	font-size: 16px;
	line-height: 1.5;
	color: #000;
	font-family: "PT Serif", serif;
	background-color: #fff;
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

/* header */
header {
	background: url("../img/header-bg.png") no-repeat center;
	padding: 20px 0;
	background-size: cover;
}

header .header-top h3 {
	font-family: "Mountains of Christmas", cursive;
	font-size: calc(20px + 12 * (100vw / 1200));
}

header .header-top button {
	font-family: "Lora", serif;
	font-size: 22px;
	color: #000;
	background-color: #f1f1f1;
	border: 2px solid #000;
	padding: 4px 10px;
}

header .header-top button:hover {
	background-color: #dfdfdf;
}

/* The Modal (background) */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/* modal-window content */
.container1 {
	padding: 16px;
	background-color: white;
	text-align: left;
}

.container1 input[type="text"],
.container1 input[type="password"] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

.container1 input[type="text"]:focus,
.container1 input[type="password"]:focus {
	background-color: #ddd;
	outline: none;
}

.registerbtn {
	background-color: #ccc;
	color: #f1f1f1;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

.registerbtn:hover {
	opacity: 1;
}

.signin {
	background-color: #f1f1f1;
	text-align: center;
}

/* header-center */
.header-center {
	margin: 100px 0 80px;
}

.header-center h1 {
	font-size: calc(30px + 16 * (100vw / 1200));
	line-height: 1;
	font-family: "Lora", serif;
}

.header-center button {
	font-family: "Lora", serif;
	font-size: 22px;
	color: #000;
	background-color: #f1f1f1;
	border: 2px solid #000;
	padding: 4px 10px;
	margin-top: 40px;
}

.header-center button:hover {
	background-color: #dfdfdf;
}

.header-center img {
	max-width: 550px;
	width: 100%;
}

/* The side navigation menu */
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#main {
	transition: margin-left 0.5s;
	padding: 20px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

	.sidenav a {
		font-size: 18px;
	}
}

/* about */
.about {
	margin: 70px 0;
}

.about h2 {
	font-size: 36px;
	font-family: "Mountains of Christmas", cursive;
	text-align: center;
}

.about p {
	font-size: 18px;
	margin: 14px 0;
}

.about p span {
	font-size: 66px;
	line-height: 1;
	font-family: "Mountains of Christmas", cursive;
	float: left;
	margin-top: -20px;
}

.hr {
	height: 2px;
	color: #e5e5e5;
	border: 0;
	text-align: center;
	margin-top: 70px;
}

.hr img {
	position: relative;
	top: -50px;
}

/* product */
.product {
	margin: 70px 0;
}

.product h4 {
	font-size: 30px;
	margin-bottom: 30px;
}

.product p {
	font-size: 18px;
	margin-bottom: 60px;
}

.product .price {
	display: flex;
	justify-content: space-around;
	max-width: 400px;
	width: 100%;
}

.product .price p {
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}

.product .price p.price-number {
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
}

.product .price p.line {
	font-size: 40px;
	line-height: 1;
}

.product button {
	font-family: "Lora", serif;
	font-size: 22px;
	color: #000;
	background-color: #f1f1f1;
	border: 2px solid #000;
	padding: 4px 10px;
}

.product button:hover {
	background-color: #dfdfdf;
}

.product__img {
	max-width: 488px;
	width: 100%;
}

/* advantages */
.advantages {
	margin: 70px 0;
}

.advantages h4 {
	font-size: 30px;
	margin-bottom: 50px;
}

.advantages img {
	height: 80px;
	margin-bottom: 12px;
}

.advantages p {
	font-size: 18px;
	line-height: 1;
	font-weight: bold;
	max-width: 240px;
	margin: 0 auto;
}

.advantages-item {
	padding: 20px 0;
}

.advantages-item:hover {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
	-webkit-box-shadow: 0 3px 25px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 25px rgba(0, 0, 0, 0.3);
	-webkit-transition: -webkit-box-shadow 0.2s ease-in, -webkit-transform 0.2s ease-in;
	transition: -webkit-box-shadow 0.2s ease-in, -webkit-transform 0.2s ease-in;
	transition: box-shadow 0.2s ease-in, transform 0.2s ease-in;
	transition: box-shadow 0.2s ease-in, transform 0.2s ease-in, -webkit-box-shadow 0.2s ease-in,
		-webkit-transform 0.2s ease-in;
}

/* clients */
.clients {
	padding: 70px 0 20px;
}

.clients h4 {
	font-size: 30px;
	margin-bottom: 50px;
}

.clients p {
	font-size: 20px;
	font-family: "Lora", serif;
}

.clients p.text-author {
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	text-decoration: overline;
	margin: 20px 20px 40px 0;
}

.clients ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.clients li {
	background-color: #ddd;
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 8px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	margin-right: 7px;
}

.clients li:hover {
	background-color: #000;
}

.slider-block {
	display: flex;
	justify-content: center;
}

.slider-block:focus {
	outline: none;
}

/* slider */
.clients .slick-list {
	overflow: hidden;
}

.clients .slick-track {
	display: flex;
}

.clients .slider {
	position: relative;
	padding: 0 20px;
}

/* contact */
.contact {
	background: url("../img/contact-bg.png") no-repeat center;
	padding: 40px 0;
	background-size: cover;
}

.contact h4 {
	font-size: 30px;
	padding: 50px 0 70px;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact input[type="text"],
.contact input[type="email"] {
	border: 1px solid #ddd;
	max-width: 400px;
	width: 100%;
	height: 40px;
	background: #fff;
	padding: 10px;
	margin: 10px 0;
}

.contact textarea {
	border: 1px solid #ddd;
	max-width: 400px;
	width: 100%;
	height: 90px;
	background: #fff;
	padding: 10px;
	margin: 24px 0;
}

.contact input[type="submit"] {
	font-family: "Lora", serif;
	font-size: 22px;
	color: #000;
	background-color: #f1f1f1;
	border: 2px solid #000;
	padding: 4px 10px;
}

.contact input[type="submit"]:hover {
	background-color: #dfdfdf;
}

/* tab-list */
.tab-list {
	margin: 70px 0;
}

.tab-list h4 {
	font-size: 30px;
	padding: 30px 0;
}

/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

.tab button {
	background-color: inherit;
	float: center;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 45px;
	transition: 0.3s;
	color: #000;
	font-size: 17px;
	font-family: "Lora", serif;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	background-color: #ccc;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

.tabcontent h3 {
	font-family: "Mountains of Christmas", cursive;
	font-size: 20px;
	padding: 14px 0;
}

.tabcontent p {
	font-family: "Lora", serif;
	padding: 14px 0;
}

/* painting */
.painting {
	background: url("../img/contact-bg.png") no-repeat center;
	padding: 40px 0;
	background-size: cover;
}

.painting h4 {
	font-size: 30px;
	margin-bottom: 30px;
}

.painting img {
	max-width: 250px;
	width: 100%;
	height: 350px;
	margin: 0 auto;
}

.painting-block {
	width: 350px;
	text-align: center;
}

.painting-block:focus {
	outline: none;
}

.painting-block p {
	font-size: 18px;
}

.painting-block p span {
	font-family: "Lora", serif;
	font-weight: bold;
	font-style: italic;
}

/* slider1 */
.slick-list {
	overflow: hidden;
}

.slick-track {
	display: flex;
}

.slider1 {
	position: relative;
	padding: 0 30px;
}

.slider1 .slick-arrow {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 50px;
	border: 2px solid #a8a8a8;
}

.slider1 .slick-arrow.slick-prev {
	left: 0;
	background: #a8a8a8 url("../img/arrow-left.svg") center no-repeat;
}

.slider1 .slick-arrow.slick-next {
	right: 0;
	background: #a8a8a8 url("../img/arrow-right.svg") center no-repeat;
}

/* manuscripts */
.manuscripts {
	background-color: #f1f1f1;
	padding: 30px 0;
}

.manuscripts h4 {
	font-size: 30px;
	padding: 10px 0 40px;
}
.manuscripts .jpg #buttons{
	text-align: center;
	margin: 20px 0;
}
.manuscripts button {
	font-family: "Lora", serif;
	font-size: 22px;
	color: #000;
	background-color: #f1f1f1;
	border: 2px solid #000;
	padding: 4px 10px;
	margin: 10px 5px;
}
.manuscripts button:hover, button.active {
	background-color: #dfdfdf;
	cursor: pointer;
}
.manuscripts #gallery {
	text-align: center;
	max-width: 1020px;
	margin: 0 auto;
}
.manuscripts #gallery img {
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	height: 170px;
	border: 8px solid #fff;
    box-shadow: 0 0 3px 3px #ebebeb;
}

/* footer */
footer {
	padding: 24px 0;
	background-color: #ccc;
}

footer p {
	font-size: 20px;
	font-family: "Mountains of Christmas", cursive;
}

footer ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
	list-style: none;
}

footer ul li {
	background: #fff;
	border: 2px solid #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	width: 40px;
	height: 40px;
	text-align: center;
	padding-top: 7px;
}

footer ul li:hover {
	border: 2px solid #000;
}

/* @media */
@media (max-width: 750px) {
	.tab button {
		padding: 14px;
	}
}
@media (max-width: 600px) {
	.slider-block {
		display: flex;
		flex-direction: column;
	}

	.grid-container {
		grid-template-columns: 1fr;
		grid-template-areas:
			" item5 "
			" item11 "
			" item1"
			"item2 "
			" item3"
			" item4 "
			" item6"
			" item7 "
			" item8"
			" item9 "
			" item10"
			" item12 "
			" item13 ";
	}
}
